white = #FFFFFF
offWhite = #EBEFF0
gray = #B8BEC1
grayLgt = #DCDCDC
black = #000000
purple = #A76DDC
blue = #60BCEA
orange = #F59248
pink = #DB5386
pinkNew = #EC6382
green = #5CE8BB
red = #F45E48

.purple
  color purple
.blue
  color blue
