.case-study-detail-points
  padding 150px 0

.case-study-detail-point
  position relative
  margin-bottom 50px

  .text-wrapper
    width 100%
    display block

    @media (min-width 1275px)
      width 38%
      display inline-block

    .inline-mobile
      display block
      margin 0 auto 20px auto
      width 100%
      height auto

      @media (min-width 1275px)
        display none

    .text
      width 100%
      padding-left 20px
      padding-right 20px

      @media (min-width 600px)
        padding-left 150px
        padding-right 150px

      @media (min-width 1275px)
        position: absolute
        top 50%
        transform translateY(-50%)
        padding-right 0


    h3
      width 100%
      max-width 100%
      font-size 24px
      font-weight 600
      margin-bottom 8px

      @media (min-width 1275px)
        max-width 330px

    p
      width 100%
      max-width 100%
      font-size 20px
      font-weight 400
      line-height 1.8

      @media (min-width 1275px)
        max-width 330px

  .image-wrapper
    width 60%
    display none

    @media (min-width 1275px)
      display inline-block
