.case-study-fourth-point

  .heading-diamond
    color clr-black
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 36px
    margin 0 auto 15px auto
    max-width 800px
    @media (min-width: 501px)
      font-size 48px
    @media (min-width: 992px)
      font-size 80px

  .text-wide
    color clr-black
    text-align center

  .case-study-point-content-wrapper
    margin-bottom 100px
