.case-study-problem-solution
  height auto

/**
 * Indiviual case-study pages' height/spacing controls
 * to accommodate the design's offset images
 */

#gymjones-page
  .case-study-problem-solution
    padding-bottom 250px
    @media (min-width: 1275px)
      padding-bottom 400px

#provigil-page
  .case-study-problem-solution
    padding-bottom 300px
    @media (min-width: 1275px)
      padding-bottom 400px

#silvervue-page
  .case-study-problem-solution
    padding-bottom 250px
    @media (min-width: 1275px)
      padding-bottom 400px

#schoolimprovement-page
  .case-study-problem-solution
    padding-bottom 250px
    @media (min-width: 1275px)
      padding-bottom 400px


/**
 * Shared styles of case-study-problem-solution section's list
 */

.case-study-problem-solution-list
  list-style none
  margin 0
  padding 0

  > li
    vertical-align top
    width 100%
    margin-right 0
    display block
    @media (min-width: 992px)
      display inline-block
      width 32%
      margin-right 8%

    &:last-child
      width 100%
      @media (min-width: 992px)
        width 20%
        margin-right 0

  .what-we-did-list
    list-style disc
    margin-left 20px

    li
      line-height 1.9

  .text-head
    font-weight 600
    font-size 24px
    margin-bottom 10px

  .text-col
    line-height 1.8
