.case-study-detail-points
  padding 150px 0

.case-study-detail-point
  position relative

  .text-wrapper
    width 38%
    display inline-block

    .text
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width 100%
      padding-left 150px

    h3
      width 100%
      max-width 330px
      font-size 24px
      font-weight 600
      margin-bottom 8px

    p
      width 100%
      max-width 330px
      font-size 20px
      font-weight 400
      line-height 1.8

  .image-wrapper
    width 60%
    display inline-block
