/**
 * shared styles for case-study before-after slider
 */

.before-after-slider
  position relative
  width 100%
  margin 0 auto

.before-img-label
  position: absolute;
  top: -20px
  left: 0
  font-size: 12px;
  font-weight: 400;
  font-family 'europa'
  @media (min-width: 1275px)
    top: 50%;
    left: -120px;
    font-size: 24px;
    font-weight: 600;

.after-img-label
  position: absolute;
  top: -20px
  right: 0
  font-size: 12px;
  font-weight: 400;
  font-family 'europa'
  color: white;
  @media (min-width: 1275px)
    top: 50%;
    right: -105px;
    font-size: 24px;
    font-weight: 600;

.ba-slider
  overflow visible

.ba-slider
  .handle
    top -10px
    bottom -10px
    width 3px
    background clr-black
    &:after
      content ''
      top auto
      bottom -30px
      margin-left -15px
      border 0
      border-radius 0
      box-shadow none
      background-color transparent
      background-image url('./img/before-after-slider-arrow.png');
      background-repeat no-repeat
      background-size 100%
      width 34px
      height 34px


/**
 * before-after section for silvervue case-study page
 */

.silvervue-before-after
  position relative
  padding-bottom 300px



/**
 * unique before-after slider style for
 * each case-study page
 */

#silvervue-page
  .before-after-wrapper
    margin-top 150px

  .before-after-slider
    max-width 442px

  .before-img-label
    color black
    transform none
    @media (min-width: 1275px)
      transform translateY(-50%)

  .after-img-label
    color black
    transform none
    @media (min-width: 1275px)
      transform translateY(-50%)


#provigil-page
  .before-after-wrapper
    position absolute
    top -150px
    left 0
    width 100%
    @media (min-width: 400px)
      top -200px
    @media (min-width: 600px)
      top -300px
    @media (min-width: 800px)
      top -400px
    @media (min-width: 1275px)
      top -450px

  .before-after-slider
    max-width 945px

  .before-img-label
    color white

  .after-img-label
    color white
