.case-study-slider
  width 90%
  height auto
  max-width 1021px
  margin -200px auto 0 auto
  @media (min-width 800px)
    margin-top -400px

  &.slick-dotted.slick-slider
    margin-bottom 200px

  .slick-slide
    height auto

  .slick-prev,
  .slick-next
    width 30px
    height 30px
    background-repeat no-repeat
    background-size 100%
    background-position center center

    @media(min-width 500px)
      width 45px
      height 45px

  .slick-prev
    background-image url('/img/slider-arrow-left.png')
    left -45px
    @media(min-width 500px)
      left -75px

    &:before
      display none

  .slick-next
    background-image url('/img/slider-arrow-right.png')
    right -45px
    @media(min-width 500px)
      right -75px

    &:before
      display none

  img
    max-width 100%



/**
 * unique style for each case-study page
 */

#provigil-page
  .case-study-slider
    margin 0 auto
    @media (min-width 800px)
      margin 0 auto

    &.slick-dotted.slick-slider
      margin-bottom 0
