.case-study-fourth-point
  background-color clr-white
  height 1000px

  .heading-diamond
    color clr-black
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 80px
    margin 0 auto 15px auto
    max-width 800px

  .text-wide
    color clr-black
    text-align center
