#gymjones-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
  &:before
    pseudo-bg()
    background clr-black
  &:after
    pseudo-bg()
    background url('/img/gymjones/gymjones1.jpg') no-repeat
    background-position top center
    background-size 150%
    background-color white
    +below(res-tablet)
      background-size 350%

  .person-photo
    display block
    margin 0 auto
    max-width 100%

  .case-study-second-point
    position relative
    height auto

    .case-study-point-content-wrapper
      position relative
      margin 0 auto
      margin-top 200px

  .case-study-third-point
    position relative
    height auto

    .case-study-point-content-wrapper
      margin-top 450px

  .bg-gymjones1
    &:before
      background-image url('/img/gymjones/gymjones-designing.jpg')

.gymjones-laptop-phone-wrapper
  position absolute
  top -14%
  left 0
  width 100%
  height auto

  @media (min-width 1275px)
    top -28%

.gymjones-laptop-phone
  position relative
  width 100%
  height auto
  text-align center

  img
    display inline-block
    max-width 100%

    &.phone
      position: absolute;
      bottom: 0;
      right: 150px;
