#gymjones-page

  .person-photo
    display block
    margin 0 auto
    max-width 100%

  .case-study-third-point
    position relative
    height auto
    padding-top 450px
    padding-bottom 100px

    @media (min-width 800px)
      padding-bottom 300px

  .bg-gymjones1
    &:before
      background-image url('/img/gymjones/gymjones-designing.jpg')

  /**
   * img slider
   */
  .case-study-slider
    margin-top -200px

    @media (min-width 800px)
      margin-top -400px

  .slick-dotted.slick-slider
    margin-bottom 200px

.gymjones-laptop-phone-wrapper
  position absolute
  top -14%
  left 0
  width 100%
  height auto

  @media (min-width 1275px)
    top -28%

.gymjones-laptop-phone
  position relative
  width 100%
  height auto
  text-align center

  img
    max-width 100%
    margin 0 auto

  .gymjones-laptop-phone-large
    display none

    @media (min-width 600px)
      display block

  .gymjones-laptop-phone-small
    display block

    @media (min-width 600px)
      display none
