#gymjones-page

  .person-photo
    display block
    margin 0 auto
    max-width 100%

  .bg-gymjones1
    &:before
      background-image url('/img/gymjones/gymjones-designing.jpg')


.gymjones-laptop-phone-wrapper
  position absolute
  top -14%
  left 0
  width 100%
  height auto

  @media (min-width 1275px)
    top -28%

.gymjones-laptop-phone
  position relative
  width 100%
  height auto
  text-align center

  img
    max-width 100%
    margin 0 auto

  .gymjones-laptop-phone-large
    display none

    @media (min-width 600px)
      display block

  .gymjones-laptop-phone-small
    display block

    @media (min-width 600px)
      display none
