.case-study-next-up
  background-color clr-black
  margin-top -50px
  height 1000px
  text-align center

  .plat-gymjones
    background url('/img/cards/gymjones.png') clr-offBlack no-repeat
    background-position 0px center
    background-size 150%
    border 1px solid clr-purple

  .plat-provigil
    background url('/img/cards/provigil.png') clr-offBlack no-repeat
    background-position 0px center
    background-size 150%
    border 1px solid clr-purple

  .platform
    .outline
      transform translate(-30px,-50px)
    &.on-left
      left 0
      transform none

      @media (min-width: 501px)
        left 50%
        transform translateX(-50%)

      @media (min-width: 992px)
        left 150px
        transform none

  .next-up-link-wrapper
    position absolute
    top -45px
    left 0

    @media (min-width: 992px)
      top 30%
      left -60%

    a
      font-size 28px
      font-weight 600

      @media (min-width 992px)
        font-size 95px

.case-study-next-up-content
  display inline-block
  position relative
  margin-top 10%
  margin-left 0
  width 100%

  @media (min-width: 992px)
    margin-left -50%
    width auto
