.case-study-next-up
  background-color clr-black
  margin-top -50px
  height 1000px
  text-align center

  .plat-gymjones
    background url('/img/cards/gymjones.png') clr-offBlack no-repeat
    background-position 0px center
    background-size 150%
    border 1px solid clr-purple

  .platform
    .outline
      transform translate(-30px,-50px)

  .next-up-link-wrapper
    position absolute
    top 30%
    left -60%

    a
      font-size 95px
      font-weight 600

.case-study-next-up-content
  display inline-block
  position relative
  margin-top 10%
  margin-left -50%
