#provigil-page

  .case-study-problem-solution
    height auto
    padding-bottom 300px

    @media (min-width: 1275px)
      padding-bottom 400px

  /**
   * 2nd point
   */
  .case-study-second-point
    position relative
    background-color clr-white
    height 1200px

    .case-study-point-content-wrapper
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 100%
      max-width 90%

  /**
   * Before-After Slider
   */
  .before-after-wrapper
    position absolute
    top -150px
    left 0
    width 100%

    @media (min-width: 400px)
      top -200px

    @media (min-width: 600px)
      top -300px

    @media (min-width: 800px)
      top -400px

    @media (min-width: 1275px)
      top -450px

  .before-after-slider
    position relative
    max-width 945px
    width 100%
    margin 0 auto

    .before-img-label
      position: absolute;
      top: -20px
      left: 0
      font-size: 12px;
      font-weight: 400;
      color: white;
      font-family 'europa'
      @media (min-width: 1275px)
        top: 50%;
        left: -120px;
        font-size: 24px;
        font-weight: 600;

    .after-img-label
      position: absolute;
      top: -20px
      right: 0
      font-size: 12px;
      font-weight: 400;
      font-family 'europa'
      color: white;
      @media (min-width: 1275px)
        top: 50%;
        right: -105px;
        font-size: 24px;
        font-weight: 600;

  .ba-slider
    overflow visible

  .ba-slider
    .handle
      top -10px
      bottom -10px
      width 3px
      background clr-black
      &:after
        content ''
        top auto
        bottom -30px
        margin-left -15px
        border 0
        border-radius 0
        box-shadow none
        background-color transparent
        background-image url('./img/before-after-slider-arrow.png');
        background-repeat no-repeat
        background-size 100%
        width 34px
        height 34px



  .slick-slide
    img
      max-width 100%

  /**
   * Third Point
   */
  .case-study-third-point
    height auto
    padding-bottom 350px

    @media (min-width 800px)
      padding-bottom 550px


.provigil-desktop-tablet-phone-wrapper
  position absolute
  top -14%
  left 0
  width 100%
  height auto

  @media (min-width 1275px)
    top -22%

.provigil-desktop-tablet-phone
  position relative
  width 100%
  height auto
  text-align center

  img
    max-width 100%
    margin 0 auto

  .provigil-desktop-tablet-phone-large
    display none

    @media (min-width 800px)
      display block

  .provigil-desktop-tablet-phone-small
    display block

    @media (min-width 800px)
      display none



.provigil-photo-column-wrapper
  position relative
  margin-top -100%
  width 100%
  height auto

  @media (min-width: 600px)
    margin-top -513px

  .provigil-photo-column
    column-count 1
    column-gap 40px
    text-align center

    @media (min-width: 1275px)
      column-count 2

  .provigil-photo
    display inline-block
    margin 20px 0
    width 100%
    padding 0 15px

    @media (min-width: 1275px)
      margin 20px
      padding 0

    img
      max-width 100%

    &:nth-child(1)
      text-align center

      @media (min-width: 1275px)
        text-align right

    &:nth-child(2)
      text-align center

      @media (min-width: 1275px)
        text-align right

      img
        box-shadow -46px 46px 100px rgba(20, 20, 25, .6)

    &:nth-child(3)
      text-align center

      @media (min-width: 1275px)
        text-align left

      img
        box-shadow -46px 46px 100px rgba(20, 20, 25, .6)
        margin-top 112px

    &:nth-child(4)
      text-align center

      @media (min-width: 1275px)
        text-align left
