#schoolimprovement-page

  .person-photo
    display block
    margin 0 auto
    max-width 100%

  .case-study-unique-challenges-list
    li
      &.firstlist::before
        background-image url('/img/schoolimprovement/schoolimprovement-icon-watch.png')
        background-repeat no-repeat
        background-size 49px
        background-position center center
      &.secondlist::before
        background-image url('/img/schoolimprovement/schoolimprovement-common-core.png')
        background-repeat no-repeat
        background-size 29px
        background-position center center

  /**
   * img slider
   */
  .case-study-slider
    margin-top -200px

    @media (min-width 800px)
      margin-top -400px

  .slick-dotted.slick-slider
    margin-bottom 200px

.schoolimprovement-desktop-tablet-phone-wrapper
  position absolute
  top -10%
  left 0
  width 100%
  height auto

  @media (min-width 1275px)
    top -24%

.schoolimprovement-desktop-tablet-phone
  position relative
  width 100%
  height auto
  text-align center

  img
    max-width 100%
    margin 0 auto

  .schoolimprovement-desktop-tablet-phone-large
    display none

    @media (min-width 600px)
      display block

  .schoolimprovement-desktop-tablet-phone-small
    display block

    @media (min-width 600px)
      display none
