.case-study-second-point
  position relative
  background-color clr-white
  height 1200px

  .case-study-point-content-wrapper
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

  .heading-diamond
    color clr-white
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 80px
    margin-bottom 15px

  .text-wide
    color clr-white
    text-align center
