.case-study-second-point
  position relative
  background-color clr-white
  height 1200px

  .case-study-point-content-wrapper
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 100%
    max-width 90%

  .heading-diamond
    color clr-white
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 36px
    margin-bottom 15px

    @media (min-width: 501px)
      font-size: 48px

    @media (min-width: 992px)
      font-size 80px

  .text-wide
    color clr-white
    text-align center
