.case-study-hero
  height 700px

  .heading-diamond
    color clr-white
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 80px
    margin-bottom 15px

  .text-wide
    color clr-white
    text-align center

.case-study-buffer-area
  padding 0
