.case-study-hero
  height auto
  @media (min-width: 992px)
    height 530px
  @media (min-width: 1275px)
    height 700px

  .heading-diamond
    color clr-white
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 48px
    margin-bottom 15px

    @media (min-width: 992px)
      font-size 80px

  .text-wide
    color clr-white
    text-align center

.case-study-buffer-area
  padding 0
