#silvervue-page

  .silvervue-tablet-wrapper
    position absolute
    top -8%
    left 0
    width 100%
    height auto

    @media (min-width 1275px)
      top -20%

  .silvervue-tablet
    img
      margin 0 auto
      display block
      max-width 95%


  .bg-silvervue1
    &:before
      background-image url('/img/silvervue/silvervue-designing.jpg')



  /**
   * Mobile Ready
   */

  .mobile-ready
    position relative
    padding-top 200px
    padding-bottom 400px
    .content-wrapper
      width 90%
      max-width 100%
      @media(min-width 992px)
        max-width 50%
      .heading-diamond
        margin-left 0
        margin-right 0
      .heading
        text-align left
        margin-bottom 20px
      .text-wide
        text-align left
        margin-bottom 0
        margin-left 0
    .image-wrapper
      position absolute
      top -140px
      right 0
      width 50%
      text-align right
      display none
      @media(min-width 992px)
        display block
      img
        max-width 100%


  /**
   * STyle guide
   */

  .style-guide-wrapper
    margin 0 auto
    margin-top -500px
    position relative
    text-align center

    @media (min-width 800px)
      margin-top -1000px

    img
      max-width 100%

    .style-guide
      display inline-block
      position relative

    .style-guide-text
      position relative
      top auto
      right auto
      width 90%
      max-width 100%
      color white
      margin-bottom 50px
      @media(min-width 1140px)
        position absolute
        top 50px
        right 0
        width 100%
        max-width 330px
        margin-bottom 0
      h3
        font-family 'europa'
        font-size 24px
        font-weight 600
        text-align left
        margin-bottom 20px
      p
        font-size 20px
        text-align left
        line-height 1.6
