#silvervue-page

  .case-study-problem-solution
    height auto
    padding-bottom 250px

    @media (min-width: 1275px)
      padding-bottom 400px

  .silvervue-tablet-wrapper
    position absolute
    top -8%
    left 0
    width 100%
    height auto

    @media (min-width 1275px)
      top -20%

  .silvervue-tablet
    img
      margin 0 auto
      display block
      max-width 95%


  /**
   * Second Point
   */
  .case-study-second-point
    .case-study-point-content-wrapper
      padding 150px 0 800px 0

  /**
   * Third Point
   */
  .case-study-third-point
    position relative
    height auto
    padding-bottom 100px

    @media (min-width 800px)
      padding-bottom 400px

    .case-study-point-content-wrapper
      padding-top 450px

  /**
   * img slider
   */
  .case-study-slider
    margin-top -200px

    @media (min-width 800px)
      margin-top -400px

  .slick-dotted.slick-slider
    margin-bottom 200px

  .bg-silvervue1
    &:before
      background-image url('/img/silvervue/silvervue-designing.jpg')



  /**
   * Mobile Ready
   */

  .mobile-ready
    position relative
    padding-top 200px
    padding-bottom 400px
    .content-wrapper
      width 90%
      max-width 100%
      @media(min-width 992px)
        max-width 50%
      .heading-diamond
        margin-left 0
        margin-right 0
      .heading
        text-align left
        margin-bottom 20px
      .text-wide
        text-align left
        margin-bottom 0
        margin-left 0
    .image-wrapper
      position absolute
      top -140px
      right 0
      width 50%
      text-align right
      display none
      @media(min-width 992px)
        display block
      img
        max-width 100%


  /**
   * Before/after section
   */

  .silvervue-before-after
    position relative
    padding-bottom 300px


  /**
   * STyle guide
   */

  .style-guide-wrapper
    margin 0 auto
    margin-top -500px
    position relative
    text-align center

    @media (min-width 800px)
      margin-top -1000px

    img
      max-width 100%

    .style-guide
      display inline-block
      position relative

    .style-guide-text
      position relative
      top auto
      right auto
      width 90%
      max-width 100%
      color white
      margin-bottom 50px
      @media(min-width 1140px)
        position absolute
        top 50px
        right 0
        width 100%
        max-width 330px
        margin-bottom 0
      h3
        font-family 'europa'
        font-size 24px
        font-weight 600
        text-align left
        margin-bottom 20px
      p
        font-size 20px
        text-align left
        line-height 1.6


  /**
   * Before-After Slider
   */
  .before-after-wrapper
    margin-top 150px

  .before-after-slider
    position relative
    max-width 442px
    width 100%
    margin 0 auto

    .before-img-label
      position: absolute;
      top: -20px
      left: 0
      font-size: 12px;
      font-weight: 400;
      color: black;
      font-family 'europa'
      transform none
      @media (min-width: 1275px)
        top: 50%;
        left: -120px;
        font-size: 24px;
        font-weight: 600;
        transform translateY(-50%)

    .after-img-label
      position: absolute;
      top: -20px
      right: 0
      font-size: 12px;
      font-weight: 400;
      font-family 'europa'
      color: black;
      transform none
      @media (min-width: 1275px)
        top: 50%;
        right: -105px;
        font-size: 24px;
        font-weight: 600;
        transform translateY(-50%)

  .ba-slider
    overflow visible

  .ba-slider
    .handle
      top -10px
      bottom -10px
      width 3px
      background clr-black
      &:after
        content ''
        top auto
        bottom -30px
        margin-left -15px
        border 0
        border-radius 0
        box-shadow none
        background-color transparent
        background-image url('./img/before-after-slider-arrow.png');
        background-repeat no-repeat
        background-size 100%
        width 34px
        height 34px
