.case-study-third-point
  position relative

  .heading-diamond
    color clr-white
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 36px
    margin-bottom 15px

    @media (min-width: 501px)
      font-size: 48px

    @media (min-width: 992px)
      font-size 80px

  .text-wide
    color clr-white
    text-align center


.case-study-unique-challenges-list
  list-style none
  margin 70px auto 150px auto
  padding 0
  width 100%
  max-width 780px

  li
    position relative
    margin 0 0 50px 0
    padding-left 180px
    line-height 1.8
    font-size 20px

    &::before
      content ''
      position absolute
      top 0
      left 0
      width 120px
      height 120px
      border 1px solid #2D2D2D
      border-radius 50%
      opacity
