.case-study-third-point
  position relative
  background-color clr-white
  height 1000px

  .heading-diamond
    color clr-white
    text-align center

  .heading
    color clr-prored
    text-align center
    font-size 80px
    margin-bottom 15px

  .text-wide
    color clr-white
    text-align center
