/**
 * partials base
 */

body
  font-family 'freight-sans-pro'
  font-size 1em

.wrapper
  &:before
    content ''
    background-repeat no-repeat
    background-position center center
    background-size 100vw
    position absolute
    top 0
    left 0
    right 0
    height 700px
    z-index -1

.heading
  text-align center
  padding-top 100px

section
  position relative
  padding 300px hPad

.content
  &.on-right
    margin-left 60%

.slanted
  transform skewY(3deg)
  backface-visibility hidden
  position absolute
  top 0
  bottom -1px
  left 0
  right 0
  z-index -1
  overflow hidden
  .bg-image
    background-color black
    background-repeat no-repeat
    background-position center center
    background-size cover
    transform skewY(-3deg)
    position absolute
    top -50px
    bottom -50px
    left 0
    right 0

.bg-dark
  background-color black
.dark
  color white
.bg-light
  background-color white
.light
  color black

.raised-image
  position absolute
  top 55%
  transform translateY(-50%)
  box-shadow -45px 45px 65px rgba(0,0,0,.5)
  z-index 10
  &.on-left
    left hPad
    .outline
      transform translate(-45px, -40px)
  &.on-right
    right hPad
    .outline
      transform translate(45px, -40px)
  .image
    background black
    width 450px
    height 500px
    position relative
    z-index 10
    img
      max-width 80%
      max-height 80%
      vertical-align middle
      position absolute
      top 50%
      right 0
      transform translateY(-50%)
  .outline
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    width 100%
    height 100%
    gradient-border(red, magenta, 1px)
    z-index 9
