/**
 * partials base
 */

body
  font-family 'freight-sans-pro'
  font-size 1.1em

.wrapper
  &:before
    content ''
    background-repeat no-repeat
    background-position center center
    background-size 100vw
    position absolute
    top 0
    left 0
    right 0
    height 700px
    z-index -1

.heading
  text-align center
  padding-top 100px

section
  position relative
  padding 300px hPad

.content
  &.on-right
    margin-left 60%

.slanted
  transform skewY(3deg)
  backface-visibility hidden
  position absolute
  top 0
  bottom -1px
  left 0
  right 0
  z-index -1
  overflow hidden
  .bg-image
    background-color black
    background-repeat no-repeat
    background-position center center
    background-size cover
    transform skewY(-3deg)
    position absolute
    top -50px
    bottom -50px
    left 0
    right 0

.bg-dark
  background-color offBlack
.dark
  color white
.bg-light
  background-color white
.light
  color black

.raised-platform
  position absolute
  top 55%
  transform translateY(-50%)
  box-shadow -46px 46px 100px rgba(20, 20, 25, .6)
  z-index 9
  transition box-shadow .3s
  &:hover
    box-shadow -25px 25px 60px rgba(20, 20, 25, .8)
  &.on-left
    left hPad
    .outline
      transform translate(-45px, -40px)
  &.on-right
    right hPad
    .outline
      transform translate(45px, -40px)
  .box
    width 450px
    height 500px
    position relative
    color white
    &:hover
      .overlay
        opacity 1
    &:active
      .overlay
        h4, h6
          opacity .6
    .overlay
      display flex
      flex-direction column
      justify-content center
      text-align center
      background rgba(34, 35, 37, .87)
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      opacity 0
      transition all .3s
  .outline
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    width 100%
    height 100%
    gradient-border(red, magenta, 1px)
    z-index -1

.cols
  display flex
  justify-content space-between
