/**
 * partials home page
 */

#home-page
  &:before
    background-image url('/img/banners/desk.jpg')
    background-position top center
    opacity 0.15

  .cutout
    color darken(white, 15%)
    background url('/img/banners/desk.jpg') no-repeat
    background-size 100vw
    background-position (hPad * -1) -268px
    -webkit-background-clip text
    -webkit-text-fill-color transparent

  .bg-image
    &.gymjones
      background-image url('/img/banners/gymjones.jpg')
    &.goze
      background-image url('/img/banners/goze.jpg')
    &.silvervue
      background-image url('/img/banners/silvervue.jpg')
    &.provigil
      background-image url('/img/banners/provigil.jpg')
    &.office
      background-image url('/img/banners/office.jpg')

  .box
    &.gymjones
      background url('/img/cards/gymjones.png') offBlack no-repeat
      background-position 0px center
      background-size 150%
    &.goze
      background url('/img/cards/goze.png') offBlack no-repeat
      background-position center center
      background-size 100%
    &.silvervue
      background url('/img/cards/silvervue.png') offWhite no-repeat
      background-position 0px center
      background-size 150%
    &.provigil
      background url('/img/cards/provigil.png') offWhite no-repeat
      background-position 0px center
      background-size 120%

  p
    max-width 305px
    letter-spacing .2px
    margin 30px 0

  .vertical:last-of-type
    margin-top 150px

  section.clients
    padding 200px hPad
  section.provigil
    z-index 5
  section.what-were-best
    background url('/img/banners/office-big.jpg') offBlack
    background-size cover
    padding 200px hPad 80px

  .client-list
    position relative
    width 580px
    text-align center
    input[type="radio"]
      display none
      &:checked ~ img
        display block
      &:checked ~ label
        color black
    .tab
      display inline-block
      padding-top 250px
    img
      display none
      width 100%
      position absolute
      top 0
      left 0
    label
      display inline-block
      width 40px
      height 40px
      line-height 40px
      border 1px solid gray
      color gray
      text-align center
      font-family 'bebas-neue'
      margin 0 5px
      cursor pointer

  footer
    text-align center
    margin-top 320px
    h1
      margin-bottom 20px
    .one-more-thing
      display block
      font-size .8em
      font-weight 500
      margin-top 200px
