/**
 * partials nav
 */

nav
  position fixed
  top (vPad/2)
  right (hPad/2)
  text-align right
  z-index 10
  +below(res-mobile)
    top (hPad/3)
    right (vPad/3)
  &.opened
    #piglet
      top -100px
      opacity 0
    #nav-menu li
      right 0
      opacity 1

#piglet
  font-size 38px
  cursor pointer
  display inline-block
  position absolute
  opacity 1
  top 0
  right 0
  transition all .3s
  &:before
    @extend .icon-base
    content '\e604'

#nav-menu
  for i in 1 2 3 4 5 // number of nav items
    li:nth-child({i})
      transition-delay 0s + (i * .06)
  li
    position relative
    right -180px
    opacity 0
    transition all ease-out .3s
  a
    background black
    color white
    display inline-block
    padding 8px 11px
    margin-bottom 5px
    font-size 14px
    font-weight 500
    &:hover
      color red
