.bgBanner:before
  content ''
  width 100%
  height 100%
  background url('/img/banners/main.jpg') no-repeat
  background-size 100%
  position absolute
  z-index -1
  display block
  opacity 0.2

.home-page
  +below(500px)
    &:before
      content ''
      position absolute
      left 0
      right 0
      top 0
      height 600px
      background url('/bg.jpg') no-repeat black
      background-size 100vw
      background-position top center
      opacity 0.25
      z-index -1

  .heading
    padding 100px 0 220px 0
    z-index 8
    .bg-vid
      position absolute
      left 0
      top 0
      z-index -1
      // width auto
      // height 100vh
      // max-height 600px
      opacity 0.2
      +landscape()
        height 300%
        top -100%
      +portrait()
        width 300%
        left -100%
      +below(500px)
        display none

  h1
    color white
    font-size 4em
    &.cutout
      opacity 0.3
    &.gradient-bg
      background -webkit-linear-gradient(red, magenta)
      -webkit-background-clip text
      color red
      -webkit-text-fill-color transparent

  section
    text-align left
    .bg-image
      background-size cover
  section:nth-of-type(1)
    padding-bottom 350px
    .raised-image
      top 180px
  section:nth-of-type(2)
    padding-top 350px
    padding-bottom 280px
    .raised-image
      top 250px
      img
        left 50%
        transform translate(-50%, -50%)
  section:nth-of-type(3)
    padding-bottom 200px
    display flex
    justify-content space-between
  section:nth-of-type(4)
    padding-bottom 250px
    .raised-image
      top 100px
  section:nth-of-type(5)
    padding-top 300px
    padding-bottom 250px
    .raised-image
      top 300px
      img
        left 50%
        transform translate(-50%, -50%)
  section:nth-of-type(6)
    padding-bottom 200px
    z-index 8
    a
      font-size 1.2em
      color red
    i
      font-size 1.4em
      vertical-align middle
      margin-left 10px
  section:nth-of-type(7)
    text-align center
    z-index 7

  .clients
    width 550px
    .client
      display inline-block
      width 100px
      height 100px
      line-height 100px
      margin 40px
    .pagination
      text-align center
      li
        display inline-block
        width 30px
        height 30px
        line-height 25px
        border 1px solid lightGray
        color lightGray
        cursor default
        &:not(.active)
          cursor pointer
        &.active, &:hover
          color black
    .page-1
      display block
    .page-2
      display none
    .page-3
      display none

  p
    max-width 300px
    font-size 1.1em
    line-height 34px
    font-weight 300
    letter-spacing .2px
