/**
 * base
 */

body
  font-family 'freight-sans-pro'
  font-size 1.1em
  line-height normal
  color clr-black

.wrapper
  position relative

header.main
  display flex
  justify-content space-between
  padding (vPad/2) (hPad/2)
  +below(res-mobile)
    padding vPadMob hPadMob

.image-grid-wrap
  margin 50px auto
  img
    margin 5px

.image-grid
  @extend .image-grid-wrap
  white-space nowrap
  display flex
  justify-content center
