/**
 * base
 */

body
  font-family 'freight-sans-pro'
  font-size 1.1em
  line-height normal
  color clr-black
  background clr-white
  .header-bg
    background-repeat no-repeat
    background-size cover
    position absolute
    top 0
    left 0
    right 0
    height 700px
    z-index -1

.poop
  display none

.disable-hover,
.disable-hover *
  pointer-events none !important

.wrapper
  position relative



.image-grid-wrap
  margin 50px auto
  img
    margin 5px

.image-grid
  @extend .image-grid-wrap
  max-width 100vw
  overflow auto
  -webkit-overflow-scrolling touch
  white-space nowrap
  img
    display inline-block
    width 200px
    height 200px
  +below(res-mobile)
    img
      width 150px
      height 150px

.image-center
  max-width 100vw
  overflow auto
  white-space nowrap
  img
    margin 0 auto
  +below(res-mobile)
    img
      width 150px
      height 150px

.lineshape
  width 100%
  height 50px
  margin 50px 0
  &:before
    content ''
    border-bottom 1px solid #E8E8E8
    position absolute
    left 0
    right 0
    z-index 10
  +below(res-mobile)
    margin 0
