/**
 * colors
 */

clr-white = #FFFFFF
clr-offWhite = #E6E6E7
clr-black = #000000
clr-offBlack = #232425
clr-gray = #979797
clr-gray-lgt = #DCDCDC
clr-dusk = #45484C
clr-red = #F45E48
clr-magenta = #EC6382
clr-purple = #A76DDC
clr-blue = #60BCEA
clr-pink = #DB5386
clr-orange = #F59248
clr-green = #5CE8BB
clr-lime = #B0E46A

/**
 * classes
 */

.white
  color clr-white !important
.offWhite
  color clr-offWhite !important
.black
  color clr-black !important
.offBlack
  color clr-offBlack !important
.gray
  color clr-gray !important
.red
  color clr-red !important
.magenta
  color clr-magenta !important
.purple
  color clr-purple !important
.blue
  color clr-blue !important
.dusk
  color clr-dusk !important
.green
  color green !important
.lime
  color lime !important
