/**
 * mixins
 */

text-gradient(color1, color2, rotation = 45deg)
  display inline-block
  background -webkit-linear-gradient(rotation, color1, color2)
  -webkit-background-clip text
  color color1
  -webkit-text-fill-color transparent

gradient-animated()
  background linear-gradient(240deg, clr-purple, clr-blue, clr-green, clr-orange, clr-pink)
  background-size 1200% 1200%
  animation gradient-animated 120s ease infinite
  @keyframes gradient-animated
    0%
      background-position 0% 94%
    50%
      background-position 100% 7%
    100%
      background-position 0% 94%

text-gradient-animated()
  gradient-animated()
  display inline-block
  -webkit-background-clip text
  color clr-purple
  -webkit-text-fill-color transparent

gradient-border(color1, color2, size)
  midColor = mix(color1, color2)
  border none
  &:before
    content ''
    background-image linear-gradient(90deg, midColor, color2), linear-gradient(90deg, color1, midColor)
    // gradient-animated()
    background-repeat no-repeat
    background-size 100% 1px
    background-position 0 0, 0 100%
    width 100%
    height 100%
    left 0
    top 0
    position absolute
  &:after
    content ''
    background-image linear-gradient(midColor, color1), linear-gradient(color2, midColor)
    background-size 1px 100%
    background-position 0 0, 100% 0
    background-repeat no-repeat
    width 100%
    height 100%
    left 0
    top 0
    position absolute
