/**
 * mixins
 */

text-gradient(color1, color2, rotation = 45deg)
  display inline-block
  background -webkit-linear-gradient(rotation, color1, color2)
  -webkit-background-clip text
  color color1
  -webkit-text-fill-color transparent
  animation color-change 5s infinite

@keyframes color-change
  0%
      background -webkit-linear-gradient(45deg, clr-green, clr-blue)
      -webkit-background-clip text
  50%
      background -webkit-linear-gradient(45deg, clr-purple, clr-blue)
      -webkit-background-clip text
  100%
      background -webkit-linear-gradient(45deg, clr-orange, clr-pink)
      -webkit-background-clip text

gradient-border(color1, color2, size)
  midColor = mix(color1, color2)
  border none
  &:before
    content ''
    background-image linear-gradient(90deg, midColor, color2), linear-gradient(90deg, color1, midColor)
    background-size 100% 1px
    background-position 0 0, 0 100%
    background-repeat no-repeat
    width 100%
    height 100%
    left 0
    top 0
    position absolute
  &:after
    content ''
    background-image linear-gradient(midColor, color1), linear-gradient(color2, midColor)
    background-size 1px 100%
    background-position 0 0, 100% 0
    background-repeat no-repeat
    width 100%
    height 100%
    left 0
    top 0
    position absolute
