/**
 * platforms
 */

.platform
  position absolute
  +below(res-mobile)
    width 100%
    position relative
    left 0 !important
    right 0 !important
    padding 0
    margin 0
    // padding 50px 0
  &:not(.grow)
    top 25%
    margin 50px 0
    .box
      height 500px
      +below(res-mobile)
        height 300px !important
  &:active
    .overlay
      h4, h6
        opacity .6
  &.on-left
    left hPad
    .outline
      transform translate(-45px, -40px)
  &.on-right
    right hPad
    .outline
      transform translate(45px, -40px)
  .box
    box-shadow -46px 46px 100px rgba(20, 20, 25, .6)
    width 100%
    max-width 450px
    position relative
    transform translateZ(0)
    transition transform .3s, box-shadow .3s
    background #1a1a1a
    &:hover
      box-shadow -25px 25px 60px rgba(20, 20, 25, .8)
      transform scale(.95)
      .overlay
        opacity 1
        padding-top 0px
    +below(res-mobile)
      transform none !important
      right 0 !important
      left 0 !important
      width 100%
      max-width 450px

    .overlay
      display flex
      flex-direction column
      justify-content center
      text-align center
      background rgba(34, 35, 37, .87)
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      opacity 0
      transition opacity .3s, padding-top .3s
      padding-top 50px
      +below(res-mobile)
        opacity 1
        padding-top 0px
  .outline
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    width 100%
    height 100%
    gradient-border(clr-red, clr-magenta, 1px)
    +below(res-mobile)
      display none
  img
    max-width 450px
    width 100%
