/**
 * platforms
 */

.platform
  position absolute
  &:not(.grow)
    top 25%
    .box
      height 500px
  &:active
    .overlay
      h4, h6
        opacity .6
  &.on-left
    left hPad
    .outline
      transform translate(-45px, -40px)
  &.on-right
    right hPad
    .outline
      transform translate(45px, -40px)
  .box
    box-shadow -46px 46px 100px rgba(20, 20, 25, .6)
    width 450px
    position relative
    transform translateZ(0)
    transition transform .3s, box-shadow .3s
    &:hover
      box-shadow -25px 25px 60px rgba(20, 20, 25, .8)
      transform scale(.95)
      .overlay
        opacity 1
        padding-top 0px
    .overlay
      display flex
      flex-direction column
      justify-content center
      text-align center
      background rgba(34, 35, 37, .87)
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      opacity 0
      transition opacity .3s, padding-top .3s
      padding-top 50px
  .outline
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    width 100%
    height 100%
    gradient-border(clr-red, clr-magenta, 1px)
  img
    max-width 450px
