// /* elements links
//    ----------------------------- */
// a
//   text-decoration none
//   &:not(.btn)
//     outline none
//     color purple
//     &:hover
//       color purple + 20%

.block-link
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  z-index 10
