// /* elements modals
//    ----------------------------- */
// .modal
//   display none
//   fixed top bottom left right
//   background linear-gradient(45deg, blue, purple)
//   z-index 10
//   opacity 0.99
//   overflow auto
//
//   .close
//     position absolute
//     top 30px
//     right 30px
//     cursor pointer
//     font-size 30px
//     color white
//     &:hover
//       opacity 0.7
//
//   form
//     width 480px
//     text-align left
//     margin 100px auto 45px auto
//     .inpt
//       width 100%
//     button[type="submit"]
//       width 100%
//
//   .email-address
//     color white
//     font-weight 500
//     letter-spacing 1px
//     margin-bottom 50px
