/* modules colors
   ----------------------------- */
white = #FFFFFF
off-white = #EBEFF0
gray = #B8BEC1
gray-lgt = #DCDCDC
black = #000000
purple = #A76DDC
blue = #60BCEA
orange = #F59248
pink = #DB5386
green = #5CE8BB

/* classes
   ----------------------------- */
.purple
  color purple
.blue
  color blue
