/* modules colors
   ----------------------------- */
white = #FFFFFF
off-white = #EBEFF0
black = #000000
purple = #A023AE
pink = #E56C6C
orange = #E56C6C
blue = #72D2FF
green = #5CE7BC

/* gradients
   ----------------------------- */
alien-grad-1 = #7FA7DF // purple
alien-grad-2 = #CD79C6 // blue

ocean-grad-1 = #5CE7BC // green
ocean-grad-2 = #60BDE9 // blue

fire-grad-1 = #F49049 // orange
fire-grad-2 = #DB5385 // pink

/* classes
   ----------------------------- */
.purple
  color purple
.blue
  color blue
