/* modules typography
   ----------------------------- */
h1, h2, h3, h4, h5, h6
  margin 0
  font-family 'europa'

h1
  font-size 50px
  margin-bottom 5px
  &.huge
    font-size 95px
    font-weight 500
    margin-bottom 0

h2
  font-size 48px
  font-weight 600
h4
  font-family 'freight-sans-pro'
  font-size 16px
  font-weight 500
  letter-spacing 1px
  text-transform uppercase
h5
  font-family 'freight-sans-pro'
  font-size 22px
  font-weight 400
p
  font-size 20px
  font-weight 400
  line-height 34px
  margin auto
  margin-bottom 30px
  text-align left
  max-width 700px

.numbered-header
  display block
  margin 30px auto
  font-family 'europa'
  font-size 16px
  position relative
  transform rotate(45deg)
  width 30px
  height 30px
  line-height 30px
  span
    display block
    transform rotate(-45deg)
  &.light
    border 2px solid rgba(255, 255, 255, .2)
    color white
  &.dark
    border 2px solid rgba(0, 0, 0, .1)
    color black
