/**
 * colors
 */

black = #000000
offBlack = #1B1C1D
almostBlack = #111213
white = #FFFFFF
offWhite = #EBEFF0
lightGray = #EBEBEB
grayLgt = #DCDCDC
red = #F45E48
darkRed = #C9503F
magenta = #EC6382
purple = #A76DDC
blue = #60BCEA
pink = #DB5386
orange = #F59248
pinkNew = #EC6382
green = #5CE8BB

darkText = #44474B

/**
 * gradients
 */

darkGrad = linear-gradient(#1C1D1E, #18191A)
.alien-grad
  background linear-gradient(90deg, purple, blue)
.ocean-grad
  background linear-gradient(90deg, green, blue)
.fire-grad
  background linear-gradient(90deg, orange, pink)

/**
 * classes
 */

.white { color: white }
.bgWhite { background-color: white }

.lightGray { color: lightGray }
.bgLightGray { background-color: lightGray }

.black { color: black }
.bgBlack { background-color: black }

.offBlack { color: offBlack }
.bgOffBlack { background-color: offBlack }

.almostBlack { color: almostBlack }
.bgAlmostBlack { background-color: almostBlack }

.red { color: red }

.darkRed { color: darkRed }

.magenta { color: magenta }

.purple { color: purple }

.blue { color: blue }
