// /* partial home
//    ----------------------------- */
// .home-page
//
//   section:first-child
//     margin-bottom 150px
//
//   .case-study
//     height 100vh
//     position relative
//     .title
//       position absolute
//       left 10%
//       top 50%
//       transform translateY(-50%)
//       z-index 6
//     .image
//       position absolute
//       right 15%
//       top 50%
//       transform translateY(-50%)
//       z-index 5
//       width 470px
//       height 470px
//       img
//         min-width 100%
//         max-height 100%
//
//       .outline1:before, .outline1:after
//         top -83px
//         left -79px
//         animation outline-move 5s infinite linear alternate
//       .outline2:before, .outline2:after
//         top -38px
//         left -53px
//         animation outline-move2 5s infinite linear alternate
//       [class^="outline"]
//         &:before
//           content ''
//           background-image linear-gradient(90deg, purple-grad-2, purple-grad-1), linear-gradient(90deg, purple-grad-3, purple-grad-2)
//           background-size 100% 1px
//           background-position 0 0, 0 100%
//           background-repeat no-repeat
//           position absolute
//           width 560px
//           height 560px
//         &:after
//           content ''
//           background-image linear-gradient(purple-grad-2, purple-grad-3), linear-gradient(purple-grad-1, purple-grad-2)
//           background-size 1px 100%
//           background-position 0 0, 100% 0
//           background-repeat no-repeat
//           position absolute
//           width 560px
//           height 560px
//
// // @keyframes outline-move
// //   to
// //     top -50px
// //     left -50px
// // @keyframes outline-move2
// //   to
// //     top -50px
// //     left -70px
