/* partials nav
   ----------------------------- */
.nav
  list-style-type none
  position fixed
  top 50px
  right 60px
  text-align right
  letter-spacing 1.2px
  font-size 16px
  z-index 10

  .collapsed
    background white
    border 2px solid black
    border-radius 50%
    width 40px
    height 40px
    text-align center
    cursor pointer
    position absolute
    top -200px
    right 0
    transition top .4s
    &:before
      font-size 20px
      margin-left 1px
      line-height 42px
  a
    display inline-block
    background black
    color white
    padding 8px 11px
    margin-bottom 6px
    transition margin .3s
    &:hover
      color purple
      margin-right 5px

  &.not-scrolling
    li:not(.collapsed)
      margin-right -400px
      animation-name stagger-show
      animation-duration .3s
      animation-timing-function ease-out
      animation-fill-mode forwards
      &:nth-child(2)
        animation-delay 0s
      &:nth-child(3)
        animation-delay .05s
      &:nth-child(4)
        animation-delay .1s
      &:nth-child(5)
        animation-delay .15s
      &:nth-child(6)
        animation-delay .2s
  &.scrolling
    li:not(.collapsed)
      margin-right 0
      animation-name stagger-hide
      animation-duration .3s
      animation-timing-function ease-in
      animation-fill-mode forwards
      &:nth-child(2)
        animation-delay 0s
      &:nth-child(3)
        animation-delay .05s
      &:nth-child(4)
        animation-delay .1s
      &:nth-child(5)
        animation-delay .15s
      &:nth-child(6)
        animation-delay .2s
    .collapsed
      top 0

@keyframes stagger-hide
	to
    margin-right -400px
@keyframes stagger-show
	to
    margin-right 0
