extends _partials/layout
  
block content
  include _partials/header
  
  div.heading
    h4.purple WE'RE A CREATIVE DIGITAL AGENCY
    h1 Let's Build Together
  
  section(class="dark")
    div.bg-slanted
    p hi
  
  section
    p hi
    
  section(class="dark")
    div.bg-slanted
    p hi
