extends _partials/layout
  
block content
  include _partials/header
  
  div.work-page
  
    div.heading
      h5.purple WEB &middot; MOBILE &middot; UI &middot; BRANDING
      h1 Things we've built

    section(class="dark")
      div(class="bg-slanted bgBlack")
        
      p hi
