extends _partials/layout
  
block content
  include _partials/header
  
  div.heading
    h4.purple WEB &middot; MOBILE &middot; UI &middot; BRANDING
    h1 Things we've built

  section(class="dark")
    div(class="bg-slanted")
      
    p hi
