extend ../_partials/layout

append vars
  - var pageName = "gymjones-page"
  - var menuClass = "alternate"
  - var logoClass = "red"
  - var menuClass = "red"

block content
  include ../_partials/header

  section(class="area-header center")
    h3(class="heading-diamond white") 01
    h1(class="heading red") Gym Jones
    br
    p(class="text-wide center white") We designed and developed a new website for Gym Jones, a tight knit fitness community that conducts their teachings out of an unassuming gym in Salt Lake City. The website needed to be an online home for all of their users, not just those worthy of worshipping in their headquarters. #[a(href="gymjones.com", target="_blank", class="red") View the live site.]

  section(class="area-wide center")
    h3(class="heading-diamond") 02
    br
    br
    div(class="bg-slanted")
    div(class="flex")
      p(class="col-custom-2 left text-head") #[b Problem]
        br
        span(class="text-col") The Gym Jones site was not just looking dated, it needed new features that was not possible with the existing content management system.
      p(class="col-custom-2 left text-head") #[b Solution]
        br
        span(class="text-col") Update the site with an all new look and feel along with creating a new CMS for writing and publishing new content.
      p(class="col-custom-1 left text-head") #[b What we did]
        br
        span(class="text-col") 
          | &#8226;  User Research
          br
          | &#8226;  UI/UX Design
          br
          | &#8226;  Web Development
    div(class="lineshape")
    div(class="slider area-slider")
      div: img(src="/img/gymjones/slide-1.jpg")
      div: img(src="/img/gymjones/slide-2.jpg")
      div: img(src="/img/gymjones/slide-3.jpg")
      div: img(src="/img/gymjones/slide-4.jpg")
      div: img(src="/img/gymjones/slide-5.jpg")
    
    div(class="lineshape")    
    div(class="area-tiny")
      h3(class="heading-diamond") 03
      p(class="text-quote") "Our website is the most important part of our business. Without the absolute highest quality product we wouldn't be able to broadcast what we do. We needed to have it built by someone who delivered the best. HQ came through for us."
      br
      p - Rob Macdonald, Founder
  div(class="lineshape")
  section(class="area-tiny area-study")
    footer(class="center")
      h1(class="heading text-gradient-fire") Let's build together.
      br
      a(href="#contact", data-target="modal", class="btn btn-fire") GET IN TOUCH
      br
      h6(class="heading-tiny") WE &#10084; GREAT PRODUCTS
