extend /views/_partials/layout

append vars
  - var pageName = "provigil-page"
  - var menuClass = "alternate"
  - var logoClass = "prored"
  - var menuClass = "prored"
  - var pageTitle = "Case Study | Web Development "
  - var pageDescription = "We were tasked with the branding, redesign of the website, and the development of a large video surveillance company."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/studies/provigil"

block content
  include /views/_partials/header

  section(class="area-header case-study-hero")
    h3(class="heading-diamond") 01
    h1(class="heading") Pro-Vigil
    p(class="text-wide") Pro-Vigil is the largest mobile video surveillance company in the nation. They protect a variety of sites ranging from real-estate to cell phone towers. We had the awesome opportunity to re-brand the company to enhance their online and mobile presence. Add some good design, and even surveillance makes us excited.

  section(class="area-light case-study-problem-solution")
    div(class="bg-slanted bg-light-mask")
    div(class="bg-slanted")
    br
    br
    div(class="flex")
      div(class="col-custom-2 left")
        h3(class="text-head") Problem
        p(class="text-col") Pro-Vigil’s previous brand image did not reflect their passion for staying up-to-date on current technology, nor their professionalism and expertise in the field. The old website had a lot of valuable content, but it was a distraction from the end goal of obtaining leads.
      div(class="col-custom-2 left text-head")
        h3(class="text-head") Solution
        p(class="text-col") We created an exciting, new brand image that better represented who they are as a company and the direction that their business is headed.  Pro-Vigil’s services surpass that of their competitors’ and we were able to provide a new image that followed suit.
      div(class="col-custom-1 left")
        h3(class="text-head") What we did
        ul(class="text-col text-col-list")
          li User Research
          li UI/UX Design
          li Branding
          li Mobile &amp; Web Development

  section(class="area-blue case-study-second-point")
    div(class="bg-slanted bg-blue-mask")
    div(class="provigil-desktop-table-phone-wrapper")
      div(class="provigil-desktop-table-phone")
        img.desktop(src="/img/provigil/provigil-desktop.png" alt="Pro-Vigil desktop view")
        img.tablet(src="/img/provigil/provigil-tablet.png" alt="Pro-Vigil tablet view")
        img.phone(src="/img/provigil/provigil-phone.png" alt="Pro-Vigil phone view")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 02
      h2(class="heading") A "brand" new face
      p(class="text-wide") Re-branding a company can be an overwhelming task, but working with the great team at Pro-Vigil made it a pleasure. We were able to closely collaborate and share ideas with each other to create effective and beautiful solutions.

  section(class="area-light case-study-photo-showcase")
    div(class="bg-slanted bg-light-mask")
    div(class="provigil-photo-column-wrapper")
      div.provigil-photo-column
        div.provigil-photo
          img(src="/img/provigil/provigil-business-cards.jpg" alt="Pro-Vigil business cards design")
        div.provigil-photo
          img(src="/img/provigil/provigil-watch.jpg" alt="Pro-Vigil watch app design")
        div.provigil-photo
          img(src="/img/provigil/provigil-website.jpg" alt="Pro-Vigil website design")
        div.provigil-photo
          img(src="/img/provigil/provigil-print.jpg" alt="Pro-Vigil print design")
        //- img(src="/img/provigil/provigil-business-cards.jpg" alt="Pro-Vigil business cards design")
        //- img(src="/img/provigil/provigil-watch.jpg" alt="Pro-Vigil watch app design")
        //- img(src="/img/provigil/provigil-website.jpg" alt="Pro-Vigil website design")
        //- img(src="/img/provigil/provigil-print.jpg" alt="Pro-Vigil print design")


  section(class="area-blue case-study-third-point")
    div(class="bg-slanted bg-blue-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 03
      h2(class="heading") Out with the old
      p(class="text-wide") We completely transformed the Pro-Vigil brand. Many of our projects involve updating existing products. Compare the old with the new with slider below.

  section(class="area-light case-study-fourth-point")
    div(class="bg-slanted bg-light-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 04
      h2(class="heading") “You guys are rockstars!”
      p(class="text-wide") – Jeremy White, CEO

  section(class="area-dark case-study-next-up")
    div(class="bg-dark-mask")
