extend /views/_partials/layout

append vars
  - var pageName = "provigil-page"
  - var menuClass = "alternate"
  - var logoClass = "prored"
  - var menuClass = "prored"
  - var pageTitle = "Case Study | Web Development "
  - var pageDescription = "We were tasked with the branding, redesign of the website, and the development of a large video surveillance company."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/studies/provigil"

block content
  include /views/_partials/header

  section(class="area-header case-study-hero")
    h3(class="heading-diamond") 01
    h1(class="heading") Pro-Vigil
    p(class="text-wide") Pro-Vigil is the largest mobile video surveillance company in the nation. They protect a variety of sites ranging from real-estate to cell phone towers. We had the awesome opportunity to re-brand the company to enhance their online and mobile presence. Add some good design, and even surveillance makes us excited.

  section(class="area-light case-study-problem-solution")
    div(class="bg-slanted bg-light-mask")
    div(class="bg-slanted")
    br
    br
    div(class="flex")
      div(class="col-custom-2 left")
        h3(class="text-head") Problem
        p(class="text-col") Pro-Vigil’s previous brand image did not reflect their passion for staying up-to-date on current technology, nor their professionalism and expertise in the field. The old website had a lot of valuable content, but it was a distraction from the end goal of obtaining leads.
      div(class="col-custom-2 left text-head")
        h3(class="text-head") Solution
        p(class="text-col") We created an exciting, new brand image that better represented who they are as a company and the direction that their business is headed.  Pro-Vigil’s services surpass that of their competitors’ and we were able to provide a new image that followed suit.
      div(class="col-custom-1 left")
        h3(class="text-head") What we did
        ul(class="text-col text-col-list")
          li User Research
          li UI/UX Design
          li Branding
          li Mobile & Web Development

  section(class="area-blue case-study-second-point")
    div(class="bg-slanted bg-blue-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 02
      h2(class="heading") A "brand" new face
      p(class="text-wide") Re-branding a company can be an overwhelming task, but working with the great team at Pro-Vigil made it a pleasure. We were able to closely collaborate and share ideas with each other to create effective and beautiful solutions.

  section(class="area-light case-study-photo-showcase")
    div(class="bg-slanted bg-light-mask")

  section(class="area-blue case-study-third-point")
    div(class="bg-slanted bg-blue-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 03
      h2(class="heading") Out with the old
      p(class="text-wide") We completely transformed the Pro-Vigil brand. Many of our projects involve updating existing products. Compare the old with the new with slider below.

  section(class="area-light case-study-fourth-point")
    div(class="bg-slanted bg-light-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 04
      h2(class="heading") “You guys are rockstars!”
      p(class="text-wide") – Jeremy White, CEO

  //- section(class="area-header center")
  //-   h3(class="heading-diamond black") 05
  //-   h1(class="heading prored") Pro-Vigil
  //-   br
  //-   br
  //-   p(class="text-wide center black") Pro-Vigil is the largest mobile video surveillance company in the nation. They protect a variety of sites ranging from real-estate to cell phone towers. We had the awesome opportunity to re-brand the company to enhance their online and mobile presence. Add some good design, and even surveillance makes us excited. #[a(href="http://pro-vigil.com", target="_blank") Take a look at the website.]
  //-
  //- section(class="area-wide compact-bottom center")
  //-   div(class="bg-slanted")
  //-   br
  //-   br
  //-   div(class="flex")
  //-     p(class="col-custom-2 left text-head") #[b Problem]
  //-       br
  //-       span(class="text-col") Pro-Vigil’s previous brand image did not reflect their passion for staying up-to-date on current technology, nor their professionalism and expertise in the field. The old website had a lot of valuable content, but it was a distraction from the end goal of obtaining leads.
  //-     p(class="col-custom-2 left text-head") #[b Solution]
  //-       br
  //-       span(class="text-col") We created an exciting, new brand image that better represented who they are as a company and the direction that their business is headed.  Pro-Vigil’s services surpass that of their competitors’ and we were able to provide a new image that followed suit.
  //-     div(class="col-custom-1 left")
  //-       p(class="text-head") #[b What we did]
  //-       ul(class="text-col text-col-list")
  //-         li User Research
  //-         li UI/UX Design
  //-         li Branding
  //-         li Mobile & Web Development
  //-   div(class="lineshape")
  //-   div(class="slider area-slider")
  //-     div: img(src="/img/provigil/slide-1.jpg" alt="Pro-Vigil design")
  //-     div: img(src="/img/provigil/slide-2.jpg" alt="Pro-Vigil design")
  //-     div: img(src="/img/provigil/slide-3.jpg" alt="Pro-Vigil design")
  //-     div: img(src="/img/provigil/slide-4.jpg" alt="Pro-Vigil design")
  //-     div: img(src="/img/provigil/slide-5.jpg" alt="Pro-Vigil design")
  //-
  //-   div(class="lineshape")
  //-   div(class="area-tiny")
  //-     p(class="text-quote") "HQ has a very talented design team along with a programming staff that is able to make the design team's vision a reality. The project management and communication is also first class."
  //-     br
  //-     p - Jeremy White, CEO
  //- section(class="area-light area-tiny area-study")
  //-   div(class="lineshape")
  //-   div(class="bg-slanted")
  //-   footer(class="center")
  //-     h2(class="heading text-gradient-fire") Let's build together.
  //-     br
  //-     a(href="/contact", class="btn btn-fire") GET IN TOUCH
  //-     br
  //-     h6(class="heading-tiny") WE &#10084; GREAT PRODUCTS
