extend /views/_partials/layout

append vars
  - var pageName = "schoolimprovement-page"
  - var menuClass = "alternate"
  - var logoClass = "lime"
  - var menuClass = "lime"
  - var pageTitle = "Case Study | Web Application"
  - var pageDescription = "We were tasked with redesigning a tool to help educators across the country improve their professional development. See our creative work."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/studies/schoolimprovement"

block content
  include /views/_partials/header

  section(class="area-header case-study-hero")
    h3(class="heading-diamond") 01
    h1(class="heading lime") School Improvement
    p(class="text-wide") We were tasked with redesigning School Improvement Network’s flagship product, PD 360, a professional development tool for educators around the world.

  section(class="area-light case-study-problem-solution")
    div(class="bg-slanted bg-light-mask")
    div(class="bg-slanted")
    br
    ul(class="case-study-problem-solution-list")
      li
        h3(class="text-head") Problem
        p(class="text-col") School Improvement Network’s PD 360 platform  was operating on a bloated flash based web app that was hindering users from completing their goals.
      li
        h3(class="text-head") Solution
        p(class="text-col") Update SINET’s PD 360 web app with updated technologies, simplify information architecture and create an intuitive user experience and interface.
      li
        h3(class="text-head") What we did
        ul(class="what-we-did-list")
          li UI/UX Design
          li Front End Development
          li User Testing &amp; Prototyping

  section(class="area-dark case-study-second-point")
    div(class="bg-slanted bg-dark-mask")
    div(class="schoolimprovement-desktop-tablet-phone-wrapper")
      div(class="schoolimprovement-desktop-tablet-phone")
        img.schoolimprovement-desktop-tablet-phone-large(src="/img/schoolimprovement/schoolimprovement-desktop-tablet-phone-large.png" alt="School Improvement website on desktop, tablet, and phone")
        img.schoolimprovement-desktop-tablet-phone-small(src="/img/schoolimprovement/schoolimprovement-desktop-tablet-phone-small.png" alt="School Improvement website on desktop, tablet, and phone")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 02
      h2(class="heading lime") Designing for educators
      p(class="text-wide") Teachers are extremely undervalued. They teach our children everything from spelling to important life lessons. They sacrifice time with their own families to positively impact the lives of those students in their classrooms.
      img.person-photo(src="/img/schoolimprovement/schoolimprovement-person-faded.png" alt="School Improvement Educator")

  section(class="area-light case-study-detail-points")
    div(class="bg-slanted bg-light-mask")
    div.case-study-detail-points-wrapper
      div.case-study-detail-point
        div.text-wrapper
          div.text
            img.inline-mobile(src="/img/schoolimprovement/schoolimprovement-educator-dashboard.png" alt="School Improvement Educator Dashboard")
            h3 Educator Dashboard
            p Our front end team designed and developed a customizable widget system. Users log in, see their top three priorities in the form of widgets, select their task and get to work.
        div.image-wrapper
          div.image
            img(src="/img/schoolimprovement/schoolimprovement-educator-dashboard.png" alt="School Improvement Educator Dashboard")

      div.case-study-detail-point
        div.image-wrapper
          div.image
            img(src="/img/schoolimprovement/schoolimprovement-video-experience.png" alt="School Improvement Video Experience")
        div.text-wrapper
          div.text
            img.inline-mobile(src="/img/schoolimprovement/schoolimprovement-video-experience.png" alt="School Improvement Video Experience")
            h3 Video Experience
            p To accomodate our users busy schedules we designed a place for them to take notes and answer questions while they are watching their videos.

      div.case-study-detail-point
        div.text-wrapper
          div.text
            img.inline-mobile(src="/img/schoolimprovement/schoolimprovement-creating-conversation.png" alt="School Improvement Creating Conversation")
            h3 Creating a Conversation
            p This community of educators needed  a place to discuss their questions, ideas and goals. We helped create a social sharing platform inside the app called Groups.
        div.image-wrapper
          div.image
            img(src="/img/schoolimprovement/schoolimprovement-creating-conversation.png" alt="School Improvement Creating Conversation")


  section(class="area-dark case-study-third-point")
    div(class="bg-slanted bg-image bg-schoolimprovement1 bg-dark-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 03
      h2(class="heading lime") Unique Constraints

    ul.case-study-unique-challenges-list
      li.firstlist Timeframe. PD 360 users were primarily using this app during short breaks throughout thier day. At lunch, recess and at home even after school had let out.
      li.secondlist Common Core Compliance.  PD 360 users were primarily using this app during short breaks throughout thier day. At lunch, recess and at home even after school had let out.

  section(class="area-light case-study-fourth-point")
    div(class="bg-slanted bg-light-mask")
    div(class="case-study-slider")
      div: img(src="/img/schoolimprovement/slide-1.jpg" alt="School Improvement design")
      div: img(src="/img/schoolimprovement/slide-2.jpg" alt="School Improvement design")
      div: img(src="/img/schoolimprovement/slide-3.jpg" alt="School Improvement design")
      div: img(src="/img/schoolimprovement/slide-4.jpg" alt="School Improvement design")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 04
      h2(class="heading lime") “HQ’s team knocked it out of the park.”
      p(class="text-wide") – Bobby Maximus, CEO

  section.area-dark.case-study-buffer-area
    div.bg-slanted.bg-dark-mask

  section(class="area-dark case-study-next-up")
    div.case-study-next-up-content
      div(class="col center")
        div(class="platform on-left")
          div(class="outline border-animated")
          div(class="box plat-silvervue border-animated", data-bottom-top="transform: translateY(-50px)", data-top-bottom="transform: translateY(50px)")
            div(class="overlay")
              h4(class="heading-sub") SilverVue
              h6(class="heading-tiny text-animated") SEE CASE STUDY
              a(href="/studies/silvervue", class="lnk-fill")
          div.next-up-link-wrapper
            a(href="/studies/provigil", class="text-animated") Next Up
