extend /views/_partials/layout

append vars
  - var pageName = "schoolimprovement-page"
  - var menuClass = "alternate"
  - var logoClass = "lime"
  - var menuClass = "lime"
  - var pageTitle = "Case Study | Web Application"
  - var pageDescription = "We were tasked with redesigning a tool to help educators across the country improve their professional development. See our creative work."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/studies/schoolimprovement"

block content
  include /views/_partials/header

  section(class="area-header case-study-hero")
    h3(class="heading-diamond") 01
    h1(class="heading lime") School Improvement
    p(class="text-wide") We were tasked with redesigning School Improvement Network’s flagship product, PD 360, a professional development tool for educators around the world.

  section(class="area-light case-study-problem-solution")
    div(class="bg-slanted bg-light-mask")
    div(class="bg-slanted")
    br
    ul(class="case-study-problem-solution-list")
      li
        h3(class="text-head") Problem
        p(class="text-col") School Improvement Network’s PD 360 platform  was operating on a bloated flash based web app that was hindering users from completing their goals.
      li
        h3(class="text-head") Solution
        p(class="text-col") Update SINET’s PD 360 web app with updated technologies, simplify information architecture and create an intuitive user experience and interface.
      li
        h3(class="text-head") What we did
        ul(class="what-we-did-list")
          li UI/UX Design
          li Front End Development
          li User Testing &amp; Prototyping

  section(class="area-dark case-study-second-point")
    div(class="bg-slanted bg-dark-mask")
    div(class="schoolimprovement-desktop-tablet-phone-wrapper")
      div(class="schoolimprovement-desktop-tablet-phone")
        img.schoolimprovement-desktop-tablet-phone-large(src="/img/schoolimprovement/schoolimprovement-desktop-tablet-phone-large.png" alt="School Improvement website on desktop, tablet, and phone")
        img.schoolimprovement-desktop-tablet-phone-small(src="/img/schoolimprovement/schoolimprovement-desktop-tablet-phone-small.png" alt="School Improvement website on desktop, tablet, and phone")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 02
      h2(class="heading lime") Designing for educators
      p(class="text-wide") Teachers are extremely undervalued. They teach our children everything from spelling to important life lessons. They sacrifice time with their own families to positively impact the lives of those students in their classrooms.
      img.person-photo(src="/img/schoolimprovement/schoolimprovement-person-faded.png" alt="School Improvement Educator")

  section(class="area-light case-study-detail-points")
    div(class="bg-slanted bg-light-mask")
    div.case-study-detail-points-wrapper
      div.case-study-detail-point
        div.text-wrapper
          div.text
            img.inline-mobile(src="/img/schoolimprovement/schoolimprovement-detail-point-img1.png" alt="Gym Jones personalized learning")
            h3 Personalized Learning
            p Our front end team designed and developed a training widget system. Users log in, see their chosen training plan day and get to work.
        div.image-wrapper
          div.image
            img(src="/img/schoolimprovement/schoolimprovement-detail-point-img1.png" alt="Gym Jones personalized learning")

      div.case-study-detail-point
        div.image-wrapper
          div.image
            img(src="/img/schoolimprovement/schoolimprovement-detail-point-img2.png" alt="Gym Jones gym news")
        div.text-wrapper
          div.text
            img.inline-mobile(src="/img/schoolimprovement/schoolimprovement-detail-point-img2.png" alt="Gym Jones gym news")
            h3 Today in the Gym News
            p One of the important parts of the new site was to keep online members connected with the physical Gym Jones location in Salt Lake City. A newsfeed was created to keep members up to date on the (several) daily workouts. These daily workouts include written paragraphs, and hi-definition video.

      div.case-study-detail-point
        div.text-wrapper
          div.text
            img.inline-mobile(src="/img/schoolimprovement/schoolimprovement-detail-point-img3.png" alt="Gym Jones cult thinking")
            h3 Cult Thinking
            p We wanted to keep the cult like feel to the new site without going over the top. We stripped away decorations, and “styling” to give the site a minimal feel. The physical Gym Jones location has this same intention. There are no chairs, tv’s, or any comfortable places to sit. The gym is their church, temple, and a sanctuary for fitness. Free of distractions.
        div.image-wrapper
          div.image
            img(src="/img/schoolimprovement/schoolimprovement-detail-point-img3.png" alt="Gym Jones cult thinking")


  section(class="area-dark case-study-third-point")
    div(class="bg-slanted bg-image bg-schoolimprovement1 bg-dark-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 03
      h2(class="heading") Unique Challenges

    ul.case-study-unique-challenges-list
      li Salvaging Legacy Content. One of the most important goals we had was to keep  all of the legacy content. We couldn’t just start fresh. They had built up an amazing encyclopedia of fitness, and we couldn’t just ignore it.
      li Access Levels.  One of the main goals of the new site was to re-think how to let the 20+ certified instructors to upload their own photos, and work-outs for the day.
      li Gym Ready. One of the most important goals we had was to keep  all of the legacy content. We couldn’t just start fresh. They had built up an amazing encyclopedia of fitness, and we couldn’t just ignore it.

  section(class="area-light case-study-fourth-point")
    div(class="bg-slanted bg-light-mask")

    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 04
      h2(class="heading") “You've reached design salvation”
      p(class="text-wide") – Bobby Maximus, CEO

  section.area-dark.case-study-buffer-area
    div.bg-slanted.bg-dark-mask

  section(class="area-dark case-study-next-up")
    div.case-study-next-up-content
      div(class="col center")
        div(class="platform on-left")
          div(class="outline border-animated")
          div(class="box plat-provigil border-animated", data-bottom-top="transform: translateY(-50px)", data-top-bottom="transform: translateY(50px)")
            div(class="overlay")
              h4(class="heading-sub") Pro-Vigil
              h6(class="heading-tiny text-animated") SEE CASE STUDY
              a(href="/studies/provigil", class="lnk-fill")
          div.next-up-link-wrapper
            a(href="/studies/provigil", class="text-animated") Next Up
