extend ../_partials/layout

append vars
  - var pageName = "silvervue-page"
  - var menuClass = "alternate"
  - var logoClass = "blue"
  - var menuClass = "blue"
  - var pageTitle = "Web app design case study."
  - var pageDescription = "We designed the UI/UX of a web medical product to help doctors manage patient care."

block content
  include ../_partials/header

  section(class="area-header center")
    h3(class="heading-diamond black") 04
    h1(class="heading blue") SilverVue
    br
    br
    p(class="text-wide center black") We worked with SilverVue’s product team to design their web application for managing patient care. This innovative project presented a lot of interesting challenges and we have faith that their team can take what we’ve created to make this product a disruptor in the patient care industry.

  section(class="area-wide compact-bottom center")
    div(class="bg-slanted")
    br
    br
    div(class="flex")
      p(class="col-custom-2 left text-head") #[b Problem]
        br
        span(class="text-col") SilverVue is a forward-thinking company specializing in the medical field. Their previous brand and product design fell short when compared to their innovative problem solving in the areas of patient care and management.
      p(class="col-custom-2 left text-head") #[b Solution]
        br
        span(class="text-col") With help from the SilverVue team, we learned about their users. This helped us produce a product that filled their needs and offered a solution to their problems.  We also crafted a brand image that was proffesional and gave instant credibility to their product.
      div(class="col-custom-1 left")
        p(class="text-head") #[b What we did]
        ul(class="text-col text-col-list")
          li User Research
          li UI/UX Design
          li Branding
          li Mobile & Web Development
    div(class="lineshape")
    div(class="slider area-slider")
      div: img(src="/img/silvervue/slide-1.jpg")
      div: img(src="/img/silvervue/slide-2.jpg")
      div: img(src="/img/silvervue/slide-3.jpg")
      div: img(src="/img/silvervue/slide-4.jpg")
      div: img(src="/img/silvervue/slide-5.jpg")

    div(class="lineshape")
    div(class="area-tiny")
      p(class="text-quote") "We have been impressed with the speed and quality of the UI work provided to us from the designers at HQ.  They have taken the time to learn about our needs and then delivered a quality product and sound advice."
      br
      p - Mindy Anderson, Director of Product
  section(class="area-light area-tiny area-study")
    div(class="lineshape")
    div(class="bg-slanted")
    footer(class="center")
      h1(class="heading text-gradient-ocean") Let's build together.
      br
      a(href="#contact", data-target="modal", class="btn btn-ocean") GET IN TOUCH
      br
      h6(class="heading-tiny") WE &#10084; GREAT PRODUCTS
