extend /views/_partials/layout

append vars
  - var pageName = "silvervue-page"
  - var menuClass = "alternate"
  - var logoClass = "blue"
  - var menuClass = "blue"
  - var pageTitle = "Case Study | Web App Design"
  - var pageDescription = "See the web design and development we did for a company in the medical field. We also crafted a brand that gave instant credibility to their product."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/studies/silvervue"

block content
  include /views/_partials/header

  section(class="area-header case-study-hero")
    h3(class="heading-diamond") 01
    h1(class="heading blue") SilverVue
    p(class="text-wide") We worked with SilverVue’s product team to design their web application for managing patient care. This innovative project presented a lot of interesting challenges and we have faith that their team can take what we’ve created to make this product a disruptor in the patient care industry.

  section(class="area-light case-study-problem-solution")
    div(class="bg-slanted bg-light-mask")
    div(class="bg-slanted")
    br
    ul(class="case-study-problem-solution-list")
      li
        h3(class="text-head") Problem
        p(class="text-col") SilverVue is a forward-thinking company specializing in the medical field. Their previous brand and product design fell short when compared to their innovative problem solving in the areas of patient care and management.
      li
        h3(class="text-head") Solution
        p(class="text-col") With help from the SilverVue team, we learned about their users. This helped us produce a product that filled their needs and offered a solution to their problems.  We also crafted a brand image that was proffesional and gave instant credibility to their product.
      li
        h3(class="text-head") What we did
        ul(class="what-we-did-list")
          li User Research
          li UI/UX Design
          li Branding
          li Mobile &amp; Web Development

  section(class="area-blue case-study-second-point")
    div(class="bg-slanted bg-blue-mask")
    div(class="silvervue-tablet-wrapper")
      div(class="silvervue-tablet")
        img.silvervue-tablet(src="/img/silvervue/silvervue-tablet.png" alt="SilverVue app view on tablet")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 02
      h2(class="heading blue") Redefinding a brand
      p(class="text-wide") SilverVue came to us with limited branding that didn’t reflect the direction they wanted to take their company. As we researched their target market and designed the user interface and experience, we gained a firm understanding of how their branding should be designed.


  section(class="area-dark case-study-third-point")
    div(class="bg-slanted bg-image bg-silvervue1 bg-dark-mask")
    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 04
      h2(class="heading blue") A new interface
      p.text-wide SilverVue came to us with limited branding that didn’t reflect the direction they wanted to take their company. As we researched their target market and designed the user interface and experience, we gained a firm understanding of how their branding should be designed.


  section(class="area-light case-study-fourth-point")
    div(class="bg-slanted bg-light-mask")

    div(class="case-study-point-content-wrapper")
      h3(class="heading-diamond") 05
      h2(class="heading blue") “You've reached design salvation”
      p(class="text-wide") – Bobby Maximus, CEO

  section.area-dark.case-study-buffer-area
    div.bg-slanted.bg-dark-mask

  section(class="area-dark case-study-next-up")
    div.case-study-next-up-content
      div(class="col center")
        div(class="platform on-left")
          div(class="outline border-animated")
          div(class="box plat-provigil border-animated", data-bottom-top="transform: translateY(-50px)", data-top-bottom="transform: translateY(50px)")
            div(class="overlay")
              h4(class="heading-sub") Pro-Vigil
              h6(class="heading-tiny text-animated") SEE CASE STUDY
              a(href="/studies/provigil", class="lnk-fill")
          div.next-up-link-wrapper
            a(href="/studies/provigil", class="text-animated") Next Up
