/**
 * contact
 */

#contact-modal
  padding 0 30px
  padding-bottom 50px

  form
    max-width 480px
    width 100%
    text-align left
    margin 100px auto 45px auto
    .inpt
      width 100%
    button[type="submit"]
      width 100%

  .email-address
    color white
    font-weight 500
    letter-spacing 1px
    display block
