/**
 * partials home
 */

#home-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
  &:before
    pseudo-bg()
    background clr-black
  &:after
    pseudo-bg()
    background url('/img/banners/home1.jpg') no-repeat
    background-position top center
    background-size 100%
    opacity 0.2
    +below(res-tablet)
      background-size 250%

  .bg-gymjones:before
    background-image url('/img/banners/home2.jpg')
  .bg-goze:before
    background-image url('/img/banners/home3.jpg')
  .bg-silvervue:before
    background-image url('/img/banners/home4.jpg')
  .bg-provigil:before
    background-image url('/img/banners/home5.jpg')
  .bg-office:before
    background-image url('/img/banners/home6.jpg')
    background-position top center
    z-index 6

  .plat-gymjones
    background url('/img/cards/gymjones.png') clr-offBlack no-repeat
    background-position 0px center
    background-size 150%
  .plat-goze
    background url('/img/cards/goze.png') clr-offBlack no-repeat
    background-position center center
    background-size 100%
  .plat-silvervue
    background url('/img/cards/silvervue.png') clr-offWhite no-repeat
    background-position 0px center
    background-size 150%
  .plat-provigil
    background url('/img/cards/provigil.png') clr-offWhite no-repeat
    background-position 0px center
    background-size 120%

  footer
    h1
      margin-top 200px
      margin-bottom 20px
    h6
      margin-top 200px

  .clients
    display flex
    align-items center
    justify-content center
    position relative
    input[type="radio"]
      display none
      &:checked ~ img
        display block
      &:checked ~ label
        color black
        border-color black
    .tab
      display inline-block
    img
      display none
      width 100%
      position absolute
      top 30px
      left 0
    label
      display inline-block
      width 30px
      height 30px
      line-height 25px
      border 1px solid clr-offWhite
      color clr-gray
      text-align center
      font-family 'acumin-pro-extra-condensed'
      margin 0 5px
      cursor pointer
      margin-top 190px

  .cutout
    color darken(white, 15%)
    background url('/img/banners/home1.jpg') no-repeat
    background-size 100vw
    background-position (hPad * -1) -311px
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    +below(res-tablet)
      background none
      -webkit-text-fill-color white
      color white
      opacity 0.3
      font-size 1.6em
