/**
 * partials home
 */

#home-page
  &:before
    content ''
    background-color clr-black
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1

  .bg-gymjones:before
    background-image url('/img/banners/home2.jpg')
  .bg-goze:before
    background-image url('/img/banners/home3.jpg')
  .bg-silvervue:before
    background-image url('/img/banners/home4.jpg')
  .bg-provigil:before
    background-image url('/img/banners/home5.jpg')
  .bg-office:before
    background-image url('/img/banners/home6.jpg')
    background-position top center
    z-index 6

  footer
    h1
      margin-top 200px
      margin-bottom 20px
    h6
      margin-top 200px
