.gradient-prpl
  background: linear-gradient(rgba(73, 42, 124, 0.4), #000)

.new-main
  padding: 16px
  color: #fff

@media(max-width: 500px)
  .new-main
    display: none

.top-area
  display: flex
  width: 100%
  flex-direction: column
  align-items: center

.main-header
  align-self: center
  margin: 8px
  color: white
  text-align: center

.paragraph
  color: #fff
  text-align: center
  margin: 48px
  width: 350px
  flex-shrink: 1

.b-grnd-ui
  background: url("/img/banners/UI.jpg")
  width: 100%

.b-grnd-office
  background-image: url("/img/banners/home6.jpg")
  background-size: 97%
  top: -700px
  height: 100%


.gym-img
  position: static
  z-index: 3

.services-area
  background-color: #fff
  height: 400px
  padding: 50px

.p-header
  font-size: 48px !important
  font-weight: 100
  text-align: center

.mid-area
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.clients-img
  align-self: center
