/**
 * partials story
 */

#story-page
  .bg-story1:before
    background-image url('/img/banners/story1.jpg')
  .bg-story2:before
    background-image url('/img/banners/story2.jpg')
  .bg-story3:before
    background-image url('/img/banners/story3.jpg')

  .us
    img
      width 200px
      height 200px
