/**
 * contact
 */

#success
  padding 0 30px
  text-align center
  &:before
    content ''
    gradient-animated()
    opacity 0.99
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
    backface-visibility none

  .email-address
    color white
    font-weight 500
    letter-spacing 1px
    display block

  h1
    color white
    padding 100px 0
