.work-area-header
  text-align center
  padding 150px 50px 200px 50px

.work-description
  .text-wide
    max-width 800px

.works-learn-more
  margin 50px 15px

#webdev-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
  &:before
    pseudo-bg()
    background clr-black
  &:after
    pseudo-bg()
    background url('/img/gymjones/gymjones1.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%

#mobiledev-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
  &:before
    pseudo-bg()
    background clr-black
  &:after
    pseudo-bg()
    background url('/img/gymjones/gymjones1.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%


#uiuxdesign-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
  &:before
    pseudo-bg()
    background clr-black
  &:after
    pseudo-bg()
    background url('/img/gymjones/gymjones1.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%

#branddesign-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
  &:before
    pseudo-bg()
    background clr-black
  &:after
    pseudo-bg()
    background url('/img/gymjones/gymjones1.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%
