.work-area-header
  text-align center
  padding 150px 50px 200px 50px

.work-description
  margin-top -20px
  .text-wide
    max-width 800px

.works-learn-more
  margin 50px 15px

.works-bg-overlay
  position fixed
  bottom 0
  left 0
  height 50%
  width 100%
  background-color white
  z-index -1


#webdev-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -2
  &:before
    pseudo-bg()
    background url('/img/banners/web.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%
  &:after
    pseudo-bg()
    max-height 700px
    background linear-gradient(rgba(167,109,220,0.8) 0%, rgba(96,188,234,0.8) 100%)

#mobiledev-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -2
  &:before
    pseudo-bg()
    background url('/img/banners/mobile.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%
  &:after
    pseudo-bg()
    max-height 700px
    background linear-gradient(rgba(167,109,220,0.8) 0%, rgba(96,188,234,0.8) 100%)


#uiuxdesign-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -2
  &:before
    pseudo-bg()
    background url('/img/banners/UI.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%
  &:after
    pseudo-bg()
    max-height 700px
    background linear-gradient(rgba(167,109,220,0.8) 0%, rgba(96,188,234,0.8) 100%)

#branddesign-page
  pseudo-bg()
    content ''
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -2
  &:before
    pseudo-bg()
    background url('img/banners/branding.jpg') no-repeat
    background-position top center
    background-size 110%
    background-color white
    +below(res-tablet)
      background-size 400%
  &:after
    pseudo-bg()
    max-height 700px
    background linear-gradient(rgba(167,109,220,0.8) 0%, rgba(96,188,234,0.8) 100%)
