/**
 * partials work
 */

#work-page
  .bg-web:before
    background-image url('/img/banners/web.jpg')
  .bg-mobile:before
    background-image url('/img/banners/mobile.jpg')
  .bg-UI:before
    background-image url('/img/banners/UI.jpg')
  .bg-branding:before
    background-image  url('img/banners/branding.jpg')

.platforms
  display flex
  width 100%
  max-width 1000px
  justify-content space-between
  flex-wrap wrap
  position relative
  margin auto
  padding-top 50px
  .left, .right
    width 50%
  .right
    margin-top 70px
  .platform
    position relative
    width 100%
    padding-bottom 50px
  +below(res-mobile)
    .left, .right
      width 100%
      margin 0
