/**
 * partials work
 */

#work-page
  .web
    padding-bottom 500px
  .platforms-web
    top 750px

  .mobile
    margin-top 2000px
  .platforms-mobile
    top 3500px

  .ui
    margin-top 2500px
    padding-bottom 700px
  .platforms-ui
    top 6400px

  .branding
    margin-top 2000px
  .platforms-branding
    top 9400px

  .platforms
    position absolute
    z-index 9
    width 100%
    max-width 1000px
    left 50%
    transform translateX(-50%)
    vertical-align top
    .left
      position absolute
      top 0
      left 0
      width 50%
    .right
      position absolute
      top 100px
      right 0
      width 50%

  .platform
    position relative
    margin-bottom 100px
    display inline-block
    vertical-align top
    font-size 0
    cursor default
