@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'
@import '../assets/fonts/icons/style.css'

@import '_modules/*'
@import '_elements/*'
@import '_pages/*'
@import '_partials/*'
