/* elements inputs
   ----------------------------- */
.inpt
  background none
  color white
  border none
  border-bottom 2px solid rgba(255, 255, 255, 0.2)
  font-size 24px
  padding-bottom 5px
  margin 0 auto 40px 0
  display block
  resize none

label
  span
    color rgba(255, 255, 255, 0.4)
    font-weight 500
    font-size 24px
    position absolute
    pointer-events none
    transition all .1s
    &.focused
      font-size 14px
      margin-top -20px

.check-slct
  list-style-type none
  cursor pointer
  li:first-child
    color rgba(255, 255, 255, 0.4)
    font-weight 500
  li:not(:first-child)
    display none
  &.open
    background white
    color black
    li:first-child
      color black
      border-bottom-color black
    li
      display block
