/**
 * vendors
 */

// normalize
@import 'styles/vendors/normalize'

// before-after slider
@import 'styles/vendors/before-after';

// Main slick slider styles
@import 'styles/vendors/slick';

// Slick slider's default theme
@import 'styles/vendors/slick-theme';

// Overwriting Slick icons path

/* Slick slider loading gif*/
.slick-loading .slick-list
  background: #fff url('./img/ajax-loader.gif') center center no-repeat;

/* Slick slider icons */
@font-face
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/slick/slick.eot');
  src: url('./fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick/slick.woff') format('woff'), url('./fonts/slick/slick.ttf') format('truetype'), url('./fonts/slick/slick.svg#slick') format('svg');


/**
 * modules
 */

@import 'styles/modules/vars'
@import 'styles/modules/reset'
@import 'styles/modules/colors'
@import 'styles/modules/mixins'
@import 'styles/modules/type'
@import 'styles/modules/icons'
@import 'styles/modules/base'
@import 'styles/modules/logo'
@import 'styles/modules/nav'
@import 'styles/modules/area'
@import 'styles/modules/platform'
@import 'styles/modules/markdown'

/**
 * elements
 */

@import 'styles/elements/links'
@import 'styles/elements/buttons'
@import 'styles/elements/inputs'
@import 'styles/elements/modals'

/**
 * partials
 */

@import 'styles/partials/home'
@import 'styles/partials/work'
@import 'styles/partials/story'
@import 'styles/partials/careers'
@import 'styles/partials/openings'
@import 'styles/partials/posts'
@import 'styles/partials/contact'
@import 'styles/partials/success'
@import 'styles/partials/silvervue'
@import 'styles/partials/gymjones'
@import 'styles/partials/schoolimprovement'
@import 'styles/partials/provigil'

// case studies
@import 'styles/partials/case-studies/shared'
@import 'styles/partials/case-studies/problem-solution'
@import 'styles/partials/case-studies/second-point'
@import 'styles/partials/case-studies/photo-showcase'
@import 'styles/partials/case-studies/case-study-detail-points'
@import 'styles/partials/case-studies/third-point'
@import 'styles/partials/case-studies/fourth-point'
@import 'styles/partials/case-studies/next-up'
@import 'styles/partials/case-studies/provigil'
@import 'styles/partials/case-studies/gymjones'
