extends ../_partials/post

append vars
  - var title = 'If I Had to Relearn Design'
  - var subtitle = 'BY ZARIN FICKLIN ON JULY 30TH, 2014'

block postContent
  :markdown
    A friend of a friend of a friend lost ten years of memory and forgot how to design (guys, I'm pretty sure this was a true story. Apparently it was on the news. I didn't check. Regardless.)
    
    Sometimes I wonder what I would do if I went back in time and lost all experience and skill as a designer. What steps would I take to relearn design? Would I do it the same way?
    
    Disclaimer 1: There are many types of designers. These thoughts are geared toward web/mobile designers.
    
    Disclaimer 2: I'm not an all-knowing design guru (and I really hate the word "guru"). Nor am I suggesting this is the best way to learn design. This is simply what I would tell myself if I had to start from scratch.
    
    ### ACQUIRE GOOD TASTE
    
    You don't have to look far to find designers who claim a decade plus design experience but consistently (and efficiently, even) produce poor designs. Their portfolio is robust. They know all the Photoshop shortcuts (exaggerating - those are endless and eternal). So why does their design suck? Hasn't the 10,000 hour rule started to kick in? After designing 50+ websites, they should be pretty good at it, right?
    
    Usually, the reason is taste. You can be efficient, you can be prolific, but if you have bad taste, you're screwed.
    
    [ZenPencil's illustration of Ira Glass's quote is a must-see.](http://zenpencils.com/comic/90-ira-glass-advice-for-beginners)
    
    So how do you get good taste? How do you know what is "good?" Who decides what is good, anyway? Answers to these questions aren't really in the scope of this article, but I would submit that good design is a mix of timeless design fundamentals and current trends.
    
    When I started designing in earnest, I googled "Utah designers." I compiled their emails into a long list and asked them a single question: "Who do you think is the best designer in Utah?" A few names appeared consistently, some of which I hadn't found in my first Google search. I looked them up and poured over their work. I noted similar trends. I noted common techniques. Their designs were clean and simple, but not boring.
    
    I immersed myself in design. I checked Dribbble every day. I followed designers on Twitter and checked out designs they commented on. I bookmarked well-designed sites into multiple folders. The best writers have good taste because they are always reading. The best chefs have good taste (quite literally) because they are immersed in food. When you learn code, you copy programs exactly. Even though your code isn't original, there's immense satisfaction rewriting a program and seeing it work.
    
    Design is no different.
    
    ### COPY
    
    Recognizing good design is step one. Replicating is step two.
    
    Near the beginning of my interest in design, I would open up a blank document in Photoshop and just stare at the screen. Maybe I'd make a button, and then play with a navigation bar. I'd add a block of text and play with fonts. I'd move elements around, trying to make the layout work. It all looked wrong. I wondered how this was supposed to work.
    
    Going back, this is what I would do instead. I would narrow down the best designers to two or three. Of all the designers in the world, whose style would I most want to have? Then I would create a folder with links and screenshots of their very best work.
    
    Then I would recreate those designs pixel-perfectly in Photoshop. If I didn't know Photoshop already, this would be the best way to learn. There are an overwhelming amount of tools, features, and menus. To design websites, you really only need a handful. By copying the best designs, I'd quickly learn which tools I actually needed (more on this later).
    
    Copying pixel-perfect can be slow work, and that's a good thing. Slowly recreating allows your mind time to process what design decisions were made. Why is there this much space between buttons? Why is the menu lined up with this box below? Why is the line-height taller on these text blocks? You don't get all that from glancing at a site and thinking "Yeah, this is a really beautiful design."
    
    Copy different designs. Copy a lot. Don't post anything you copy online - this is for learning. You'll start to think like the designers you want to be like. You'll start to absorb their style. You'll learn the tools.
    
    Then start tweaking the designs. No design is perfect, and as you slowly recreate, you might have ideas for improving. Try changing the colors or the fonts. Change the button styles a little. Experiment.
    
    The next step is to become Doctor Frankenstein. After copying several different designers, you'll start to like certain aspects of each design style. Take two designs from different designers and combine them. Patch together multiple designs and try to make it work. Sometimes it won't, and that's a good thing.
    
    A month of copying will do more than months of struggling to learn design from a blank canvas. You'll gain a better understanding of design process and begin to develop a style similar to the designers you like most.
    
    ### THINK ABOUT GOALS AND USERS FIRST
    
    When I first started design, my biggest goal was to wow. I wanted people to see my designs and think, "This guy is an awesome designer!" It's a common problem. Designers like to get noticed, and this sometimes leads to overcompensating on the flashy or trendy. Glossy buttons, long drop shadows, the list goes on. Trends are important, but designing for the sake of looking trendy can be detrimental.
    
    Instead, I would tell myself to first think about goals and users. What is the purpose of my design? Who is it for? Those two questions should be asked before every design. Will this design style or element help accomplish that goal? Designing a good user experience requires you to ask "how will this work?" as much as "how will this look?"
    
    ### LEARNING THE TOOLS
    
    As mentioned earlier, Photoshop (or its equivalent) is daunting. I started Photoshop when I was fourteen and I'm still learning new shortcuts. If all my Photoshop experience was wiped from my memory, I would do this:
    
    Watch a designer use Photoshop (either in person or on YouTube). Watch to see how they set up their document. Ask them which shortcuts they like best. Write down all the tools they use. You'll probably notice they only use a handful of the tools on the toolbar. In Photoshop, there are many different ways to accomplish the same task, so I recommend watching as many designers as you can in order to decide which method you think is best.
    
    When you have your list of tools, watch a 5-10 minute YouTube tutorial on each of those tools. My shortlist would include: move, rectangular marquee, eyedropper, pencil, type, rectangle/ellipse, and zoom. Learn the layers panel really well. Learn about selections and navigating a document. If you know how to do these things you can design an app or website in Photoshop.
    
    ### CLASSES AND BOOKS
    
    Design is a unique industry. I always like to ask designers how they learned design. Very few answer with "X college" or "Y book," even if they did take design courses or read design books. Most of the best designers learned design on their own. They opened Photoshop and emulated design they liked.
    
    There's merit in classes and books, but I wouldn't rely on them as my primary source of learning. If I were to relearn design, I may look up local classes on Photoshop or try something like TeamTreehouse. I'd take them with a grain of salt.
    
    I would read articles recommended by designers I follow on Twitter. I'd read the list on goodui.org and check out recommended articles on Medium. I would make sure I had a good grasp of fundamentals like spacing, balance, contrast, typography, hierarchy, and emphasis. A lot of those come from intuition and experience, but you can read about them, too.
    
    ### FIND A MENTOR
    
    I didn't do this, and I wish I had. I were to go back, I would find someone who gave honest and constructive feedback. I would find someone that recommend the best blogs or books to read. I would find someone that could show me their favorite Photoshop shortcuts and their design process. The more mentor time you have, the faster you'll learn.
    
    In the end, learning design is a matter of practice. As Ira Glass said, "It's going to take you awhile. It's normal to take awhile." But you already knew that.
    
    You can subscribe to the 10,000 hr rule, but they need to be smart hours.
    
    To other designers, I'd love to hear how you would relearn design.
