extends ../_partials/post

append vars
  - var title = 'Task Management That Actually Works'
  - var subtitle = 'BY ZARIN FICKLIN ON JANUARY 17TH, 2014'

block postContent
  :markdown
    There are countless task management tools. You don’t know how many free trials I’ve used up or apps I’ve downloaded and later deleted. I wish I could say that I’ve found the one tool that fulfills all my needs for organizing tasks, but I can’t. Like a starting five of an NBA team, each tool has a specific role its best at. I’ve narrowed it down to four tools: Gmail, Google Calendar, Basecamp, and Wunderlist.
    
    ### 1. EMAIL (THE INBOX ZERO TECHNIQUE)
    
    Most tasks originate in my inbox. I used to use my inbox as a pseudo task list, and it was a mess. I tried starring emails, I tried tags, I tried multiple inboxes. Nothing was sustainable. Email just isn’t designed for task management. It’s unorganized and clunky, and eventually the amount of emails becomes overwhelming.
    
    After using the Mailbox app on my phone, I got in the habit of archiving mail as soon as possible. It’s liberating to immediately archive email. My inbox should be completely empty at least once a day.
    
    If an email can be responded to in two minutes or less, I answer right away (that’s the ideal, anyway). If an email has tasks that take longer than that, I add those tasks to either Google Calendar (events), Basecamp (project tasks), or Wunderlist (personal tasks and new projects — more on that later).
    
    Email acts as a filter rather a task-list.
    
    ### 2. GOOGLE CALENDAR
    
    Any events go straight to Google Calendar. I reference my calendar at least twice a day, so if an event isn’t on there, it’s very liable to slip through the cracks. I use a personal calendar and shared business calendar.
    
    ### 3. BASECAMP
    
    Any project task goes to Basecamp. Each client has their own project, and each project has its to-do lists. At HQ we often work with a dozen or more clients at a time and so Basecamp is invaluable for keeping things organized.
    
    Immediately adding tasks to Basecamp as soon as I read an email saves me from digging through long email threads later. This habit has done wonders for making sure I’ve crossed all my T’s on a given project.
    
    If an email has relevant content for a project such as login info, website copy, or attachments, I add those to Basecamp as well. 37 Signals has done a great job of project/client interaction and so this process is less cumbersome than you’d think.
    
    ### 4. WUNDERLIST
    
    Any personal tasks go to a list on Wunderlist (aptly labeled “personal”). This could include bills, favors, errands etc. I keep seven other lists, one for each day of the week. The only tasks that goes on these lists are project names. This simply lets me know which tasks I’m working on which days. If I don’t finish a project I simply move it to a later day. This gives me a broad, high-level view of what I’m working on and when.
    
    ### MY ROUTINE
    
    This is how I typically start my day:
    
    - Open Google Calendar, see which meetings/events I have
    - Open Email, read and archive everything. Reply to emails that can be taken care of right away. Events are added to Google Calendar, project tasks are added to Basecamp, personal tasks are added to Wunderlist. Inbox should be zero.
    - Open Wunderlist, see which projects I’m working on today and determine priority.
    - For each project, open Basecamp and complete tasks.
    
    At the end of the day, in Wunderlist I’ll move any projects I haven’t completed to a new day (coordinating with Google Calendar for scheduling). I like to run through my email one last time to archive any new messages.
    
    The biggest key to all of this is taking care of emails right away, whether that’s typing a response or adding a task somewhere else and archiving. I still sometimes get this primal urge to leave a quickly skimmed email waiting in my inbox for later use. Sometimes I get behind and my inbox grows beyond control, forcing me to later do a mass purge. But when I’m on top of things this process keeps me thorough and focused.
    
    With all the new tools, task-management is an ever evolving process so I’d love to hear your favorite tools and techniques.
