extends _post

append vars
  - var title = 'Why Should I Tell You My Budget?'
  - var subtitle = 'BY MATT SUTHERLAND ON SEPTEMBER 18TH, 2014'

block postContent
  :markdown
    A fair question. Many people unfamiliar with design and development are uncomfortable disclosing their budget. They think by giving away their budget, they lose negotiating power and the agencies will inflate prices to meet the max budget. However, it doesn’t work that way with user experience design or development.
    
    You wouldn't be surprised if a car salesman asked how much you want to spend. Sure, your budget can fluctuate and you don’t want to be sold a BMW when a Honda will do just fine, but you don’t want to be sold Hondas when you are looking for a top of the line BMW.
    
    With our business model, our margin is the same whether your budget is $20k or $100k. We charge hourly. On a larger budget project, we will put more time into it, but our margin stays the same (about 30% btw). So we can fill our time with ten $10k projects or one $100k project, and we make the same amount in the same amount of time. You are paying us for our time.
    
    A potential client may think, “I have about $50k to spend on the site, but I want to get the best deal possible, so I am going to try to get it for $20k.” When we do a project for $20k, it is going to be better or as good as a $20k project done by another firm. The fact is it is still going to be a $20k project no matter who does it. If we put the time into it to make it a $50k project, it will be worth that. You definitely get what you pay for. If you really want it to be great, let us know and we will start with that in mind.
    
    During the design process, we may come up with solutions that could increase or even decrease your budget. In the end, it's your choice how much time is spent.
    
    We have built this company by providing as much value as we possibly can to our clients. We have a reputation to maintain of that. Giving a $50k estimate and then seeing how we can get it done for $20k is not our business model. We want to give every client who works with us the exact value they want to spend, down to the cent.
    
    ![](/img/thoughts/toggle-screenshot.png)
    
    If I were a client, and I really wanted my project to go great, I would say that my budget is $40k, when really it is $50k. This gives you wiggle room when things come up (which they usually do) to add some features and elements that might take some more time.
    
    However, if your budget is $50k and you tell us $20k, it will be more expensive in the end to build from the initial assumptions. This is because during the creative process, we will be thinking of what can be done in a $20k budget. If more resources are dedicated in the middle of a project, we can reevaluate and create something better, but it is much more time effective to do this in the beginning. We would have been able to come up with something worth $50k from the start without wasting your time planning a project that was only worth $20k. This is not always the case, but it is often.
    
    We are always going to do our very best to give you the most value for your money. Our reputation depends on us doing great work under the budget constraints of all our clients. Know that we give it our all on every project we start. The more you tell us about your budget upfront, the better value we can provide.
