.thoughts-page
  &:before
    content ''
    position absolute
    left 0
    right 0
    top 0
    height 600px
    background linear-gradient(90deg, purple, blue)
    z-index -1

  h5
    margin-bottom 10px

  section
    padding-top 20px
    padding-bottom 20px

  .posts
    width 100%
    max-width 1050px
    margin auto

    .post
      padding 45px 0
      text-align left
      position relative
      &:not(:last-child)
        border-bottom 1px solid grayLgt
      &:hover
        .icon-arrow
          border-color purple
          color purple
        h1
          color purple

      h1
        color black
        text-align left
      h5
        color rgba(0, 0, 0, .5)
        text-align left
      .icon-arrow
        width 45px
        height 45px
        position absolute
        right 0
        top 50%
        margin-top -23px
        line-height 45px
        text-align center
        border 1px solid grayLgt
        border-radius 50%
        font-size 14px
        &:before
          margin-left 4px
        +below(500px)
          display none

.thoughts-page-post
  &:before
    content ''
    background linear-gradient(90deg, orange, pink)
