extend /views/_partials/layout

append vars
  - var pageName = "mobiledev-page"
  - var menuClass = "alt-blk-wht"
  - var logoClass = "alt-blk-wht"
  - var pageTitle = "Mobile & App Development by HQ"
  - var pageDescription = "Mobile development and building native iPhone/Android apps are what we do but ensuring a pristine user experience is our mission. Let's build together."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/works/mobile-development"

block content
  include /views/_partials/header
    
  section(class="area-header work-area-header alt-to-wht")
    h1(class="heading white") Mobile Design And Development

  section(class="area-light work-description mobile alt-to-blk")
    div(class="bg-slanted bg-image bg-mobile bg-light-mask")
    p(class="text-wide")
      | Every project we work on is unique and exciting. Every step throughout the process, from research and preparation to UI/UX design and wrap-up, is taken thoughtfully, seriously, and strategically. #[br] #[br]
      | Communicating and collaborating with you, our client, is a top priority. You know your customers, products, and you have your own vision. We respect your input and feedback. You will always know exactly what to expect from us and where we are in the development journey.#[br] #[br]
      | Together we have the opportunity and capability of producing impressive results.
    h3.heading-sub
      | Our Design and Development Process
    p.text-wide
      | Our designers and developers are a match made in mobile heaven. Appreciating each other’s strengths and collaborating openly, the sum of the HQ team is exponentially greater than our individual efforts.#[br] #[br]
      | Working intimately with our clients, we conceptualize and strategize, launching a plan tailored to your specific needs and overall goals. We will explain why it will work and how. Then, we use our tech magic to transform our plan into solid results that will thrill you.
    h3.heading-sub
      | Building the Best Apps
    p.text-wide
      | How do we build the best apps? By going native. #[br] #[br]
      | Because we write for specific platforms (namely, iPhone and Android) we are able to take advantage of their stable hardware and stellar features. #[br] #[br]
      | Writing natively also allows our apps to interact flawlessly with even the most complex of web backends (server, application, and database) and stand out above the rest. #[br] #[br]
      | When deemed the best way to go, we aren’t afraid to go hybrid. By combining the best elements of native applications with more generalized web applications, this allows your customers to appreciate the app’s functionality and dynamic access even when offline. #[br] #[br]
      | We construct using the latest technology, giving you a sure advantage as your users rave about their experience and give your apps a well-deserved 5-star rating.   
    h3.heading-sub
      | Proficient Programming
    p.text-wide
      | Functionality and reliability are at the foundation of everything we build. Afterall, if you don’t have that, you don’t have anything. #[br] #[br]
      | Programming in Objective-C and Java is our forte. We love their object-oriented capabilities, dynamic runtime, and language-level support and use those features to your app’s advantage. #[br] #[br]
      | When we work, we leave our code squeaky clean (sloppy coding is one of our biggest pet peeves!), giving any other developer the means to be effective at their job.
    h3.heading-sub
      | Crafting the Ultimate Experience
    p.text-wide
      | Each element in an app has to be carefully created and implemented in order to present a robust environment your customers have come to expect from a serious company. #[br] #[br]
      | Taking your defined user persona (either specific or broad) and understanding how they will use your app. From backend to frontend, mobile design to mobile development, our team at HQ works tirelessly to craft your users the ultimate experience. #[br] #[br]
      | Throughout the entire process we will structure, refine, tweak, and iterate our collaborative strategy until your final product is a work of art...one that persuades your customers and potential customers to take action. That is your goal which makes it our goal, too.
    div(class="platforms")
      div(class="left")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/goze.jpg" alt="Goze")
      div(class="right")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/weave.jpg" alt="Weave")
  
  section(class="area-light mobile alt-to-blk")
    div(class="bg-slanted bg-image bg-mobile bg-light-mask")
    footer(class="center")
      h2(class="heading text-gradient-alien") Let's build together.
      br
      br
      a(href="/contact", class="btn btn-alien") GET IN TOUCH
      br
      br
      h6(class="heading-tiny") WE &#10084; GREAT PRODUCTS
