/**
 * inputs
 */

.inpt
  background none
  color clr-white
  border none
  border-bottom 2px solid rgba(255, 255, 255, 0.2)
  font-size 24px
  font-weight 500
  padding-bottom 5px
  margin 0 auto 40px 0
  display block
  resize none

  &::-webkit-input-placeholder
    color rgba(255, 255, 255, 0.4)
  &:-moz-placeholder
    color rgba(255, 255, 255, 0.4)
  &::-moz-placeholder
    color rgba(255, 255, 255, 0.4)
  &:-ms-input-placeholder
    color rgba(255, 255, 255, 0.4)

  &:focus
    &::-webkit-input-placeholder
      color clr-white
    &:-moz-placeholder
      color clr-white
    &::-moz-placeholder
      color clr-white
    &:-ms-input-placeholder
      color clr-white

.inpt-location
  position absolute
  left -9999px
