/**
 * links
 */

a
  text-decoration none

.lnk
  &:hover
    opacity .7
  i
    font-size 1.4em
    vertical-align middle
    margin 0 10px

.lnk-fill
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  z-index 10
