/**
 * modals
 */

.modal
  display none
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 10
  overflow auto
  text-align center
  &.open
    display block
  &:before
    content ''
    gradient-animated()
    opacity 0.99
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
    backface-visibility none
  .close
    position absolute
    top 30px
    right 30px
    cursor pointer
    font-size 39px
    color white
    &:hover
      opacity 0.7

// .modal-open
//   overflow hidden
