extend _partials/layout

append vars
  - var pageName = "posts-page"
  - var logoClass = "white alt-blk-wht"
  - var menuClass = "white alt-blk-wht"
  - var headerBg = '/img/blog/blog-background.jpg'
  - var headerPadding = '265px 0'

block content
  include _partials/header

  - var headerColor = headerClass === 'alt-to-blk' ? 'black' : 'white'
  section(class="area-header center " + (headerClass || 'alt-to-wht'), style="padding:" + (headerPadding||''))
    h6(class="heading-tiny " + headerColor) FOR CLIENTS &middot; FOR PEERS &middot; FOR EVERYONE
    h1(class="heading " + headerColor) Thoughts

  section(class="area-light area-sml alt-to-blk")
    div(class="bg-slanted")
    div(class="posts")
      each p in thoughts
        div(class="post")
          h6(class="heading-tiny uppercase gray")= p.author
          h1(class="heading-sub")= p.title
          div.icon-arrow
          a(href="/blog/#{p.slug}", class="lnk-fill")
