extend _partials/layout

append vars
  - var pageName = "careers-page"
  - var logoClass = "alt-blk-wht"
  - var menuClass = "alt-blk-wht"

block content
  include _partials/header

  section(class="area-header center alt-to-blk")
    h6(class="heading-tiny purple") 5 REASONS YOU SHOULD
    h1(class="heading black") Work at HQ
  
  section(class="area-dark center alt-to-wht")
    div(class="bg-slanted bg-image bg-careers1 bg-dark-mask")
      div(class="bg-gradient-alien")
    div
      h3(class="heading-diamond") 01
      h2(class="heading") Case of the Mondays?#[br]Never Again.
      br
      p(class="text-wide") In an attempt to balance the ol’ work/life balance, HQ started a completely flexible work schedule. It’s kind of a complicated concept so allow us to explain in six easy steps:
      p(class="text-wide")
        | #[b Step 1] Monday happens #[br]
        | #[b Step 2] You roll out of bed #[br]
        | #[b Step 3] Put on your HQ embroidered Snuggie #[br]
        | #[b Step 4] Pull out your Laptop #[br]
        | #[b Step 5] Work, Work, Work, Break, Work, Nap?, Work, Work #[br]
        | #[b Step 6] Look at you! You’ve just avoided a case of the Mondays
        p(class="text-wide") At HQ, what matters is that we produce great work and make our clients happy. That doesn't always require you to come into the office. You never need to ask permission to leave, to work at home, to go on vacation, etc. Doing great work is the only requirement.

  section(class="area-light center alt-to-blk")
    div(class="bg-slanted")
    div
      h3(class="heading-diamond") 02
      h2(class="heading") Feng Shui on Point
      br
      p(class="text-wide") On point? Is this what the youth are saying now? Nevermind, we’ll ask our interns. Our office is located in the heart of downtown Ogden at Startup Ogden. In a past life our buildling was home to “Mountain States Implement Company”, a farm supply store for ancient Ogdenites. It’s now home to a growing entreprenurial tech community. The open floor plan lends itself to collaboration and the exposed brick with distressed hardwood floors are a homage to Ogden’s rich history.
      
      div(class="image-grid")
        a(href="https://www.instagram.com/p/rpdWHdNoca/", target="_blank"): img(src="/img/misc/careers1.jpg")
        a(href="https://www.instagram.com/p/t_CzQ_NoSi/", target="_blank"): img(src="/img/misc/careers2.jpg")
        a(href="https://www.instagram.com/p/wfHQwkNoZa/", target="_blank"): img(src="/img/misc/careers3.jpg")
        a(href="https://www.instagram.com/p/y7_Du1NoRO/", target="_blank"): img(src="/img/misc/careers4.jpg")
        a(href="https://www.instagram.com/p/1344oItoey/", target="_blank"): img(src="/img/misc/careers5.jpg")

  section(class="area-dark center alt-to-wht")
    div(class="bg-slanted bg-image bg-careers2 bg-dark-mask")
      div(class="bg-gradient-ocean")
    div
      h3(class="heading-diamond") 03
      h2(class="heading") Small Teams, Big Ideas
      br
      p(class="text-wide") We don't have multiple layers of management and you don't need permission to try something new. We work with the most cutting edge technologies and push the envelope with new ideas. We move too fast to ever get bored.

  section(class="area-light center alt-to-blk")
    div(class="bg-slanted")
    div
      h3(class="heading-diamond") 04
      h2(class="heading") Variety is the Spice of Life
      br
      p(class="text-wide") We are very lucky work with funded startups, corporate enterprises, and small businesses. This means we get to make things for all sorts of industries. Almost every project we start has a unique problem for us to solve: designing complicated web dashboards, developing social mobile apps, creating a new website design for an existing company, or branding a new one. Our clients trust our judgement and allow us to explore to find the correct design solution for their market.

  section(class="area-dark center alt-to-wht")
    div(class="bg-slanted bg-image bg-careers3 bg-dark-mask")
      div(class="bg-gradient-fire")
    div
      h3(class="heading-diamond") 05
      h2(class="heading") We get crazy
      br
      p(class="text-wide") The HQ team partakes in various traditions and activites. There’s never a dull moment and always something to look forward to. And no we’re not talking about casual Fridays.
      table(class="crazy-list")
        tr
          th On the Reg
          th Special Occasions
        tr
          td Ping Pong
          td Utah Warbird Adventure
        tr
          td Halo Meetings
          td Bowling
        tr
          td Movie Premiers
          td Paintballing
        tr
          td Work from home
          td Backyard BBQ's
        tr
          td Hack Ogden
          td Ping Pong Tournaments
        tr
          td Free Lunch Fridays
          td Pool Parties
        tr
          td Startup Weekend
          td Apple Developer Conferences#[br](On TV, we#{"'"}re not rich)
        
      div(class="montage")
        div
          a(href="https://www.instagram.com/p/vKMYOBw-CL/", target="_blank") 
            video(autoplay, loop)
              source(src="/vid/airplane.mp4", type="video/mp4")
              source(src="/vid/airplane.webm", type="video/webm")
        div
          a(href="https://www.instagram.com/p/_nIxZFtoVN/", target="_blank")
            video(autoplay, loop)
              source(src="/vid/hoverboards.mp4", type="video/mp4")
              source(src="/vid/hoverboards.webm", type="video/webm")
        div
        div

  section(class="area-light center alt-to-blk")
    div
      h3(class="heading-diamond") 06
      h2(class="heading") If you &#10084; design and code, #[br] see our openings.
      br
      a(href="/openings", class="btn btn-alien") OPENINGS
