extend _partials/layout

block vars
  - var bodyClass = "bg-dark"
  - var pageName = "home-page"

block content
  header
    a(href="/", class="logo red")
    
    nav
      div(id="piglet", class="red")
      ul(id="nav-menu")
        li: a(href="/work") WORK
        li: a(href="/our-story") OUR STORY
        li: a(href="/thoughts") THOUGHTS
        li: a(href="/contact") CONTACT
        li: a(href="/careers") CAREERS

  section(class="heading dark")
    h6 WE’RE A DIGITAL CREATIVE AGENCY
    h1(class="cutout") Let's Build Together.

  section(class="dark")
    div(class="slanted"): div(class="bg-image gymjones")
    div(class="content")
      h3(class="numbered") 01
      h2 We built a sweet website for a gym that trains Hollywood actors.
    div(class="raised-image on-right")
      div(class="image"): img(src="/img/macbook1.png")
      div(class="outline")
  
  h3(class="vertical red") DESIGN & DEVELOPMENT

  section(class="dark")
    div(class="slanted"): div(class="bg-image goze")
    div(class="raised-image on-left")
      div(class="image"): img(src="/img/phone1.png")
      div(class="outline")
    div(class="content on-right")
      h3(class="numbered") 02
      h2 We built an app for sharing travel stories.
      
  h3(class="vertical inversed red") WEB & MOBILE

  section(class="light clients")
    div(class="slanted bg-light")
    div(class="content")
      h3(class="numbered") 03
      h2 Clients
      p We love our clients. We view our clients as humans, not companies. And our biggest goal is to make our clients happy. Feel free to ask them what it’s like to work with us.

  section(class="light")
    div(class="slanted"): div(class="bg-image silvervue")
    div(class="content")
      h3(class="numbered") 04
      h2 We built a cross platform app for hospice residents.
    div(class="raised-image on-right")
      div(class="image"): img(src="/img/macbook1.png")
      div(class="outline")
      
  h3(class="vertical red") YOU LOOK GREAT TODAY
    
  section(class="light")
    div(class="slanted"): div(class="bg-image provigil")
    div(class="raised-image on-left")
      div(class="image"): img(src="/img/macbook1.png")
      div(class="outline")
    div(class="content on-right")
      h3(class="numbered") 05
      h2 We built a website and iOS app for a surveilance product.
      
  h3(class="vertical inversed red") THANKS FOR SCROLLING!

  section(class="dark")
    div(class="slanted"): div(class="bg-image office")
    div(class="content")
      h3(class="numbered") 06
      h2 What we are best at
