extend _partials/layout

block vars
  - var bodyClass = "bg-dark"
  - var pageName = "home-page"

block content
  header
    a(href="/", class="logo red")
    
    nav
      div(id="piglet", class="red")
      ul(id="nav-menu")
        li: a(href="/work") WORK
        li: a(href="/our-story") OUR STORY
        li: a(href="/thoughts") THOUGHTS
        li: a(href="/contact") CONTACT
        li: a(href="/careers") CAREERS

  section(class="heading dark")
    h6 WE’RE A DIGITAL CREATIVE AGENCY
    h1(class="cutout") Let's Build Together.

  section(class="dark")
    div(class="slanted"): div(class="bg-image gymjones")
    div(class="content")
      h3(class="numbered") 01
      h2 We built a sweet website for a gym that trains Hollywood actors.
    div(class="raised-platform on-right")
      div(class="outline")
      div(class="box gymjones")
        div(class="overlay")
          h4 Gym Jones
          h6(class="red") SEE CASE STUDY
          a(href="/studies/gymjones", class="block-link")
  
  h3(class="vertical red") DESIGN & DEVELOPMENT

  section(class="dark")
    div(class="slanted"): div(class="bg-image goze")
    div(class="raised-platform on-left")
      div(class="outline")
      div(class="box goze")
        div(class="overlay")
          h4 Goze
          h6(class="red") SEE CASE STUDY
          a(href="/studies/goze", class="block-link")
    div(class="content on-right")
      h3(class="numbered") 02
      h2 We built an app for sharing travel stories.
      
  h3(class="vertical inversed red") WEB & MOBILE

  section(class="light clients cols")
    div(class="slanted bg-light")
    div(class="content")
      h3(class="numbered") 03
      h2 Clients
      p We love our clients. We view our clients as humans, not companies. And our biggest goal is to make our clients happy. Feel free to ask them what it’s like to work with us.
    div(class="content client-list")
      div(class="tab")
        input(type="radio", name="client-list", id="client-list-1", checked)
        label(for="client-list-1") 01
        img(src="/img/clients/clients1.png")
      div(class="tab")
        input(type="radio", name="client-list", id="client-list-2")
        label(for="client-list-2") 02
        img(src="/img/clients/clients2.png")

  section(class="light")
    div(class="slanted"): div(class="bg-image silvervue")
    div(class="content")
      h3(class="numbered") 04
      h2 We built a cross platform app for hospice residents.
    div(class="raised-platform on-right")
      div(class="outline")
      div(class="box silvervue")
        div(class="overlay")
          h4 Silver Vue
          h6(class="red") SEE CASE STUDY
          a(href="/studies/silvervue", class="block-link")
      
  h3(class="vertical red") YOU LOOK GREAT TODAY
    
  section(class="light provigil")
    div(class="slanted"): div(class="bg-image provigil")
    div(class="raised-platform on-left")
      div(class="outline")
      div(class="box provigil")
        div(class="overlay")
          h4 Pro Vigil
          h6(class="red") SEE CASE STUDY
          a(href="/studies/provigil", class="block-link")
    div(class="content on-right")
      h3(class="numbered") 05
      h2 We built a website and iOS app for a surveilance product.
      
  h3(class="vertical inversed red") THANKS FOR SCROLLING!

  section(class="dark what-were-best")
    div(class="content")
      h3(class="numbered") 06
      h2 What we are best at
      p We are a full-service digital agency – a mouthful that means we design and develop websites and mobile apps. We especially excel at user experience.
      a(href="/work", class="red") See our full list of services
        i(class="icon-circle-arrow")
    footer
      h1(class="smaller gradient-text") Let's build together.
      br
      a(href="/contact", class="btn btn-grayscale") GET IN TOUCH
      br
      span(class="one-more-thing") WE MAY BE SUPER NERDY, BUT WE LOVE PEOPLE
