extend _partials/layout

append vars
  - var pageName = "home-page"
  - var menuClass = "alt-blk-wht"
  - var logoClass = "alt-blk-wht"

block content
  include _partials/header

  section(class="area-header-main center alt-to-blk")
    h5(class="heading-tiny text-gradient") WE'RE A DIGITAL CREATIVE AGENCY
    h1(class="heading-main black cutout") Let's build together.
  
  section(class="area-dark area-lrg flex alt-to-wht")
    div(class="bg-slanted")
      div(class="bg-image bg-gymjones", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col")
      h3(class="heading-numbered"): span 01
      h2(class="heading-sub with-width") Building an online home for a global fitness culture.
    div(class="col center")
      div(class="platform on-right")
        div(class="outline")
          div(class="left")
          div(class="right")
          div(class="top")
          div(class="bottom")
        div(class="box plat-gymjones", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub") Gym Jones
            h6(class="heading-tiny text-gradient-fire") SEE CASE STUDY
            a(href="/studies/gymjones", class="lnk-fill")
  
  h3(class="heading-vertical long red") WEB APP DESIGN & DEVELOPMENT

  section(class="area-dark area-lrg flex alt-to-wht")
    div(class="bg-slanted")
      div(class="bg-image bg-sinet", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col center")
      div(class="platform on-left")
        div(class="outline")
          div(class="left")
          div(class="right")
          div(class="top")
          div(class="bottom")
        div(class="box plat-sinet", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub") School Improvement
            h6(class="heading-tiny text-gradient-fire") SEE CASE STUDY
            a(href="/studies/schoolimprovement", class="lnk-fill")
    div(class="col-right")
      h3(class="heading-numbered"): span 02
      h2(class="heading-sub with-width") Designing a platform to train educators around the world.
      
  h3(class="heading-vertical inversed short red") MOBILE & WEB DESIGN 

  section(class="area-light flex alt-to-blk")
    div(class="bg-slanted bg-image")
    div(class="col")
      h3(class="heading-numbered"): span 03
      h2(class="heading-sub") Clients
      p(class="text-norm with-width") We love our clients. We view our clients as humans, not companies. And our biggest goal is to make our clients happy. Feel free to ask them what it’s like to work with us.
    div(class="col center clients")
      div(class="tab")
        input(type="radio", name="client-list", id="client-list-1", checked)
        label(for="client-list-1") 01
        img(src="/img/clients/clients1.png")
      div(class="tab")
        input(type="radio", name="client-list", id="client-list-2")
        label(for="client-list-2") 02
        img(src="/img/clients/clients2.png")

  section(class="area-light area-lrg flex alt-to-blk")
    div(class="bg-slanted")
      div(class="bg-image bg-silvervue", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col")
      h3(class="heading-numbered"): span 04
      h2(class="heading-sub with-width") Helping caretakers focus on their patients, not outdated software.
    div(class="col center")
      div(class="platform on-right")
        div(class="outline")
          div(class="left")
          div(class="right")
          div(class="top")
          div(class="bottom")
        div(class="box plat-silvervue", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub white") SilverVue
            h6(class="heading-tiny text-gradient-fire") SEE CASE STUDY
            a(href="/studies/silvervue", class="lnk-fill")
      
  h3(class="heading-vertical short red") UI/UX DESIGN & DEVELOPMENT
      
  section(class="area-light area-lrg flex alt-to-blk")
    div(class="bg-slanted")
      div(class="bg-image bg-provigil", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col center")
      div(class="platform on-left")
        div(class="outline")
          div(class="left")
          div(class="right")
          div(class="top")
          div(class="bottom")
        div(class="box plat-provigil", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub white") Pro-Vigil
            h6(class="heading-tiny text-gradient-fire") SEE CASE STUDY
            a(href="/studies/provigil", class="lnk-fill")
    div(class="col-right")
      h3(class="heading-numbered"): span 05
      h2(class="heading-sub with-width") Creating the brand, site & app for a sophisticated video surveillance system.

  h3(class="heading-vertical inversed long red") WEBSITE DESIGN
  
  section(class="area-dark area-lrg alt-to-wht")
    div(class="bg-image bg-office")
    div
      h3(class="heading-numbered"): span 06
      h2(class="heading-sub with-width") What we are best at
      p(class="text-norm with-width") We are a full-service digital agency – a mouthful that means we design and develop websites and mobile apps. We place an obsessive emphasis on great UI/UX.
      a(href="/work", class="lnk text-gradient") See our full list of services
        i(class="icon-circle-arrow")
    footer(class="center")
      h1(class="heading text-gradient") Let's build together.
      br
      a(href="#contact", data-target="modal", class="btn btn-grayscale") GET IN TOUCH
      br
      h6(class="heading-tiny") WE &#10084; GREAT PRODUCTS
