extend _partials/layout

append vars
  - var pageName = "home-page"
  - var logoClass = "red"
  - var menuClass = "red"

block content
  include _partials/header

  section(class="area-dark area-header-main center")
    h6(class="heading-tiny white") WE'RE A DIGITAL CREATIVE AGENCY
    h1(class="heading-main white cutout") Let's build together.
  
  section(class="area-dark area-lrg flex")
    div(class="bg-slanted")
      div(class="bg-image bg-gymjones", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col")
      h3(class="heading-numbered"): span 01
      h2(class="heading-sub with-width") Building an online home for a global cross fit culture
    div(class="col center")
      div(class="platform on-right")
        div(class="outline")
        div(class="box plat-gymjones", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub") Gym Jones
            h6(class="heading-tiny red") SEE CASE STUDY
            a(href="/studies/gymjones", class="lnk-fill")
  
  h3(class="heading-vertical long red") DESIGN & DEVELOPMENT

  section(class="area-dark area-lrg flex")
    div(class="bg-slanted")
      div(class="bg-image bg-goze", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col center")
      div(class="platform on-left")
        div(class="outline")
        div(class="box plat-goze", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub") Goze
            h6(class="heading-tiny red") SEE CASE STUDY
            a(href="/studies/goze", class="lnk-fill")
    div(class="col-right")
      h3(class="heading-numbered"): span 02
      h2(class="heading-sub with-width") Giving people a place to share journies with their closest friends
      
  h3(class="heading-vertical inversed short red") WEB & MOBILE

  section(class="area-light flex")
    div(class="bg-slanted bg-image")
    div(class="col")
      h3(class="heading-numbered"): span 03
      h2(class="heading-sub") Clients
      p(class="text-norm with-width") We love our clients. We view our clients as humans, not companies. And our biggest goal is to make our clients happy. Feel free to ask them what it’s like to work with us.
    div(class="col center clients")
      div(class="tab")
        input(type="radio", name="client-list", id="client-list-1", checked)
        label(for="client-list-1") 01
        img(src="/img/clients/clients1.png")
      div(class="tab")
        input(type="radio", name="client-list", id="client-list-2")
        label(for="client-list-2") 02
        img(src="/img/clients/clients2.png")

  section(class="area-light area-lrg flex")
    div(class="bg-slanted")
      div(class="bg-image bg-silvervue", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col")
      h3(class="heading-numbered"): span 04
      h2(class="heading-sub with-width") Helping caretakers focus on their patients, not outdated software
    div(class="col center")
      div(class="platform on-right")
        div(class="outline")
        div(class="box plat-silvervue", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub white") Silver Vue
            h6(class="heading-tiny red") SEE CASE STUDY
            a(href="/studies/silvervue", class="lnk-fill")
      
  h3(class="heading-vertical short red") YOU LOOK GREAT TODAY
      
  section(class="area-light area-lrg flex")
    div(class="bg-slanted")
      div(class="bg-image bg-provigil", data-bottom-top="opacity:.1", data--100-top="opacity:1")
    div(class="col center")
      div(class="platform on-left")
        div(class="outline")
        div(class="box plat-provigil", data-bottom-top="top: 100px", data-top-bottom="top: -200px")
          div(class="overlay")
            h4(class="heading-sub white") Pro Vigil
            h6(class="heading-tiny red") SEE CASE STUDY
            a(href="/studies/provigil", class="lnk-fill")
    div(class="col-right")
      h3(class="heading-numbered"): span 05
      h2(class="heading-sub with-width") Creating the brand, site & app for a video surveilence

  h3(class="heading-vertical inversed long red") THANKS FOR SCROLLING!
  
  section(class="area-dark area-lrg")
    div(class="bg-image bg-office")
    div
      h3(class="heading-numbered"): span 06
      h2(class="heading-sub with-width") What we are best at
      p(class="text-norm with-width") We are a full-service digital agency – a mouthful that means we design and develop websites and mobile apps. We especially excel at user experience.
      a(href="/work", class="lnk red") See our full list of services
        i(class="icon-circle-arrow")
    footer(class="center")
      h1(class="heading text-gradient-fire") Let's build together.
      br
      a(href="#contact", data-target="modal", class="btn btn-grayscale") GET IN TOUCH
      br
      h6(class="heading-tiny") WE MAY BE SUPER NERDY, BUT WE LOVE PEOPLE
