extend _partials/layout

block content
  header
    a(href="/", class="logo-big")
    nav(class="nav-container right")
      a(href="/contact" class="new-btn btn btn-white") CONTACT
  
  section(class="new-area b-grnd-office")
    div(class="content")
      h1(class="main-header") Custom Websites, Tools, & Apps 
      h5(class="small-header white") WORK WITH A DIGITAL CREATIVE AGENCY
      div(class="paragraph-container")
        p(class="paragraph") We are a full-service digital agaency - a mouthful that means we design and develop websites and mobile apps. We place an obsessive emphasis on great UI/UX
      div(class="gym-img-container")
        img(class="gym-img" src="/img/new/macbook-iphone.png")
    
  section(class="services-area")
    h1(class="main-header black") Our Services
    div(class="row")
      div(class="services-img")
        img(src="/img/new/ux-design.png" class="services")
      div(class="services-img")
        img(src="/img/new/web-dev.png" class="services")
      div(class="services-img")
        img(src="/img/new/mobile-dev.png" class="services")
      div(class="services-img")  
        img(src="/img/new/branding.png" class="services")
          
    
  section(class="new-area-2 b-grnd-ui")
    div(class="content")
      h1(class="main-header") Some of our clients
      div(class="paragraph-container")
        p(class="paragraph white") We love our clients. We view our clients as humans, not companies. Our biggest goal is to make our clients happy. Feel free to ask them what it’s like to work with us.
      div(class="row")
        div(class="img-container")
          img(class="clients-img" src="/img/new/clients.png")
      div(class="paragraph-container")
        p(class="paragraph white") HQ has a very talented design team along with a programming staff that is able to make the design team’s vision a reality. The project management and communication is also first class.
      h2(class="main-header") Jeremy White, CEO
      img(src="/img/new/pro-vigil.png" class="pro-vigil")

  section(class="btm-area")
    div(class="btm-area__header")
      h1(class="main-header black") Contact Us
      h2(class="med-header") Lets discuss your project - free of charge
    a(href="/contact" class="btn btn-alien") Lets Chat
  
  section
    p(class="footer") Copyright 2016 - HQ | Privacy Policy
