extend _partials/layout

block content
  include _partials/new-header
  section(class="b-grnd-office flex-container")
    div(class="top-area  gradient-prpl")
      h1(class="main-header") Custom Websites, Tools, & Apps 
      h5(class="small-header white") WORK WITH A DIGITAL CREATIVE AGENCY
      p(class="paragraph white") We are a full-service digital agaency - a mouthful that means we design and develop websites and mobile apps. We place an obsessive emphasis on great UI/UX
      div(class="gym-img")
        img(src="/img/gymjones/macbook-iphone.png")
    
  section(class="services-area center")
    p(class="p-header") Our Services
    
  section(class="mid-area gradient-prpl")
    div(class="b-grnd-ui")
      p(class="p-header white") Some of our clients
      p(class="paragraph white") We love our clients. We view our clients as humans, not companies. Our biggest goal is to make our clients happy. Feel free to ask them what it’s like to work with us.
      div(class="top-paragraph center flex")
      img(class="clients-img" src="/img/clients/clients1.png")
