extend /views/_partials/layout

append vars
  - var pageName = "posts-page"
  - var logoClass = "white alt-blk-wht"
  - var menuClass = "white alt-blk-wht"
  - var pageTitle = "Job Openings at HQ | Let's Build Together"
  - var pageDescription = "We want you to be apart our creative team.  Enjoy working for a digital creative agency with a flexible work schedule."

block content
  include /views/_partials/header

  section(class="area-header center alt-to-wht")
    h6(class="heading-tiny white") LET'S WORK TOGETHER
    h1(class="heading white") Openings

  section(class="area-light area-sml alt-to-blk")
    div(class="bg-slanted")
    div(class="posts")
      each p in openings
        div(class="post")
          h6(class="heading-tiny uppercase gray")= p.category
          h1(class="heading-sub")= p.title
          div.icon-arrow
          a(href=`/openings/${p.slug}`, class="lnk-fill")
