extends _partials/layout
  
block vars
  - var menuColor = "white"
  - var logoColor = "white"
  - var alternateMenu = true

block content
  div.thoughts-page
    include _partials/header
    
    div.heading
      h1.white Openings
      h5.white LET'S WORK TOGETHER
    
    section(class="light")
      div(class="bg-slanted bgWhite")
      
      div.posts
        each p in jobs
          div.post
            a(href="/openings/#{p.url}", class="block-link")
            h5= p.category
            h1= p.title

            div.icon-arrow
