extend _partials/layout

append vars
  - var pageName = "story-page"
  - var menuClass = "alternate"

block content
  include _partials/header

  section(class="area-header center")
    h6(class="heading-tiny purple") BORN AND BRED IN OGDEN
    h1(class="heading black") Our Story
  
  section(class="area-dark center")
    div(class="bg-slanted bg-image bg-story1 bg-dark-mask")
      div(class="bg-gradient-alien")
    div
      h3(class="heading-diamond") 01
      h2(class="heading") How it all began...
      h6(class="heading-tiny blue") WRITTEN BY ZARIN
      br
      p(class="text-wide") Matt and I started HQ while roasting hot dogs in his backyard. For all intents and purposes the card table by the firepit was our office. We didn't have a vision of "making the world a better place" or grandiose plans for starting a design agency. Honestly, we sort of just stumbled into it.
      p(class="text-wide") We were working together on a product (a wedding website creator called BesideYouForever—another story). It was our second product collaboration. Everyday for a summer, I rode my bike to his house on the canal trail and we built the product on his back porch. We weren't wild about the wedding industry, but we were very passionate about making something. In many ways it was our college education about the world of tech and entrepreneurship (while simultaneously studying tech and entrepreneurship at WSU). We loved it.
      
      div(class="image-grid")
        img(src="/img/misc/story1.jpg")
        img(src="/img/misc/story2.jpg")
        img(src="/img/misc/story3.jpg")
        img(src="/img/misc/story4.jpg")
        img(src="/img/misc/story5.jpg")
        
      p(class="text-wide") I was doing freelance work and Matt was running a social media marketing company. We got so busy with client work and were already working together on BesideYouForever, we thought, "Why not join forces and focus on building one really good company?" It gave us an engine for building whatever we wanted, whether our own ideas or client projects. HQ was born.
      p(class="text-wide") (Sidenote: we're often asked what HQ stands for. The original thought was that our company was a "headquarters" for our various projects. Also, the LLC and URL were short. We didn’t want a “matt@reallycoolbutlongname.com” email).

  section(class="area-light center")
    div(class="bg-slanted")
    div
      h3(class="heading-diamond") 02
      h2(class="heading") Our Team Today
      br
      p(class="text-wide center") Some of us design, some of us code, and some of us keep the ship afloat.
      
      div(class="image-grid-wrap us")
        each e in employees
          img(src="/img/us/#{e.slug}.jpg", alt=e.name)

  section(class="area-dark center")
    div(class="bg-slanted bg-image bg-story2 bg-dark-mask")
      div(class="bg-gradient-ocean")
    div
      h3(class="heading-diamond") 02
      h2(class="heading") What we care about
      br
      p(class="text-wide") Buzzwords like values, mission statement, and even culture dilute the intended meaning. So we'll just call this a “list of things we care about.”
      p(class="text-wide") #[b Work hard and be nice to people.] Design is a people job. So is development. This should be a given, but we want to work with people who are pleasant.
      p(class="text-wide") #[b Focus on user experience.] This is what separates us from graphic design agencies. User experience design is pragmatic, and in many ways closer to engineering than art. Our projects begin with understanding goals and users.
      p(class="text-wide") #[b Give a crap.] Another given. I've talked to bosses whose biggest concern is how to motivate their employees. We're fortunate to work with a team that loves what they do (many constantly tinker on side projects). Most things in life are mediocre—it's really hard to make something truly great, and that's what we're chasing.

  section(class="area-light center")
    div(class="bg-slanted")
    div
      h3(class="heading-diamond") 03
      h2(class="heading") Who we want to be
      br
      p(class="text-wide") It's hard to write our "company vision" without sounding fake or stiff. Maybe we’re jaded from reading too many cheesy company about pages, but here goes anyway—this is what we aspire to:
      p(class="text-wide") #[b Make cool stuff that people use.] The best feeling is to overhear a stranger gush about a product you worked on.
      p(class="text-wide") #[b Work with interesting clients on interesting projects.] Then—years later—we’ll reminisce together over a fancy dinner about how their project made them wildly rich.
      p(class="text-wide") #[b Build a company with people we like.] Building a company is satisfying, but more fulfilling is building a company that improves the lives of those we work with.
      p(class="text-wide") #[b A Utah company.] We work with clients from Ukraine, Mexico, Brazil, and all over the US. But we love working in Utah. More on this below.

  section(class="area-dark center")
    div(class="bg-slanted bg-image bg-story3 bg-dark-mask")
      div(class="bg-gradient-fire")
    div
      h3(class="heading-diamond") 04
      h2(class="heading") Where we work
      br
      p(class="text-wide") Ogden is a former train-town nestled against the Wasatch Mountains. It's not too big and not too small—it’s just right. We’re close to Salt Lake City (a 45 minute drive), but we’re closer to trails and lakes. Here are some things we love about where we live:
      p(class="text-wide") #[b Outdoors.] We’re minutes away from skiing, cycling, hiking, and boating. The river parkway trail is two blocks away.
      p(class="text-wide") #[b Downtown.] Despite our close proximity to nature-y stuff, we're still right in the heart of Ogden. Theatres, bowling, and nice apartments are across the street. Fifty restaurants are within ten minutes—you can walk to a lot of them. Ogden City has done a great job at restoring the downtown area.
      p(class="text-wide") #[b It&#39;s a beautiful place all four seasons.] See our Instagrams above for proof.
      
      div(class="image-grid")
        img(src="/img/misc/where1.jpg")
        img(src="/img/misc/where2.jpg")
        img(src="/img/misc/where3.jpg")
        img(src="/img/misc/where4.jpg")
        img(src="/img/misc/where5.jpg")
        
      p(class="text-wide") #[b Family friendly.] Ogden was ranked by Forbes as the 4th best place to raise a family (and you know you can always trust subjective lists on the internet). But really, Ogden is both safe and fun. We love living here.
      p(class="text-wide") #[b New tech community.] Utah is one of the fastest growing tech hotspots. There are always events, conferences, and meet ups to collaborate with other smart and passionate people. We’re one big nerdy family. (#startupogden)
      p(class="text-wide") #[b Our office.] We work in a newly refurbished 103-year-old building. Open floor plan, hardwood floors, natural lighting—even a ping pong table. It might be a little cliche for a tech office, but it’s a pleasure to work in. The most common first reaction is “Wow.”

  section(class="area-light center")
    div
      h3(class="heading-diamond") 05
      h2(class="heading") Let's work together
      br
      a(href="/careers", class="btn btn-alien") CAREERS
