extend _partials/layout

block content
  //- h1(class="heading text-gradient-fire") Let's build together.
  //- h1(class="heading-tiny") WE'RE A DIGITAL CREATIVE AGENCY
  //- h1(class="heading-main") Let's build together.
  //- h1(class="heading-numbered"): span 01
  //- h1(class="heading-numbered"): span 02
  //- h1(class="heading-sub with-width") We built a sweet website for a gym that trains Hollywood actors.
  //- h1(class="heading-diamond") 01
  //- h1(class="heading-vertical short") WEB & MOBILE
  //- h1(class="heading-vertical long inversed") WE'RE A DIGITAL CREATIVE AGENCY
  //- p(class="text-norm with-width") We love our clients. We view our clients as humans, not companies. And our biggest goal is to make our clients happy. Feel free to ask them what it’s like to work with us.
  
  section(class="area-light")
    div(class="bg-slanted")
    p hi

  section(class="area-dark flex")
    div(class="bg-slanted bg-image")
    div.col hi
    div.col.center hi

  section(class="area-light flex")
    div(class="bg-slanted")
    div.col hi
    div.col hi

  section(class="area-dark")
    div(class="bg-slanted")
    p hi
