extend _partials/layout

append vars
  - var pageName = 'success'
  - var logoClass = 'white'
  - var menuClass = 'white'

block content
  include _partials/header
  
  h1 Thanks, we'll get back with you soon!

  a(href="mailto:us@builtbyhq.com", class="email-address") us@builtbyhq.com
  br
  p(class="email-address") 801.791.7310
  p(class="email-address") 2314 Washington Blvd
  p(class="email-address") Ogden, UT 84401
