extend _partials/layout

append vars
  - var pageName = "posts-page"
  - var logoClass = "white alt-blk-wht"
  - var menuClass = "white alt-blk-wht"

block content
  include _partials/header

  section(class="area-header center alt-to-wht")
    h6(class="heading-tiny white") FOR CLIENTS &middot; FOR PEERS &middot; FOR EVERYONE
    h1(class="heading white") Thoughts

  section(class="area-light area-sml alt-to-blk")
    div(class="bg-slanted")
    div(class="posts")
      each p in thoughts
        div(class="post")
          h6(class="heading-tiny uppercase gray")= p.author
          h1(class="heading-sub")= p.title
          div.icon-arrow
          a(href="/thoughts/#{p.slug}", class="lnk-fill")
