html(lang="en")

  head
    meta(charset="utf8")
    
    title HQ

    link(rel="stylesheet", type="text/css", href="/poop.css")
    
  body
    div(class="poop")
      img(src="/img/poop.png")
      h1 This is what the internet looks like for you.
      a(href="https://updatemybrowser.org") Click Here to Update Your Browser
