extend _partials/layout

append vars
  - var pageName = "work-page"
  - var menuClass = "alternate"

block content
  include _partials/header

  section(class="area-header center")
    h6(class="heading-tiny purple") WEB &middot; MOBILE &middot; UI/UX &middot; BRANDING
    h1(class="heading black") Here's what we're good at
    
  section(class="area-dark web")
    div(class="bg-slanted bg-image bg-web bg-dark-mask")
      div(class="bg-gradient-alien")
    h2(class="heading-huge center") Web
    br
    p(class="text-wide") Our development team has several focuses:
    p(class="text-wide") 
      | #[b Integrated design and development.] Our designers and developers work side by side to create pixel perfect results. Our developers care about the details and play well with designers. We can build your product from start to finish or integrate with your team. #[br] #[br]
      | #[b Clean, readable code.] That means you're not handcuffed to us if you need to bring on new developers. It means anyone from our team, yours, or another party can jump right in. #[br] #[br]
      | #[b Thoughtful structure.] We've dealt with code that resembles Frankenstein's monster. Features and plugins bolted on with no regard to consistency. In many cases, its cheaper to start from scratch rather than fix. We pride ourselves in code structure that is flexible and sustainable.
  div(class="platforms platforms-web")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/hero-global.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/marketstar.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/utah-warbirds.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/get-it-cooked.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/gym-jones.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/pro-vigil.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/far-better.jpg")
    
  section(class="area-light mobile")
    div(class="bg-slanted bg-image bg-mobile")
    h2(class="heading-huge center") Mobile
    br
    p(class="text-wide") Our development team has several focuses:
    p(class="text-wide") 
      | #[b Integrated design and development.] Our designers and developers work side by side to create pixel perfect results. Our developers care about the details and play well with designers. We can build your product from start to finish or integrate with your team. #[br] #[br]
      | #[b Clean, readable code.] That means you're not handcuffed to us if you need to bring on new developers. It means anyone from our team, yours, or another party can jump right in. #[br] #[br]
      | #[b Thoughtful structure.] We've dealt with code that resembles Frankenstein's monster. Features and plugins bolted on with no regard to consistency. In many cases, its cheaper to start from scratch rather than fix. We pride ourselves in code structure that is flexible and sustainable.

  div(class="platforms platforms-mobile")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/goze.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/bindr.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/weave-scheduling.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/far-better.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/weave.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/dart.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/cole-music.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/evernym.jpg")

  section(class="area-dark ui")
    div(class="bg-slanted bg-image bg-UI bg-dark-mask")
      div(class="bg-gradient-ocean")
    h2(class="heading-huge center") UI/UX
    br
    p(class="text-wide") User experience design (UX design, for short) is how a user feels about a product or company. Is she happy? Impressed? Pleasantly surprised? Or is she frustrated and confused? UX design is important for websites, web applications and mobile apps. #[br] #[br]
      | At it's core, UI/UX design involves planning and executing design in a way that results in achieving users' goals and desired feeling’s associated with that product or task. #[br] #[br]
      | Even though design should be beautiful, it should accomplish goals . That might be to increase conversions, teach a user through on boarding, or guide them to accomplish a task. Every design decision should be informed by goals. #[br] #[br]
      | So how do we design a great user experience? Take a look at our process. In short, it involves research: determining goals, creating user profiles, listing use cases, and mapping all screens. After wireframes and full designs come iteration and testing.
  div(class="platforms platforms-ui")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/instafluence1.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/get-it-cooked.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/silver-vue.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/solo-seo.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/school-improvement.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/instafluence2.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/raises.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/kichink.jpg")

  section(class="area-light branding")
    div(class="bg-slanted bg-image bg-branding")
    h2(class="heading-huge center") Branding
    br
    p(class="text-wide") Our development team has several focuses:
    p(class="text-wide") 
      | #[b Integrated design and development.] Our designers and developers work side by side to create pixel perfect results. Our developers care about the details and play well with designers. We can build your product from start to finish or integrate with your team. #[br] #[br]
      | #[b Clean, readable code.] That means you're not handcuffed to us if you need to bring on new developers. It means anyone from our team, yours, or another party can jump right in. #[br] #[br]
      | #[b Thoughtful structure.] We've dealt with code that resembles Frankenstein's monster. Features and plugins bolted on with no regard to consistency. In many cases, its cheaper to start from scratch rather than fix. We pride ourselves in code structure that is flexible and sustainable.
  div(class="platforms platforms-branding")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/pro-vigil.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/instafluence.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/clayton-christensen.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/solo-seo.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/bike-sugar.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/silver-vue.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/boncom.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/bindr.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/weave.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/jac-london.jpg")
