extend _partials/layout

append vars
  - var pageName = "work-page"
  - var menuClass = "alternate"

block content
  include _partials/header

  section(class="area-header center")
    h6(class="heading-tiny purple") WEB &middot; MOBILE &middot; UI &middot; BRANDING
    h1(class="heading black") Things we've built
    
  section(class="area-dark web")
    div(class="bg-slanted")
    h2(class="heading-huge center") Web
  div(class="platforms platforms-web")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/hero-global.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/marketstar.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/utah-warbirds.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/get-it-cooked.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/gym-jones.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/pro-vigil.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/web/far-better.jpg")
    
  section(class="area-light mobile")
    h2(class="heading-huge center") Mobile
  div(class="platforms platforms-mobile")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/goze.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/bindr.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/weave-scheduling.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/far-better.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/weave.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/dart.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/cole-music.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/mobile/evernym.jpg")

  section(class="area-dark ui")
    div(class="bg-slanted")
    h2(class="heading-huge center") U.I.
  div(class="platforms platforms-ui")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/instafluence1.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/get-it-cooked.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/silver-vue.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/solo-seo.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/school-improvement.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/instafluence2.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/raises.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/ui/kichink.jpg")

  section(class="area-light branding")
    h2(class="heading-huge center") Branding
  div(class="platforms platforms-branding")
    div(class="left")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/pro-vigil.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/instafluence.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/clayton-christensen.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/solo-seo.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/bike-sugar.jpg")
    div(class="right")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/silver-vue.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/boncom.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/bindr.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/weave.jpg")
      div(class="platform grow"): div(class="box")
        img(src="/img/work/brand/jac-london.jpg")
