extend /views/_partials/layout

append vars
  - var pageName = "work-page"
  - var menuClass = "alt-blk-wht"
  - var logoClass = "alt-blk-wht"
  - var pageTitle = "Web Development Services | Web, Mobile, UI/UX & Branding"
  - var pageDescription = "HQ is a digital creative agency that specializes in web design, mobile app development, branding, and UI/UX. Discover how we can help you."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/work"

block content
  include /views/_partials/header

  section(class="area-header center alt-to-blk")
    h6(class="heading-tiny red")
      a(href="#web", class="red") WEB
      | &middot;
      a(href="#mobile", class="red") MOBILE
      | &middot;
      a(href="#ui/ux", class="red") UI/UX
      | &middot;
      a(href="#branding", class="red") BRANDING
    h1(class="heading black") Here's what we're great at

  section(class="area-dark web alt-to-wht")
    div(class="bg-slanted bg-image bg-web bg-dark-mask")
      div(class="bg-gradient-fire")
    a(name="web")
    h2(class="heading-huge center") Web
    br
    p(class="text-wide") Our development team has several focuses:
    p(class="text-wide")
      | #[b Integrated design and development.] Our designers and developers work side by side to create pixel perfect results. Our developers care about the details and play well with designers. We build your product from start to finish or integrate with your team. #[br] #[br]
      | #[b Clean, readable code.] That means you're not handcuffed to us if you need to bring on new developers. It means anyone from our team, yours, or another party can jump right in. #[br] #[br]
      | #[b Thoughtful structure.] We've dealt with code that resembles Frankenstein's monster. Features and plugins bolted on with no regard to consistency. In many cases, its cheaper to start from scratch rather than fix. We pride ourselves in code structure that is flexible and sustainable.
    div(class="center works-learn-more")
      a(href="/works/web-development", class="btn btn-white-solid-border") LEARN MORE
    div(class="platforms")
      div(class="left")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/hero-global.jpg" alt="Hero Global")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/marketstar.jpg" alt="Marketstar")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/utah-warbirds.jpg" alt="Utah Warbirds")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/get-it-cooked.jpg" alt="Get It Cooked")
      div(class="right")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/gym-jones.jpg" alt="Gym Jones")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/pro-vigil.jpg" alt="Pro-Vigil")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/far-better.jpg" alt="Far Better")

  section(class="area-light mobile alt-to-blk")
    div(class="bg-slanted bg-image bg-mobile bg-light-mask")
    a(name="mobile")
    h2(class="heading-huge center") Mobile
    br
    p(class="text-wide")
      | We love mobile development. We build native apps for iPhone and Android (sorry Microsoft) that integrate with complex web backends. We also have experience with hybrid web app development when that route is deemed best. #[br] #[br]
      | We are proficient with Objective C (iOS) and Java (Android) and like our web development team, we work closely with the design team to ensure the entire experience is great.
    div(class="center works-learn-more")
      a(href="/works/mobile-development", class="btn") LEARN MORE
    div(class="platforms")
      div(class="left")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/goze.jpg" alt="Goze")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/bindr.jpg" alt="Bindr")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/weave-scheduling.jpg" alt="Weave Scheduling")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/far-better.jpg" alt="Far Better")
      div(class="right")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/weave.jpg" alt="Weave")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/dart.jpg" alt="Dart")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/cole-music.jpg" alt="Cole Music")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/mobile/evernym.jpg" alt="Evernym")

  section(class="area-dark ui alt-to-wht")
    div(class="bg-slanted bg-image bg-UI bg-dark-mask")
      div(class="bg-gradient-ocean")
    a(name="ui/ux")
    h2(class="heading-huge center") UI/UX
    br
    p(class="text-wide") User experience design (UX design, for short) is how a user feels about a product or company. Is she happy? Impressed? Pleasantly surprised? Or is she frustrated and confused? UX design is important for websites, web applications and mobile apps. #[br] #[br]
      | At it's core, UI/UX design involves planning and executing design in a way that results in achieving users' goals and desired feeling’s associated with that product or task. #[br] #[br]
      | Even though design should be beautiful, it should accomplish goals . That might be to increase conversions, teach a user through on boarding, or guide them to accomplish a task. Every design decision should be informed by goals. #[br] #[br]
      | So how do we design a great user experience? #[a(href="https://builtbyhq.com/blog/our-design-process", target="_blank") See our process.] In short, it involves research: determining goals, creating user profiles, listing use cases, and mapping all screens. After wireframes and full designs come iteration and testing. Take a look at our design portfolio on #[a(href="https://dribbble.com/builtbyhq", target="_blank") Dribbble.]
    div(class="center works-learn-more")
      a(href="/works/uiux-design", class="btn btn-white-solid-border") LEARN MORE
    div(class="platforms")
      div(class="left")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/instafluence1.jpg" alt="Instafluence")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/get-it-cooked.jpg" alt="Get It Cooked")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/silver-vue.jpg" alt="Silver Vue")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/solo-seo.jpg" alt="Solo SEO")
      div(class="right")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/school-improvement.jpg" alt="School Improvement")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/instafluence2.jpg" alt="Instafluence")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/raises.jpg" alt="Raises")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/ui/kichink.jpg" alt="Kichink")

  section(class="area-light branding alt-to-blk")
    div(class="bg-slanted bg-image bg-branding bg-light-mask")
    a(name="branding")
    h2(class="heading-huge center") Branding
    p(class="text-wide") #[br] Your brand is your company's image. It’s how your customers perceive you. Most people thinking a brand is just a logo, and although that’s part of it, branding goes much deeper than that.
      | #[br] #[br] If your company was a human, what kind of personality would it have? How do you want customers to feel about your company? Is it techy, traditional, bold, luxurious, hipster, etc. These are just a few of the question we ask when designing your brand.
      | #[br] #[br] Every company is unique and has its own story. We understand that, and take great pride in crafting an identity for your company that you can stand behind.
      | #[br] #[br] Let us help you tell your story.
    div(class="center works-learn-more")
      a(href="/works/brand-design", class="btn") LEARN MORE
    div(class="platforms")
      div(class="left")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/pro-vigil.jpg" alt="Pro-Vigil")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/instafluence.jpg" alt="Instafluence")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/clayton-christensen.jpg" alt="Christensen Institute")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/solo-seo.jpg" alt="Solo SEO")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/bike-sugar.jpg" alt="Bike Sugar")
      div(class="right")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/silver-vue.jpg" alt="Silver Vue")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/boncom.jpg" alt="Boncom")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/bindr.jpg" alt="Bindr")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/weave.jpg" alt="Weave")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/brand/jac-london.jpg" alt="Jac London")
