extend /views/blog/_template

append vars
  - var title = 'Tools We Use at HQ'
  - var author = 'BY ZARIN FICKLIN ON SEPTEMBER 29TH, 2014'

block postContent
  :marked
    Looking at this list, I’ve realized we use a lot of tools at HQ. When deciding what to use, we follow a few guidelines:

    - Try a lot of different tools until we find the best.
    - Use the most efficient tool for the job, even if it means adding another tool to the long list.
    - If it makes us more productive, it’s probably worth paying for.

    ### Team

    1. Gmail (used as sparsely as possible, but it’s inevitable)
    2. Google Calendar
    3. Google Drive (replaced Dropbox)
    4. Basecamp (project management, client communication)
    5. Slack (team communication)

    ### HR/Business

    1. Teamweek (for organizing who’s working on what for how long)
    2. Toggl (time tracking)
    3. Quickbooks
    4. Zenefits (general HR)

    ### Dev

    1. Atom/Sublime/Coda
    2. Git, BitBucket
    3. Trello (usually in place of Basecamp for dev-only projects)
    4. Terminal
    5. SauceLabs
    6. Amazon Web Services
    7. Parse
    8. TestFlight
    9. Xcode
    10. Zab

    ### Design

    1. TypeKit, H&F (font services)
    2. Adobe Creative Cloud (mostly Photoshop and Illustrator)
    3. Sketch, Sketch Mirror
    4. Invision, Flinto
    5. Giant post-its

    What do you use? We're always up for trying new tools.
