extend /views/blog/_template

append vars
  - var title = 'What to Know Before You Build a Website'
  - var author = 'BY ZARIN FICKLIN ON JUNE 6TH, 2014'
  - var headerBg = '/img/blog/bg-what-to-know.jpg'
  - var headerClass = 'alt-to-wht'
  - var headerPadding = '210px 0'
  - var pageTitle = "What to Know Before You Build a Website"
  - var pageDescription = "1. What is the goal of your website? 2. Who will visit it? 3. What resources do you have?"

block postContent
  :marked
    I recently looked through my "Project Archives" folder of the last three years. There are 179 projects, most of them websites. Some were for clients, some for friends, some for me. There are duplicates, iterations, and projects that never escaped my hard drive into the wilds of the internet. While quantity is not a determiner of skill, I have learned something after roughly 179 websites.

    Before we start any web project we always ask these three questions first:

    ### 1. WHAT IS THE GOAL OF YOUR WEBSITE?

    This may seem obvious, but it's easy to overlook. The excitement of a new website idea or building a website for the sake of having a website can overshadow the question of "Why do I need this website?"

    Before anything else, decide what goals your website needs to accomplish. Increase sales? Get email sign ups? Establish credibility? Decrease phone calls? Build link strength? There will be numerous goals. Write them all down and rank them in order of importance. Moving forward, every design decision should be goal-driven. If an element, page, or feature doesn't help your site's goals, why spend resources on it?

    Knowing your site's goals will save you time and money. A good chunk of our business comes from rebuilding poorly thought out websites.

    ### 2. WHO WILL VISIT YOUR WEBSITE?

    The goals will often answer this question for you. When you know who will visit your site it's time to get to know them better. How did they find your website? What are they expecting to find when they get there? What are their behaviors? How tech-savvy are they? Are they more likely to visit your site on a computer or a phone?

    Put yourself in their shoes. If you became your own customer and visit your site, what would be your first impression? What would your expectations be? How intuitive would it be for a first-time user? Empathy is one of the most useful skills for a designer or developer.

    ### 3. WHAT RESOURCES DO YOU HAVE?

    Someone tweeted (I can't remember who): "When someone asks me how much a website costs, I say as much as a car." There isn't a fixed cost for building a website. Not even close. You could spend $500 or $5,000 or even $50,000 on the same site idea. When looking for someone to build a site, it's not hard to find someone that will build for cheap. I can see the temptation to ask, "How can I build this inexpensively?" It's not a bad a question and I can't blame you for asking.

    Instead, I propose a shift in thought: "What is the minimum my site needs to accomplish its goals?" That is your most cost-effective route. Otherwise you risk having to pay more money to fix a site that doesn't accomplish its goals. I've heard it over and over: "We wasted our money on the last site. It's crap."

    If your scope requirements don't match your budget, ask yourself whether its possible to scale down or if you should hold off. If you try to cut corners, you'll likely be wasting money. If I need surgery I don't check Craigslist for a better deal.

    If your scope requirements do match your budget, ask yourself if the goals you want to accomplish are worth the money. Take excitement of a new website or building a website for the sake of having a website out of the equation. This logic also applies to mobile apps (maybe even more so).

    All this said, websites can be incredibly effective in helping your business or cause. The internet isn't going away and having a presence can make a significant difference. Just be smart about how your approach it.
