ul(class=("nav" + (menuClosed ? ' keep-closed hidden' : '')))
  li: a(href="/work.html") WORK
  li: a(href="/our-story.html") OUR STORY
  li: a(href="/thoughts.html") THOUGHTS
  li: a(href="#contact", data-target="modal") CONTACT
  li: a(href="/careers.html") CAREERS
  
  li(class="menu icon-menu "+(menuColor ? menuColor : "dark"))
