ul(class=("nav" + (menuClosed ? ' keep-closed hidden' : '')))
  li: a(href="#") WORK
  li: a(href="/our-story.html") OUR STORY
  li: a(href="/thoughts.html") THOUGHTS
  li: a(href="#") CONTACT
  li: a(href="/careers.html") CAREERS
  
  li(class="menu "+(menuColor ? menuColor : "dark"))
    svg(viewBox="0 0 41 41", version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
      g(fill="transparent", transform="translate(1.000000, 1.000000)")
        circle(stroke-width="2", cx="19.5", cy="19.5", r="19.5")
        circle(cx="12.5", cy="19.5", r="2.5")
        circle(cx="19.5", cy="19.5", r="2.5")
        circle(cx="26.5", cy="19.5", r="2.5")
