extends ../_partials/layout

append vars
  - var menuColor = "white"
  - var logoColor = "white"
  - var alternateMenu = true

block content
  div.thoughts-page.thoughts-page-post
    include ../_partials/header
    
    div.heading
      h1.white= title
      h5.white= subtitle
    
    section(class="light")
      div.bg-slanted.bgWhite
      
      div.markdown-body
        block postContent
