aside(class="modal", id="contact-modal")
  i(class="icon-close close")
  
  form(action="//formspree.io/matt%40builtbyhq.com", method="post")
    input(type="text", class="inpt", name="name", placeholder="What's your name?")
    input(type="email", class="inpt", name="email", placeholder="Email")
    input(type="phone", class="inpt", name="phone", placeholder="Phone")
    textarea(type="text", class="inpt", rows="1", name="tell us about your project", placeholder="Tell us about your project")
    
    input(type="hidden", name="_next", value="/success")
    input(type="hidden", name="_subject", value="BuiltByHQ.com Contact Form")
    input(type="text", name="_gotcha", value="", class="inpt-location")

    button(type="submit", class="btn btn-white", onclick="amplitude.logEvent('EVENT_IDENTIFIER_HERE')") SEND

  a(href="mailto:us@builtbyhq.com", class="email-address") us@builtbyhq.com
  br
  p(class="email-address") 801.791.7310
  p(class="email-address") 2314 Washington Blvd
  p(class="email-address") Ogden, UT 84401
