section(class="area-light mobile alt-to-blk")
  div(class="bg-slanted bg-image bg-mobile bg-light-mask")
  footer(class="center")
    h2(class="heading") Let's build together.
    br
    a(href="/contact", class="btn") GET IN TOUCH
    br
    br
    h6(class="heading-tiny") WE &#10084; GREAT PRODUCTS
