header(class="main" style="padding: 0")
  a(href="/", class=("new-btn logo white" + (logoClass || '')))
  
  nav(class="nav-container right")
    a(href="/contact" class="new-btn btn btn-white") CONTACT
