header(class="main")
  a(href="/", class=("logo " + (logoClass || '')))
  
  nav(class="nav-container right")
    div(class=("nav-icon " + (menuClass || '')))
    ul(class="nav-menu")
      li: a(href="/work") WORK
      li: a(href="/our-story") OUR STORY
      li: a(href="/thoughts") THOUGHTS
      li: a(href="#contact", data-target="modal") CONTACT
      li: a(href="/careers") CAREERS
