header
  padding hPad vPad
  overflow hidden
  text-align left
  +below(500px)
    padding (hPad/2) (vPad/2)

.logo
  font-size 2em

// .heading
//   padding-bottom 155px
//   h1
//     line-height 40px
//     padding 0 20px
//   h4
//     margin 20px 0 10px 0
//     padding 0 25px
//
//   +below(500px)
//     padding 50px 0 100px 0

/**
 * nav
 */

duration = .3s
delayedChildren()
  for i in 2 3 4 5 6 //number of nav items, skip the first since it's the menu icon
    &:nth-child({i})
      transition-delay 0s + (i*.06)

.nav
  position fixed
  top hPad
  right vPad
  text-align right
  z-index 9

  +below(500px)
    top (hPad/2)
    right (vPad/2)

  a
    display inline-block
    background black
    color white
    font-size 14px
    font-weight 500
    padding 8px 11px
    margin-bottom 5px
    &:hover
      color magenta

  li.menu
    font-size 40px
    display block
    position absolute
    right 0
    top -100px
    opacity 0
    transition:
      top (duration*1.5),
      opacity (duration/2)
    cursor pointer
  li:not(.menu)
    opacity 1
    margin-right 0px
    transition:
      margin duration ease-out,
      opacity (duration*2.5)
    delayedChildren()

  &.hidden
    li.menu
      top 0
      opacity 1
      transition:
        top (duration*1.5),
        opacity (duration*3)
    li:not(.menu)
      opacity 0
      margin-right -195px
      transition:
        margin duration ease-in,
        opacity duration
      delayedChildren()
