.purple {
  color: #a76ddc;
}
.blue {
  color: #60bcea;
}
* {
  margin: 0;
  padding: 0;
}
input,
select,
textarea,
button {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'europa';
}
h1 {
  font-size: 50px;
  margin-bottom: 5px;
}
h1.huge {
  font-size: 95px;
  font-weight: 500;
  margin-bottom: 0;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}
h4 {
  font-family: 'freight-sans-pro';
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h5 {
  font-family: 'freight-sans-pro';
  font-size: 22px;
  font-weight: 400;
}
p {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  margin: auto;
  margin-bottom: 30px;
  text-align: left;
  max-width: 700px;
}
.numbered-header {
  display: block;
  margin: 30px auto;
  font-family: 'europa';
  font-size: 16px;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.numbered-header span {
  display: block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.numbered-header.light {
  border: 2px solid rgba(255,255,255,0.2);
  color: #fff;
}
.numbered-header.dark {
  border: 2px solid rgba(0,0,0,0.1);
  color: #000;
}
.btn {
  display: inline-block;
  background: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.2px;
  padding: 15px 20px;
  position: relative;
  min-width: 165px;
  text-align: center;
  border: 1px solid #000;
  color: #000;
}
.btn-alien {
  border: none;
  color: #a76ddc;
}
.btn-alien:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #8394e3, #60bcea), -webkit-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -moz-linear-gradient(0deg, #8394e3, #60bcea), -moz-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -o-linear-gradient(0deg, #8394e3, #60bcea), -o-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -ms-linear-gradient(0deg, #8394e3, #60bcea), -ms-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: linear-gradient(90deg, #8394e3, #60bcea), linear-gradient(90deg, #a76ddc, #8394e3);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.btn-alien:after {
  content: '';
  background-image: -webkit-linear-gradient(#8394e3, #a76ddc), -webkit-linear-gradient(#60bcea, #8394e3);
  background-image: -moz-linear-gradient(#8394e3, #a76ddc), -moz-linear-gradient(#60bcea, #8394e3);
  background-image: -o-linear-gradient(#8394e3, #a76ddc), -o-linear-gradient(#60bcea, #8394e3);
  background-image: -ms-linear-gradient(#8394e3, #a76ddc), -ms-linear-gradient(#60bcea, #8394e3);
  background-image: linear-gradient(#8394e3, #a76ddc), linear-gradient(#60bcea, #8394e3);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.btn-ocean {
  border: none;
  color: #60bcea;
}
.btn-ocean:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #5ed2d2, #60bcea), -webkit-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: -moz-linear-gradient(0deg, #5ed2d2, #60bcea), -moz-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: -o-linear-gradient(0deg, #5ed2d2, #60bcea), -o-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: -ms-linear-gradient(0deg, #5ed2d2, #60bcea), -ms-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: linear-gradient(90deg, #5ed2d2, #60bcea), linear-gradient(90deg, #5ce8bb, #5ed2d2);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.btn-ocean:after {
  content: '';
  background-image: -webkit-linear-gradient(#5ed2d2, #5ce8bb), -webkit-linear-gradient(#60bcea, #5ed2d2);
  background-image: -moz-linear-gradient(#5ed2d2, #5ce8bb), -moz-linear-gradient(#60bcea, #5ed2d2);
  background-image: -o-linear-gradient(#5ed2d2, #5ce8bb), -o-linear-gradient(#60bcea, #5ed2d2);
  background-image: -ms-linear-gradient(#5ed2d2, #5ce8bb), -ms-linear-gradient(#60bcea, #5ed2d2);
  background-image: linear-gradient(#5ed2d2, #5ce8bb), linear-gradient(#60bcea, #5ed2d2);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.btn-fire {
  border: none;
  color: #db5386;
}
.btn-fire:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #e87267, #db5386), -webkit-linear-gradient(0deg, #f59248, #e87267);
  background-image: -moz-linear-gradient(0deg, #e87267, #db5386), -moz-linear-gradient(0deg, #f59248, #e87267);
  background-image: -o-linear-gradient(0deg, #e87267, #db5386), -o-linear-gradient(0deg, #f59248, #e87267);
  background-image: -ms-linear-gradient(0deg, #e87267, #db5386), -ms-linear-gradient(0deg, #f59248, #e87267);
  background-image: linear-gradient(90deg, #e87267, #db5386), linear-gradient(90deg, #f59248, #e87267);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.btn-fire:after {
  content: '';
  background-image: -webkit-linear-gradient(#e87267, #f59248), -webkit-linear-gradient(#db5386, #e87267);
  background-image: -moz-linear-gradient(#e87267, #f59248), -moz-linear-gradient(#db5386, #e87267);
  background-image: -o-linear-gradient(#e87267, #f59248), -o-linear-gradient(#db5386, #e87267);
  background-image: -ms-linear-gradient(#e87267, #f59248), -ms-linear-gradient(#db5386, #e87267);
  background-image: linear-gradient(#e87267, #f59248), linear-gradient(#db5386, #e87267);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.btn-white {
  border: 2px solid rgba(255,255,255,0.2);
  color: #fff;
}
.inpt {
  background: none;
  color: #fff;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  font-size: 24px;
  padding-bottom: 5px;
  margin: 0 auto 40px 0;
  display: block;
  resize: none;
}
label span {
  color: rgba(255,255,255,0.4);
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}
label span.focused {
  font-size: 14px;
  margin-top: -20px;
}
.check-slct {
  list-style-type: none;
  cursor: pointer;
}
.check-slct li:first-child {
  color: rgba(255,255,255,0.4);
  font-weight: 500;
}
.check-slct li:not(:first-child) {
  display: none;
}
.check-slct.open {
  background: #fff;
  color: #000;
}
.check-slct.open li:first-child {
  color: #000;
  border-bottom-color: #000;
}
.check-slct.open li {
  display: block;
}
a {
  text-decoration: none;
  outline: none;
  color: #a76ddc;
}
a:hover {
  color: #b98ae3;
}
.block-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(45deg, #60bcea, #a76ddc);
  background: -moz-linear-gradient(45deg, #60bcea, #a76ddc);
  background: -o-linear-gradient(45deg, #60bcea, #a76ddc);
  background: -ms-linear-gradient(45deg, #60bcea, #a76ddc);
  background: linear-gradient(45deg, #60bcea, #a76ddc);
  z-index: 10;
  opacity: 0.99;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
  filter: alpha(opacity=99);
  overflow: auto;
}
.modal .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}
.modal .close:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.modal form {
  width: 480px;
  text-align: left;
  margin: 100px auto 45px auto;
}
.modal form .inpt {
  width: 100%;
}
.modal form button[type="submit"] {
  width: 100%;
}
.modal .email-address {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
body {
  font-family: 'freight-sans-pro';
  text-align: center;
}
body.modal-open {
  overflow: hidden;
}
section {
  padding: 120px 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
section.dark {
  color: #fff;
}
section .bg-slanted {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
section .bg-slanted.bg-image:before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
  background: url("/img/bg1.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  max-height: 500px;
  filter: blur(3px);
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
section .bg-slanted .dark-mask {
  background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, #000 100%);
  background: -moz-linear-gradient(rgba(0,0,0,0) 0%, #000 100%);
  background: -o-linear-gradient(rgba(0,0,0,0) 0%, #000 100%);
  background: -ms-linear-gradient(rgba(0,0,0,0) 0%, #000 100%);
  background: linear-gradient(rgba(0,0,0,0) 0%, #000 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 500px;
  z-index: 5;
}
section .bg-slanted .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 499px;
  z-index: 4;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
section .bg-slanted .gradient.alien-grad {
  background: -webkit-linear-gradient(0deg, #60bcea, #a76ddc);
  background: -moz-linear-gradient(0deg, #60bcea, #a76ddc);
  background: -o-linear-gradient(0deg, #60bcea, #a76ddc);
  background: -ms-linear-gradient(0deg, #60bcea, #a76ddc);
  background: linear-gradient(90deg, #60bcea, #a76ddc);
}
section .bg-slanted .gradient.ocean-grad {
  background: -webkit-linear-gradient(0deg, #5ce8bb, #60bcea);
  background: -moz-linear-gradient(0deg, #5ce8bb, #60bcea);
  background: -o-linear-gradient(0deg, #5ce8bb, #60bcea);
  background: -ms-linear-gradient(0deg, #5ce8bb, #60bcea);
  background: linear-gradient(90deg, #5ce8bb, #60bcea);
}
section .bg-slanted .gradient.fire-grad {
  background: -webkit-linear-gradient(0deg, #f59248, #db5386);
  background: -moz-linear-gradient(0deg, #f59248, #db5386);
  background: -o-linear-gradient(0deg, #f59248, #db5386);
  background: -ms-linear-gradient(0deg, #f59248, #db5386);
  background: linear-gradient(90deg, #f59248, #db5386);
}
.image-grid {
  margin: 60px auto;
  max-width: 1100px;
}
.image-grid img {
  display: inline-block;
  margin: 5px;
  width: 200px;
}
.wf-loading {
  visibility: hidden;
}
header {
  text-align: center;
  padding: 150px 0;
}
header .logo {
  position: absolute;
  left: 60px;
  top: 50px;
  max-width: 75px;
  fill: #000;
}
.markdown-body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  overflow: hidden;
  word-wrap: break-word;
}
.markdown-body a {
  background-color: transparent;
}
.markdown-body a:active,
.markdown-body a:hover {
  outline: 0;
}
.markdown-body strong {
  font-weight: bold;
}
.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.markdown-body img {
  border: 0;
}
.markdown-body hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.markdown-body pre {
  overflow: auto;
}
.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.markdown-body input {
  color: inherit;
  font: inherit;
  margin: 0;
}
.markdown-body html input[disabled] {
  cursor: default;
}
.markdown-body input {
  line-height: normal;
}
.markdown-body input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown-body td,
.markdown-body th {
  padding: 0;
}
.markdown-body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown-body input {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.markdown-body a {
  color: #4078c0;
  text-decoration: none;
}
.markdown-body a:hover,
.markdown-body a:active {
  text-decoration: underline;
}
.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}
.markdown-body hr:before {
  display: table;
  content: "";
}
.markdown-body hr:after {
  display: table;
  clear: both;
  content: "";
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}
.markdown-body h1 {
  font-size: 30px;
}
.markdown-body h2 {
  font-size: 21px;
}
.markdown-body h3 {
  font-size: 16px;
}
.markdown-body h4 {
  font-size: 14px;
}
.markdown-body h5 {
  font-size: 12px;
}
.markdown-body h6 {
  font-size: 11px;
}
.markdown-body blockquote {
  margin: 0;
}
.markdown-body ul,
.markdown-body ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}
.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}
.markdown-body dd {
  margin-left: 0;
}
.markdown-body code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body .octicon {
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.markdown-body .octicon-link:before {
  content: '\f05c';
}
.markdown-body>*:first-child {
  margin-top: 0 !important;
}
.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body .anchor {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}
.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}
.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}
.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  padding-left: 8px;
  margin-left: -30px;
  text-decoration: none;
}
.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  display: inline-block;
}
.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
.markdown-body h1 .anchor {
  line-height: 1;
}
.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
.markdown-body h2 .anchor {
  line-height: 1;
}
.markdown-body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.markdown-body h3 .anchor {
  line-height: 1.2;
}
.markdown-body h4 {
  font-size: 1.25em;
}
.markdown-body h4 .anchor {
  line-height: 1.2;
}
.markdown-body h5 {
  font-size: 1em;
}
.markdown-body h5 .anchor {
  line-height: 1.1;
}
.markdown-body h6 {
  font-size: 1em;
  color: #777;
}
.markdown-body h6 .anchor {
  line-height: 1.1;
}
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown-body hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}
.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body li>p {
  margin-top: 16px;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-body blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.markdown-body blockquote>:first-child {
  margin-top: 0;
}
.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
.markdown-body table th {
  font-weight: bold;
}
.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
.markdown-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown-body img {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.markdown-body code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.markdown-body code:before,
.markdown-body code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.markdown-body pre {
  word-wrap: normal;
}
.markdown-body pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}
.markdown-body pre code:before,
.markdown-body pre code:after {
  content: normal;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #bbb;
  box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body .pl-c {
  color: #969896;
}
.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #0086b3;
}
.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #795da3;
}
.markdown-body .pl-s .pl-s1,
.markdown-body .pl-smi {
  color: #333;
}
.markdown-body .pl-ent {
  color: #63a35c;
}
.markdown-body .pl-k {
  color: #a71d5d;
}
.markdown-body .pl-pds,
.markdown-body .pl-s,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sra,
.markdown-body .pl-sr .pl-sre {
  color: #183691;
}
.markdown-body .pl-v {
  color: #ed6a43;
}
.markdown-body .pl-id {
  color: #b52a1d;
}
.markdown-body .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}
.markdown-body .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}
.markdown-body .pl-ml {
  color: #693a17;
}
.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}
.markdown-body .pl-mq {
  color: #008080;
}
.markdown-body .pl-mi {
  color: #333;
  font-style: italic;
}
.markdown-body .pl-mb {
  color: #333;
  font-weight: bold;
}
.markdown-body .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}
.markdown-body .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}
.markdown-body .pl-mdr {
  color: #795da3;
  font-weight: bold;
}
.markdown-body .pl-mo {
  color: #1d3e81;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 #bbb;
  box-shadow: inset 0 -1px 0 #bbb;
}
.markdown-body .task-list-item {
  list-style-type: none;
}
.markdown-body .task-list-item+.task-list-item {
  margin-top: 3px;
}
.markdown-body .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}
.markdown-body :checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}
.nav {
  list-style-type: none;
  position: fixed;
  top: 50px;
  right: 60px;
  text-align: right;
  letter-spacing: 1.2px;
  font-size: 16px;
  z-index: 10;
}
.nav .collapsed {
  background: #fff;
  border: 2px solid #000;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: -200px;
  right: 0;
  -webkit-transition: top 0.4s;
  -moz-transition: top 0.4s;
  -o-transition: top 0.4s;
  -ms-transition: top 0.4s;
  transition: top 0.4s;
}
.nav .collapsed:before {
  font-size: 20px;
  margin-left: 1px;
  line-height: 42px;
}
.nav a {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 8px 11px;
  margin-bottom: 6px;
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  -ms-transition: margin 0.3s;
  transition: margin 0.3s;
}
.nav a:hover {
  color: #a76ddc;
  margin-right: 5px;
}
.nav.not-scrolling li:not(.collapsed) {
  margin-right: -400px;
  -webkit-animation-name: stagger-show;
  -moz-animation-name: stagger-show;
  -o-animation-name: stagger-show;
  -ms-animation-name: stagger-show;
  animation-name: stagger-show;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.nav.not-scrolling li:not(.collapsed):nth-child(2) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.nav.not-scrolling li:not(.collapsed):nth-child(3) {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.nav.not-scrolling li:not(.collapsed):nth-child(4) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.nav.not-scrolling li:not(.collapsed):nth-child(5) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.nav.not-scrolling li:not(.collapsed):nth-child(6) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.nav.scrolling li:not(.collapsed) {
  margin-right: 0;
  -webkit-animation-name: stagger-hide;
  -moz-animation-name: stagger-hide;
  -o-animation-name: stagger-hide;
  -ms-animation-name: stagger-hide;
  animation-name: stagger-hide;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.nav.scrolling li:not(.collapsed):nth-child(2) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
.nav.scrolling li:not(.collapsed):nth-child(3) {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  -o-animation-delay: 0.05s;
  -ms-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.nav.scrolling li:not(.collapsed):nth-child(4) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.nav.scrolling li:not(.collapsed):nth-child(5) {
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
.nav.scrolling li:not(.collapsed):nth-child(6) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.nav.scrolling .collapsed {
  top: 0;
}
@-moz-keyframes stagger-hide {
  to {
    margin-right: -400px;
  }
}
@-webkit-keyframes stagger-hide {
  to {
    margin-right: -400px;
  }
}
@-o-keyframes stagger-hide {
  to {
    margin-right: -400px;
  }
}
@keyframes stagger-hide {
  to {
    margin-right: -400px;
  }
}
@-moz-keyframes stagger-show {
  to {
    margin-right: 0;
  }
}
@-webkit-keyframes stagger-show {
  to {
    margin-right: 0;
  }
}
@-o-keyframes stagger-show {
  to {
    margin-right: 0;
  }
}
@keyframes stagger-show {
  to {
    margin-right: 0;
  }
}
.careers-page p.steps b {
  margin-right: 20px;
}
.careers-page .crazy-list {
  list-style-type: none;
  display: inline-block;
  margin: 0 50px;
  text-align: left;
  vertical-align: top;
}
.careers-page .crazy-list li:first-child {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0px;
}
.careers-page .crazy-list li {
  padding: 10px 0;
  letter-spacing: 0.8px;
}
.careers-page .montage {
  position: relative;
  margin-top: 100px;
}
.careers-page .montage video {
  display: inline-block;
  width: 380px;
  margin-right: 10px;
}
.careers-page .montage .images {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.careers-page .montage .images img {
  display: inline-block;
  margin-left: -1px;
}
.careers-page .montage .images img:nth-child(1) {
  width: 250px;
  height: 250px;
  display: block;
  margin-bottom: 10px;
}
.careers-page .montage .images img:nth-child(2) {
  display: inline-block;
  margin-right: 10px;
}
.home-page {
  counter-reset: home-headings;
}
.home-page .case-study {
  height: 100vh;
  min-height: 700px;
}
.home-page .case-study .title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 6;
}
.home-page .case-study .title.left {
  left: 10%;
}
.home-page .case-study .title.right {
  right: 10%;
}
.home-page .case-study .image {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
  width: 470px;
  height: 470px;
}
.home-page .case-study .image.left {
  left: 15%;
}
.home-page .case-study .image.right {
  right: 15%;
}
.home-page .case-study .image img {
  min-width: 100%;
  max-height: 100%;
}
.home-page .case-study .image [class^="outline"] {
  position: absolute;
  width: 565px;
  height: 565px;
}
.home-page .case-study .image .outline1 {
  top: -80px;
  left: -80px;
}
.home-page .case-study .image .outline2 {
  top: -40px;
  left: -50px;
}
.home-page .case-study.gym-jones .image [class^="outline"] {
  border: none;
}
.home-page .case-study.gym-jones .image [class^="outline"]:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #e87267, #db5386), -webkit-linear-gradient(0deg, #f59248, #e87267);
  background-image: -moz-linear-gradient(0deg, #e87267, #db5386), -moz-linear-gradient(0deg, #f59248, #e87267);
  background-image: -o-linear-gradient(0deg, #e87267, #db5386), -o-linear-gradient(0deg, #f59248, #e87267);
  background-image: -ms-linear-gradient(0deg, #e87267, #db5386), -ms-linear-gradient(0deg, #f59248, #e87267);
  background-image: linear-gradient(90deg, #e87267, #db5386), linear-gradient(90deg, #f59248, #e87267);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .case-study.gym-jones .image [class^="outline"]:after {
  content: '';
  background-image: -webkit-linear-gradient(#e87267, #f59248), -webkit-linear-gradient(#db5386, #e87267);
  background-image: -moz-linear-gradient(#e87267, #f59248), -moz-linear-gradient(#db5386, #e87267);
  background-image: -o-linear-gradient(#e87267, #f59248), -o-linear-gradient(#db5386, #e87267);
  background-image: -ms-linear-gradient(#e87267, #f59248), -ms-linear-gradient(#db5386, #e87267);
  background-image: linear-gradient(#e87267, #f59248), linear-gradient(#db5386, #e87267);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .case-study.silver-vue .image [class^="outline"] {
  border: none;
}
.home-page .case-study.silver-vue .image [class^="outline"]:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #5ed2d2, #60bcea), -webkit-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: -moz-linear-gradient(0deg, #5ed2d2, #60bcea), -moz-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: -o-linear-gradient(0deg, #5ed2d2, #60bcea), -o-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: -ms-linear-gradient(0deg, #5ed2d2, #60bcea), -ms-linear-gradient(0deg, #5ce8bb, #5ed2d2);
  background-image: linear-gradient(90deg, #5ed2d2, #60bcea), linear-gradient(90deg, #5ce8bb, #5ed2d2);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .case-study.silver-vue .image [class^="outline"]:after {
  content: '';
  background-image: -webkit-linear-gradient(#5ed2d2, #5ce8bb), -webkit-linear-gradient(#60bcea, #5ed2d2);
  background-image: -moz-linear-gradient(#5ed2d2, #5ce8bb), -moz-linear-gradient(#60bcea, #5ed2d2);
  background-image: -o-linear-gradient(#5ed2d2, #5ce8bb), -o-linear-gradient(#60bcea, #5ed2d2);
  background-image: -ms-linear-gradient(#5ed2d2, #5ce8bb), -ms-linear-gradient(#60bcea, #5ed2d2);
  background-image: linear-gradient(#5ed2d2, #5ce8bb), linear-gradient(#60bcea, #5ed2d2);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .case-study.school-improvement .image [class^="outline"] {
  border: none;
}
.home-page .case-study.school-improvement .image [class^="outline"]:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #8394e3, #60bcea), -webkit-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -moz-linear-gradient(0deg, #8394e3, #60bcea), -moz-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -o-linear-gradient(0deg, #8394e3, #60bcea), -o-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -ms-linear-gradient(0deg, #8394e3, #60bcea), -ms-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: linear-gradient(90deg, #8394e3, #60bcea), linear-gradient(90deg, #a76ddc, #8394e3);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .case-study.school-improvement .image [class^="outline"]:after {
  content: '';
  background-image: -webkit-linear-gradient(#8394e3, #a76ddc), -webkit-linear-gradient(#60bcea, #8394e3);
  background-image: -moz-linear-gradient(#8394e3, #a76ddc), -moz-linear-gradient(#60bcea, #8394e3);
  background-image: -o-linear-gradient(#8394e3, #a76ddc), -o-linear-gradient(#60bcea, #8394e3);
  background-image: -ms-linear-gradient(#8394e3, #a76ddc), -ms-linear-gradient(#60bcea, #8394e3);
  background-image: linear-gradient(#8394e3, #a76ddc), linear-gradient(#60bcea, #8394e3);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .case-study.pro-vigil .image [class^="outline"] {
  border: none;
}
.home-page .case-study.pro-vigil .image [class^="outline"]:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #8394e3, #60bcea), -webkit-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -moz-linear-gradient(0deg, #8394e3, #60bcea), -moz-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -o-linear-gradient(0deg, #8394e3, #60bcea), -o-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: -ms-linear-gradient(0deg, #8394e3, #60bcea), -ms-linear-gradient(0deg, #a76ddc, #8394e3);
  background-image: linear-gradient(90deg, #8394e3, #60bcea), linear-gradient(90deg, #a76ddc, #8394e3);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .case-study.pro-vigil .image [class^="outline"]:after {
  content: '';
  background-image: -webkit-linear-gradient(#8394e3, #a76ddc), -webkit-linear-gradient(#60bcea, #8394e3);
  background-image: -moz-linear-gradient(#8394e3, #a76ddc), -moz-linear-gradient(#60bcea, #8394e3);
  background-image: -o-linear-gradient(#8394e3, #a76ddc), -o-linear-gradient(#60bcea, #8394e3);
  background-image: -ms-linear-gradient(#8394e3, #a76ddc), -ms-linear-gradient(#60bcea, #8394e3);
  background-image: linear-gradient(#8394e3, #a76ddc), linear-gradient(#60bcea, #8394e3);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page h2 {
  counter-increment: home-headings;
  border-top: 6px solid #000;
  display: inline-block;
  width: 34%;
  text-align: left;
  margin-top: 6px;
  margin-right: 100px;
}
.home-page h2:before {
  content: "0" counter(home-headings);
  font-size: 26px;
  font-weight: 300;
  vertical-align: top;
  margin-right: 15px;
  top: 7px;
  position: relative;
}
.home-page section:nth-child(2) h2:before {
  color: #a76ddc;
}
.home-page section:nth-child(4) h2:before {
  color: #f59248;
}
.home-page section:nth-child(6) h2:before {
  color: #60bcea;
}
.home-page .descrip {
  display: inline-block;
  width: calc(65% - 100px);
  text-align: left;
  vertical-align: top;
}
.home-page .descrip p {
  margin-bottom: 20px;
}
.home-page .descrip .blocks {
  list-style-type: none;
  text-align: justify;
}
.home-page .descrip .blocks:after {
  content: '';
  width: 100%;
  display: inline-block;
}
.home-page .descrip .blocks li {
  display: inline-block;
  width: 135px;
  height: 135px;
  vertical-align: top;
  border: 1px solid #000;
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 20px;
  margin-bottom: 25px;
}
.home-page .descrip .blocks li div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.home-page .descrip .blocks.services li {
  color: #a76ddc;
  border: none;
  position: relative;
  border: none;
}
.home-page .descrip .blocks.services li:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #8394e3, #a76ddc), -webkit-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: -moz-linear-gradient(0deg, #8394e3, #a76ddc), -moz-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: -o-linear-gradient(0deg, #8394e3, #a76ddc), -o-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: -ms-linear-gradient(0deg, #8394e3, #a76ddc), -ms-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: linear-gradient(90deg, #8394e3, #a76ddc), linear-gradient(90deg, #60bcea, #8394e3);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .descrip .blocks.services li:after {
  content: '';
  background-image: -webkit-linear-gradient(#8394e3, #60bcea), -webkit-linear-gradient(#a76ddc, #8394e3);
  background-image: -moz-linear-gradient(#8394e3, #60bcea), -moz-linear-gradient(#a76ddc, #8394e3);
  background-image: -o-linear-gradient(#8394e3, #60bcea), -o-linear-gradient(#a76ddc, #8394e3);
  background-image: -ms-linear-gradient(#8394e3, #60bcea), -ms-linear-gradient(#a76ddc, #8394e3);
  background-image: linear-gradient(#8394e3, #60bcea), linear-gradient(#a76ddc, #8394e3);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .descrip .blocks.services li:first-child:before,
.home-page .descrip .blocks.services li:first-child:after {
  background: none;
}
.home-page .descrip .blocks.services li:first-child [class^="outline"] {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.home-page .descrip .blocks.services li:first-child [class^="outline"]:before {
  content: '';
  background-image: -webkit-linear-gradient(0deg, #8394e3, #a76ddc), -webkit-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: -moz-linear-gradient(0deg, #8394e3, #a76ddc), -moz-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: -o-linear-gradient(0deg, #8394e3, #a76ddc), -o-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: -ms-linear-gradient(0deg, #8394e3, #a76ddc), -ms-linear-gradient(0deg, #60bcea, #8394e3);
  background-image: linear-gradient(90deg, #8394e3, #a76ddc), linear-gradient(90deg, #60bcea, #8394e3);
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .descrip .blocks.services li:first-child [class^="outline"]:after {
  content: '';
  background-image: -webkit-linear-gradient(#8394e3, #60bcea), -webkit-linear-gradient(#a76ddc, #8394e3);
  background-image: -moz-linear-gradient(#8394e3, #60bcea), -moz-linear-gradient(#a76ddc, #8394e3);
  background-image: -o-linear-gradient(#8394e3, #60bcea), -o-linear-gradient(#a76ddc, #8394e3);
  background-image: -ms-linear-gradient(#8394e3, #60bcea), -ms-linear-gradient(#a76ddc, #8394e3);
  background-image: linear-gradient(#8394e3, #60bcea), linear-gradient(#a76ddc, #8394e3);
  -webkit-background-size: 1px 100%;
  -moz-background-size: 1px 100%;
  background-size: 1px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.home-page .descrip .blocks.services li:first-child .outline1 {
  bottom: -5px;
  left: -5px;
}
.home-page .descrip .blocks.services li:first-child .outline2 {
  top: -5px;
  right: -5px;
}
.home-page .descrip .blocks.clients li {
  border-color: #ebeff0;
}
.home-page .descrip .blocks.clients li:hover {
  border-color: #d0d9dc;
}
.home-page .descrip .blocks.clients li img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.home-page .descrip .blocks.clients li a {
  width: 100%;
  height: 100%;
  display: block;
}
.home-page .descrip .avatars {
  list-style-type: none;
  text-align: left;
  margin-bottom: 20px;
}
.home-page .descrip .avatars li {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 4px;
  vertical-align: top;
}
.home-page .descrip .avatars li:first-child,
.home-page .descrip .avatars li:nth-child(5n+1) {
  margin-left: 0;
}
.home-page .descrip .avatars img {
  width: 100%;
  height: 100%;
}
header.thoughts,
header.thoughts-post {
  background: -webkit-linear-gradient(0deg, #a76ddc, #60bcea);
  background: -moz-linear-gradient(0deg, #a76ddc, #60bcea);
  background: -o-linear-gradient(0deg, #a76ddc, #60bcea);
  background: -ms-linear-gradient(0deg, #a76ddc, #60bcea);
  background: linear-gradient(90deg, #a76ddc, #60bcea);
}
header.thoughts .logo,
header.thoughts-post .logo {
  fill: #fff;
}
header.thoughts h1,
header.thoughts-post h1,
header.thoughts h4,
header.thoughts-post h4 {
  color: #fff;
}
header.thoughts .collapsed,
header.thoughts-post .collapsed {
  background: none;
  border-color: #fff;
  color: #fff;
}
header.thoughts-post {
  background: -webkit-linear-gradient(0deg, #f59248, #db5386);
  background: -moz-linear-gradient(0deg, #f59248, #db5386);
  background: -o-linear-gradient(0deg, #f59248, #db5386);
  background: -ms-linear-gradient(0deg, #f59248, #db5386);
  background: linear-gradient(90deg, #f59248, #db5386);
}
.thoughts-page section {
  padding: 20px 75px;
}
.thoughts-page .bg-slanted {
  margin-top: -25px;
  background: #fff;
}
.thoughts-page .posts {
  width: 100%;
  max-width: 1050px;
  margin: auto;
}
.thoughts-page .posts .post {
  padding: 45px 0;
  text-align: left;
  position: relative;
}
.thoughts-page .posts .post:not(:last-child) {
  border-bottom: 1px solid #dcdcdc;
}
.thoughts-page .posts .post:hover .icon-arrow-right {
  border-color: #a76ddc;
  color: #a76ddc;
}
.thoughts-page .posts .post h4 {
  color: rgba(0,0,0,0.5);
}
.thoughts-page .posts .post .icon-arrow-right {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -23px;
  line-height: 49px;
  text-align: center;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 14px;
}
.thoughts-page .posts .post .icon-arrow-right:before {
  margin-left: 4px;
}
.thoughts-page .markdown-body {
  max-width: 700px;
  margin: auto;
  text-align: left;
  position: relative;
}
.thoughts-page .markdown-body img {
  max-width: 100%;
}

/*# sourceMappingURL=app.css.map */