header
  padding hPad vPad
  overflow hidden
  +below(500px)
    padding (hPad/2) (vPad/2)

.logo
  color black
  font-size 32px // to keep a width of 60px

.heading
  padding-bottom 155px
  h1
    line-height 40px
    padding 0 20px
  h4
    margin 20px 0 10px 0
    padding 0 25px

  +below(500px)
    padding 50px 0 100px 0
