<aside class="modal" id="contact-modal">
  <i class="icon-close close"></i>

  <form>
    <label>
      <span>What's your name?</span>
      <input type="text" class="inpt" name="name">
    </label>

    <label>
      <span>Email</span>
      <input type="email" class="inpt" name="email">
    </label>

    <label>
      <span>Phone</span>
      <input type="phone" class="inpt" name="phone">
    </label>

    <label>
      <span>Message</span>
      <textarea type="text" class="inpt" rows="1" name="message"></textarea>
    </label>

    <ul class="inpt check-slct open">
      <li>Project Type</li>
      <li>
        <label>
          <input type="checkbox">
          DESIGN
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox">
          WEB DEVELOPMENT
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox">
          MOBILE DEVELOPMENT
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox">
          OTHER
        </label>
      </li>
    </ul>
    <!-- <input type="text" class="inpt" placeholder="Project Type">
    <input type="text" class="inpt" placeholder="Estimated Budget"> -->
    <button type="submit" class="btn btn-white">SEND</button>
  </form>

  <div class="email-address">us@builtbyhq.com</div>
</aside>
