<header class="{{class}}">
  <a href="/">
    <svg class="logo white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 525.6 276.5" xml:space="preserve">
    	<g>
    		<path d="M495.6,205.5c11.4-19.9,18-42.8,18-67.3C513.6,61.9,450.1,0,371.8,0c-46.3,0-87.4,21.7-113.3,55.3V3.4h-88.7v93.7H88.7V3.4
    			H0v265.4h88.7v-95.2h81.1v95.2h88.7v-47.6c25.8,33.5,66.9,55.3,113.3,55.3c31.5,0,60.5-10.2,84.1-27.1l31.7,26.7l38.1-45.3
    			L495.6,205.5z M430.3,150.5l-24.7-20.8L367.5,175l22.4,18.8c-5.7,1.8-11.8,2.7-18.1,2.7c-33,0-59.8-26.1-59.8-58.3
    			c0-32.2,26.8-58.3,59.8-58.3c33,0,59.8,26.1,59.8,58.3C431.6,142.5,431.1,146.6,430.3,150.5z"/>
    	</g>
    </svg>
  </a>

  <ul class="nav {{#menuCollapsed}}scrolling dont-mess{{/menuCollapsed}}{{^menuCollapsed}}not-scrolling{{/menuCollapsed}}">
    <li class="collapsed icon-dots"></li>
    <li><a href="/work">WORK</a></li>
    <li><a href="/our-story">OUR STORY</a></li>
    <li><a href="/thoughts">THOUGHTS</a></li>
    <li><a href="#contact" data-target="modal">CONTACT</a></li>
    <li><a href="/careers">CAREERS</a></li>
  </ul>

  {{#subTitleAbove}}
  <h4 class="purple">{{{subTitleAbove}}}</h4>
  {{/subTitleAbove}}

  <h1 id="waypt-nav">{{title}}</h1>

  {{#subTitleBelow}}
  <h4 class="purple">{{{subTitleBelow}}}</h4>
  {{/subTitleBelow}}
</header>
