extend /views/_partials/layout

append vars
  - var pageName = "webdev-page"
  - var menuClass = "alt-blk-wht"
  - var logoClass = "alt-blk-wht"
  - var pageTitle = "Web Design and Development by HQ"
  - var pageDescription = "Customized, optimized, thoughtful, and integrated. This describes the work we do. We would be happy to talk to you about your website needs to see if we are a good fit."
  - var canonicalRel = "canonical"
  - var canonicalURL = "https://builtbyhq.com/work/web-development"

block content
  include /views/_partials/header

  section.area-header-main.work-area-header.alt-to-wht
    h1(class="heading white") Web Design And Development

  section(class="area-light work-description mobile alt-to-blk")
    div(class="bg-slanted bg-image bg-mobile bg-light-mask")
    p.text-wide
      | When you are considering building a new website, the potential value it can provide should help dictate how much time and money to dedicate to it. If your business has a national/global market, then it probably deserves a great web design. If your online market is fairly small, then spending a ton on a custom website might be overkill. We would be happy to help you evaluate the type of website you need.#[br] #[br]
      | If your website isn’t up to par, we can make it great. We take your knowledge of your customers along with your vision and apply our experience building hundreds of web properties to make something really effective. #[br] #[br]
      | As a design agency, we make sure to build sites that accomplish your online business goals, can be easily managed, and give you a positive ROI. 
    h3.heading-sub
      | Focusing on Our Focus
    p.text-wide
      | It might sound redundant but it’s not. We have found a lot of agencies try to be good at everything, and end up being mediocre at most of their services. We make sure we are focusing on our overall foci (Yes, foci is the plural of focus. We checked) and they are:
    ol.text-wide(type="A")
      li Provide real value
      li Leverage what we are good at
      li Work on project goals and users
      li Think of all budgets as if they were our own
    h3.heading-sub
      | Integrated Web Design and Development
    p.text-wide
      | A visually impressive design is the first thing viewers notice when they visit your page. Nowadays, customers expect it. We strive to always be forward thinking with our design so that everything we produce reflects changing user behaviors. #[br] #[br]
      | There is more to a website than just a pretty page. Functionality, reliability, and maintainability are just as important as an effective design. That’s where our developers come in. Working hand-in-hand with our designers (not literally...that would get awkward), our dev team code designs pixel perfect to the designers intentions. We also work intimately with our clients’ teams to make sure each website achieves the business objectives it is designed for.
    h3.heading-sub
      | Clean, Readable Code
    p.text-wide
      | We’re obsessed with producing quality code. An internal philosophy we have is to make sure every piece of code we write can be picked up by someone else in the future without needing help to figure it out. #[br] #[br]
      | We don’t want to leave the future web developers hanging. We want to make sure that any future devs who work on our code can easily take over without problems.
    h3.heading-sub
      | Thoughtful Structure
    p.text-wide
      | We carefully plan out the flexibility and sustainability of our code structure. We do not believe in shortcuts. We know that when plugins and features don’t function as they should, all heck will break loose (Maybe we’re being dramatic, but we have seen some pretty nasty stuff) . #[br] #[br]
      | Development should be organized and logical, allowing developers and maintainers to do their job well. That is why we are committed to doing our job well, even if it means starting from scratch.
    h3.heading-sub
      | Our Strengths Will Become Our Clients Strengths
    p.text-wide
      | The fact is, most visitors to a website will not be thinking about the tech heads behind the scenes who do the designing, developing, and coding to make it look and work the way it does. But they do notice the results (often subconsciously) which benefits our clients. And we love that! In fact, that’s a big reason why we do what we do. We know we have done our job when our clients see results and are happy. #[br] #[br]
      | Customized, optimized, thoughtful, and integrated. This describes the work we do. When you work with us, we can make awesome products.

    div(class="platforms")
      div(class="left")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/hero-global.jpg" alt="Hero Global")
      div(class="right")
        div(class="platform grow"): div(class="box")
          img(src="/img/work/web/gym-jones.jpg" alt="Gym Jones")
    
  include /views/_partials/get-in-touch-black
