/**
 * colors
 */

white = #FFFFFF
offWhite = #E6E6E7
black = #000000
offBlack = #232425
gray = #979797
red = #F45E48
magenta = #EC6382
dusk = #45484C

/**
 * gradients
 */



/**
 * classes
 */

.white
  color white
.offWhite
  color offWhite
.black
  color black
.offBlack
  color offBlack
.gray
  color gray
.red
  color red
.magenta
  color magenta
.dusk
  color dusk
