/**
 * colors
 */

white = #FFFFFF
red = #F45E48
magenta = #EC6382
dusk = #45484C

/**
 * gradients
 */



/**
 * classes
 */

.white
  color white
.red
  color red
.magenta
  color magenta
.dusk
  color dusk
