extend ../_partials/layout

append vars
  - var pageName = "post-page"
  - var logoClass = "white alt-blk-wht"
  - var menuClass = "white alt-blk-wht"

block content
  include ../_partials/header
  
  section(class="area-header center alt-to-wht")
    h1(class="heading white")= title
    h6(class="heading-tiny white")= subtitle

  section(class="area-light area-sml alt-to-blk")
    div(class="bg-slanted")
    
    div.markdown-body
      block postContent

    div(class="center")
      a(href="mailto:us@builtbyhq.com", class="btn btn-alien") APPLY NOW
