extends _template

append vars
  - var title = 'Frontend Developer'
  - var subtitle = 'FULL/PART-TIME'

block postContent
  :marked
    We are obsessed with great design. Making our clients look amazing is what we get paid to do. We are often looking to add great talent to our front end dev team.

    ## WHAT WE 	BUILD

    *	iOS and Android apps
    *	Web dashboards
    *	Complex user flows
    *	Marketing websites

    If you’re interested in making awesome stuff, shoot an email to us@builtbyhq.com with some examples of your work. We hire both senior and junior developers, so we’d be happy to talk as long as you know the ropes.
