extends /views/openings/_template

append vars
  - var title = 'Frontend Developer'
  - var subtitle = 'FULL/PART-TIME'
  - var pageTitle = "Work at HQ | Frontend Developer"
  - var pageDescription = "Join our team as a frontend developer. Work on app development projects, web dashboards, marketing websites, and more!"

block postContent
  :marked
    We are obsessed with great design. Making our clients look amazing is what we get paid to do. We are often looking to add great talent to our dev team.

    ## WHAT WE 	BUILD

    *	iOS and Android apps
    *	Web dashboards
    *	Complex user flows
    *	Marketing websites

    If you’re interested in making awesome stuff, shoot an email to us@builtbyhq.com with some examples of your work. We hire both senior and junior developers, so we’d be happy to talk as long as you know the ropes.
