extends _template

append vars
  - var title = 'iOS Developer'
  - var subtitle = 'FULL/PART-TIME'

block postContent
  :marked
    We have made some pretty awesome apps, and we are going to make even cooler ones.

    If you’re interested in making awesome stuff, shoot an email to us@builtbyhq.com with some examples of your work. We hire both senior and junior developers, so we’d be happy to talk as long as you know the ropes.
