extends /views/openings/_template

append vars
  - var title = 'Project Manager'
  - var subtitle = 'FULL-TIME'
  - var openingAvai = "apply-position-filled"

block postContent
  :marked
    We have currently filled this position. Please email us@builtbyhq.com to be considered for future openings.
  //- This position would be ideal for someone just out of college. We’re all young, with big ideas and lots of energy. We’re looking for two people to help manage all the awesome work we’re presenting to our clients.
  //-
  //- ## RESPONSIBILITIES
  //-
  //- * Manage multiple web/mobile projects simultaneously through their complete project lifecycle
  //- * Manage and monitor project retainers
  //- * Manage accounts on Quickbooks
  //- * Update clients on retainers’ statuses
  //- * Develop and manage client relationships
  //- * Define and manage project scope while meeting project deadlines
  //- * Manage website and web/mobile app evaluation, production, and testing
  //- * Lead design (6 right-brainers) and development (8 left-brainers) teams
  //- * Manage payroll, PTO, and the onboarding process for new employees
  //- * Evaluate team effectiveness and happiness
  //- * Interview new employee candidates
  //-
  //- ## SKILLS
  //-
  //- * Superb organizational skills
  //- * Stellar oral and written communication skills
  //- * Ability to interact with diverse groups of technical and non-technical people
  //- * Strong internet skills and proficiency with Google Drive (docs, spreadsheets, and calendar)
  //- * Ability to give and take constructive feedback on a daily basis
  //- * Ability to solve problems creatively
  //- * Incredible attention to detail and ability to work without error required
  //- * Strong interest in working in a creative, fast paced, startup environment 
  //-
  //- ## BONUS
  //-
  //- * Familiar with Quickbooks, time-tracking software, and/or spreadsheets
  //- * Familiar with HR and time-tracking software or strong desire to learn
  //-
  //- **Contact:** Email resume and an informal cover letter to us@builtbyhq.com with the subject heading, I Really Want to Work for HQ. Should you be invited to an interview, please come prepared to prove through story or experience that you have the qualifications above. We’re looking for confident and self-motivated people, who are happiest working in a creative, fast-paced, environment.
