extends /views/openings/_template

append vars
  - var title = 'Quality Assurance Tester'
  - var subtitle = 'PART-TIME'
  - var pageTitle = "Work at HQ | Quality Assurance Tester"
  - var pageDescription = "Join our team as a quality assurance tester. Work on app development projects, web dashboards, marketing websites, and more!"

block postContent
  :marked
    
    In order to build great products, we have to know where they fail. Our testers aren’t expected to fix anything; just to help us find what can be improved. 

    Being comfortable with computers and websites is important. Experience with design and/or development is a plus, but honestly, attention to detail is the biggest qualifier for this position. 

    ## SOME WAYS WE TEST

    * Comparing prototypes to original designs
    * Actively trying to break websites & apps
    * Communicating with designers, developers, and clients about intended features

    This job is easily doable from home and is typically not time sensitive.
    
    If you’re interested in helping us improve our quality of work, shoot an email to us@builtbyhq.com. 

    ## WHAT WE 	BUILD

    *	iOS and Android apps
    *	Web dashboards
    *	Complex user flows
    *	Marketing websites
