extends /views/openings/_template

append vars
  - var title = 'UX Designer'
  - var subtitle = 'FULL/PART-TIME'
  - var pageTitle = "Work at HQ | UX Designer"
  - var pageDescription = "Join our creative team as UX designer. You'll help design apps, web dashboards, complex user flows, marketing websites, and brands."

block postContent
  :marked
    We are obsessed with great design. Making our clients look amazing is what we get paid to do. We are often looking to add great talent to our design team.

    ## WHAT WE DESIGN

    *	iOS and Android apps
    *	Web dashboards
    *	Complex user flows
    *	Marketing websites
    *	Brands

    ## HOW WE DESIGN

    *	User research
    *	Mood boards
    *	User testing and analytics
    *	Team collaboration

    ## TOOLS WE USE

    *	Sketch
    *	Adobe Creative Suite
    *	Get down and dirty with the code

    If you’re interested in making awesome stuff, shoot an email to us@builtbyhq.com with your design portfolio. We hire both senior and junior designers, so we’d be happy to talk as long as you know the ropes. We also work with contractors often if that's your kind of thing.
