.thoughts-page
  background white

  h1, h4
    color white

  .logo
    fill white

  section
    padding-top 20px
    padding-bottom 20px

  .posts
    width 100%
    max-width 1050px
    margin auto

    .post
      padding 45px 0
      text-align left
      position relative
      &:not(:last-child)
        border-bottom 1px solid grayLgt
      &:hover
        .icon-arrow-right
          border-color purple
          color purple
        h1
          color purple

      h1
        color black
        text-align left
      h4
        color rgba(0, 0, 0, .5)
        text-align left
      .icon-arrow-right
        width 45px
        height 45px
        position absolute
        right 0
        top 50%
        margin-top -23px
        line-height 49px
        text-align center
        border 1px solid grayLgt
        border-radius 50%
        font-size 14px
        &:before
          margin-left 4px
        +below(500px)
          display none
